body {
    background: transparent;
    overflow-x: hidden;
	font-size: 13px;
    color: #000000;
}
a {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
a:hover {
	text-decoration: none;
}
ul, li {
    list-style: none;
    margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p, label {
	margin: 0;
	padding: 0;
}
*:hover, *:active, *:focus {
	outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
.flexCenter, .flexBetween, .flexAround, .flexEnd, .flexStart {
	display: flex;
	align-items: center;
}
.flexCenter {
	justify-content: center;
}
.flexBetween {
	justify-content: space-between;
}
.flexAround {
	justify-content: space-around;
}
.flexEnd {
	justify-content: flex-end;
}
.flexStart {
	justify-content: flex-start;
}
/*=======================================
	HEADER
=======================================*/
/* header top */
.header .header_top {
	width: 100%;
	height: 32px;
	background: #f2f2f2;
	border-bottom: 1px solid #e5e5e5;
	z-index: 999999;
}
.header .header_top .header_greeting, .header .header_top .header_quickmenu {
	height: 32px;
	line-height: 32px;
}
.header .header_top .header_greeting span, .header .header_top .header_greeting a {
	color: #999;
	padding-right: 20px;
}
.header .header_top .header_greeting span {
	font-weight: 600;
}
.header .header_top .header_greeting a:hover {
	color: #FF0036;
}
.header .header_top .header_quickmenu {
	position: absolute;
    right: 0;
    top: 0;
}
.header .header_top .header_quickmenu li {
	display: inline-block;
	padding: 0 8px;
	position: relative;
}
.header .header_top .header_quickmenu li.separator {
	width: 0;
	height: 14px;
    line-height: 14px;
    vertical-align: text-bottom;
	border-right: 1px solid #b2b2b2;
	padding: 0;
	margin: 0 5px 2px;
}
.header .header_top .header_quickmenu li a {
	display: block;
	color: #999;
	position: relative;
}
.header .header_top .header_quickmenu li a i {
	color: #FF0036;
	margin-left: 2px;
}
.header .header_top .header_quickmenu li a i.fa-chevron-right {
	color: #999;
	font-size: 10px;
}
.header .header_top .header_quickmenu li a:hover {
	color: #000;
	font-weight: 600;
}
.header .header_top .header_quickmenu li a:hover i.fa-chevron-right {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}
.header .header_top .header_quickmenu li .header_dropmenu {
	display: none;
	background: #fff;
	border: 1px solid #e5e5e5;
	padding: 8px 10px;
	position: absolute;
	top: 100%;
	right: 0;
	left: auto;
    z-index: 10;
}
.header .header_top .header_quickmenu li:hover .header_dropmenu {
	display: block;
}
.header .header_top .header_quickmenu li .header_dropmenu a {
	white-space: nowrap;
}
.header_logo {
    height: 100px;
    overflow: hidden;
}
.header_logo img {
    height: 80px;
    width: auto;
    margin: 10px auto;
    display: block;
}
/* header mobile */
.header_mobile {
    height: 80px;
    background: #ff0036;
	color: #fff;
    position: relative;
}
.header_mobile a {
	color: #fff;
}
.header_mobile .brand {
    height: 40px;
}
.header_mobile .brand img {
    filter: brightness(0) invert(1);
    width: auto;
    height: 30px;
    margin: 5px 0;
}
.header_mobile .search-bar {
    display: flex;
}
.header_mobile .menu-bar {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.header_mobile .search {
    width: 100%;
    height: 40px;
	padding: 5px 0;
	position: relative;
}
.header_mobile .search input {
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 3px;
    padding: 4px 10px;
    font-size: 16px;
    line-height: 16px;
}
.header_mobile .search .search_button {
    padding: 6px 10px;
    position: absolute;
    right: 0;
    top: 4px;
    border: 0;
    background-color: transparent;
}
.header_mobile .sub-menu {
    position: absolute;
    top: 80px;
    z-index: 9;
    width: 100%;
    text-align: left;
    padding: 10px 15px;
    background-color: rgba(0,0,0,.55);
}
.header_mobile .sub-menu li {
    line-height: 28px;
    height: 28px;
    margin-bottom: 10px;
}
.header_mobile .sub-menu li img {
    height: 100%;
    width: auto;
    vertical-align: text-bottom;
}
/* header middle */
.header .header_middle .header_search {
    height: 100px;
	position: relative;
    padding: 30px 0;
}
.header .header_middle .header_search form input {
    width: 100%;
    height: 40px;
    border: 2px solid #ff0036;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 3px;
}
.header .header_middle .header_search .search_button {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: #ff0036;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 30px;
    border-radius: 0 4px 4px 0;
}
.header .header_middle .header_search .search_button:focus {
	outline: none
}
/* header bottom */
.header .header_bottom {
	border-bottom: 1px solid #ff0036;
}
.header_mainmenu {
    position: relative;
}
.header .header_bottom .header_mainmenu a {
	display: block;
	color: #fff;
	font-size: 16px;
    font-weight: 700;
	padding: 8px 10px;
}
.header .header_bottom .header_mainmenu a.menu_head {
	height: 35px;
	background-color: #ff0036;
    border-radius: 4px 4px 0 0;
    line-height: 18px;
}
.header .header_bottom .header_mainmenu a img {
	height: 20px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	margin-right: 10px;
}
.header .header_bottom .header_mainmenu ul {
    width: 100%;
    position: absolute;
    top: 36px;
    background-color: rgba(0,0,0,.55);
    z-index: 100;
    padding: 0;
}
.header .header_bottom .header_mainmenu:hover ul {
	display: block;
}
.header .header_bottom .header_mainmenu ul li {
	height: 40px;
}
.header .header_bottom .header_mainmenu ul li:hover a {
	background-color: #fff;
	color: #000;
}
.header .header_bottom .header_mainmenu ul li:hover a img {
	filter: brightness(0);
}
/* ------------------ */
.header .header_bottom .header_side_menu {
    display: flex;
}
.header .header_bottom .header_side_menu ul li {
	display: inline-block;
	margin-right: 10px;
}
.header .header_bottom .header_side_menu a {
	display: block;
	height: 35px;
	font-weight: 500;
    font-size: 15px;
    color: #333;
	text-transform: uppercase;
	padding: 6px 10px;
	white-space: nowrap;
}
.header .header_bottom .header_side_menu a:hover {
    color: #ff0036;
}
.header .header_bottom .header_side_menu a:first-child {
    color: #00B262;
	font-weight: 700;
}
.header .header_bottom .header_side_menu a:nth-child(2) {
    color: #7A45E5;
	font-weight: 700;
}

/*=======================================
	MAIN
=======================================*/
.main {
	background-color: #f5f5f5;
}
/* home slider */
.home_slider {
}
.home_slider .carousel .carousel-item, .home_slider .carousel .carousel-item img {
	height: 100%;
}
/* home product */
.product_section {
	margin-top: 30px;
}
.product_section h1 {
	color: #00f9ff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}
.product_filter {
}
.product_filter .product_grid {
    position: relative;
    margin-bottom: 10px;
    padding: 0 5px;
}
.product_filter .product_content {
	background-color: #fff;
	height: 240px;
	text-align: center;
	padding: 10px;
	border: 1px solid #fff;
}
.product_filter .product_content .product_thumb {
	overflow: hidden
}
.product_filter .product_content .productTitle {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
    text-transform: uppercase;
    padding: 0;
}
.product_filter .product_content .productPrice {
	font-size: 15px;
    line-height: 20px;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	color: #ea5f8d;
}
.product_filter .product_content img {
    width: auto;
    height: 150px;
    margin: 10px 0;
}
.product_filter .product_grid a:hover .product_content {
	border: 1px solid #ea5f8d;
}
/* brand */
.home_brand {
	margin-top: 30px;
}
.home_brand .product_grid {
	width: 100%;
}
.home_brand .product_grid h3 {
	height: 51px;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid #eee;
	padding: 0 10px;
}
.home_brand .product_grid h3 a {
	color: #999;
}
.home_brand .product_grid h3 a:hover {
	color: #ff0036;
}
.home_brand .product_grid .brand_image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.home_brand .product_grid .brand_image img {
    height: 290px;
    width: auto;
}
.home_brand .brand_list {
	margin-top: 20px;
}
.home_brand .brand_list .brand_list_item {
	height: 100px;
	background-color: #fff;
	margin-bottom: 2px;
	position: relative;
}
.home_brand .brand_list .brand_list_item img {
	height: 40px;
}
.home_brand .brand_list .brand_list_item .brandItemInfo {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	flex-direction: column;
}
.home_brand .brand_list .brand_list_item:hover .brandItemInfo {
	display: flex;
}
.home_brand .brand_list .brand_list_item .brandItemInfo span:first-child {
	width: 95%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.home_brand .brand_list .brand_list_item .brandItemInfo span:last-child {
	color: #fff;
	background-color: #ff0036;
	padding: 3px 20px;
	border-radius: 20px;
}

/* home category */
.home_category .home_category_title {
	margin-bottom: 15px;
}
.home_category .home_category_title span {
	display: inline-block;
    background-color: #333;
    width: 5px;
    height: 18px;
    vertical-align: middle;
}
.home_category .home_category_title h4 {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
    font-size: 16px;
    color: #000;
	text-transform: uppercase;
    margin-left: 10px;
}
.home_category .home_categoryBanner img {
	max-height: 490px;
}
.home_category .home_categoryBanner .bannerDetail {
	position: absolute;
	bottom: 20%;
}
.home_category .home_categoryBanner .bannerDetail .leftDetail {
	background: rgba(0,0,0,.9);
    width: 70px;
    height: 64px;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
	text-transform: uppercase;
}
.home_category .home_categoryBanner .bannerDetail .rightDetail {
	left: 70px;
    top: 0;
    position: absolute;
    background: rgba(0,0,0,.6);
    overflow: hidden;
    width: 128px;
    height: 64px;
    color: #fff;
    vertical-align: middle;
	flex-direction: column;
	text-transform: uppercase;
}
/*=======================================
	FOOTER
=======================================*/
.footer {
	padding-top: 30px;
	border-top: 1px solid #333;
}





/* Mobile */
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
	.home_brand .product_grid .brand_image {
		height: auto;
	}
	.home_brand .product_grid .brand_image img {
		height: auto;
		width: 100%;
	}
}
@media only screen and (max-width: 576px) {
}