/*-------------------------------------------- Category feature CSS Start --------------------------------------*/
.tt-category-featured {
	background: #ffffff;
	float: left;
	position: relative;
	width: 100%;
	z-index: 1;
	margin: 20px 0 10px;
}
.tt-category-featured .container {
  position: relative;
}
.tt-category-featured .box-heading {
  display: none;
}
.tt-category-featured .ttfcat-items {
	float: left;
	position: relative;
	width: 100%;
	border: 1px solid #e5e5e5;
	display: inherit;
	overflow: hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}
.tt-category-featured .ttfcat-items .category-feature {
	margin: 0;
}
.tt-category-featured .ttfcat-items .item {
	margin: 0;
	float: left;
	width: 100%;
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-ms-transition: 400ms ease-in-out;
	-o-transition: 400ms ease-in-out;
	transition: 400ms ease-in-out;
}
.tt-category-featured .ttfcat-items .item .content {
	width: 100%;
	float: left;
	margin: 0;
	padding: 35px 10px 40px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
	z-index: 1;
	border-right: 1px solid #e5e5e5;
	text-align: center;
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-ms-transition: 400ms ease-in-out;
	-o-transition: 400ms ease-in-out;
	transition: 400ms ease-in-out;
}
.tt-category-featured .ttfcat-items .category-feature .item .content:hover, .tt-category-featured .ttfcat-items .category-feature .item .content:active, .tt-category-featured .ttfcat-items .category-feature .item .content:focus, .tt-category-featured .ttfcat-items .category-feature .item:hover, .tt-category-featured .ttfcat-items .category-feature .item:focus,.tt-category-featured .ttfcat-items .owl-item:first-child{
	background: #fed700;
	color: #000;
	border-color: #fed700;
}
.tt-category-featured .category-feature .image {
	float: left;
	width: 100%;
}
.tt-category-featured .ttfcat-items .item .image a {
	display: block;
	overflow: hidden;
	position: relative;
	transition: all 400ms ease-in-out 0s;
	-webkit-transition: all 400ms ease-in-out 0s;
	-moz-transition: all 400ms ease-in-out 0s;
	-o-transition: all 400ms ease-in-out 0s;
	-ms-transition: all 400ms ease-in-out 0s;
}
.tt-category-featured .ttfcat-items .item:hover .image a {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}
.tt-category-featured .ttfcat-items .item .image a img {
	max-width: 100%;
	margin: 0 auto;
}
.tt-category-featured .category-feature .caption {
	display: inline-block;
	float: none;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: auto;
}
.tt-category-featured .category-feature .caption .cat-sub {
	display: none;
}
.tt-category-featured .products-carousel .owl-buttons {
	display: none;
}
.tt-category-featured .caption .cat-title > h4 {
  margin: 10px 0 5px;
  float: left;
  width: 100%;
  color: #000;
}
.tt-category-featured .caption .cat-title > h4 a {
	color: #000;
	font: 600 16px/20px "Open Sans",Helvetica,sans-serif;
	letter-spacing: 1px;
	text-transform: capitalize;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	float: left;
	width: 100%;
}
.tt-category-featured .item:hover .caption .cat-title > h4 a {
	color: #000000;
}
.tt-category-featured .category-feature .caption .desc {
	float: left;
	width: 100%;
	font: italic 400 14px/24px Open Sans,sans-serif;
	margin: 0;
	color: #777;
}
.tt-category-featured .ttfcat-items .owl-item:first-child .caption .desc {
	color: #000;
}
/*-------------------------------------------- Category feature custome CSS start --------------------------------------*/
.tt-category-featured .customNavigation {
  position: static;
}
.tt-category-featured .customNavigation a {
	bottom: 0;
	position: absolute;
	margin: auto;
	top: 0;
	z-index: 2;
}
.tt-category-featured .customNavigation a.prev {
	left: 15px;
	right: auto;
}

.tt-category-featured .customNavigation a.next {
	left: auto;
	right: 15px;
}
/*-------------------------------------------- Category feature custome CSS End --------------------------------------*/
/*-------------------------------------------- Category feature CSS End --------------------------------------*/
@media (min-width: 480px) and (max-width: 481px) {
	.tt-category-featured .category-feature .caption::before,
	.tt-category-featured .caption .cat-title > h4 a::after {
		width: auto;
	}
}
@media (max-width: 1401px) {
	.tt-category-featured .ttfcat-items .item .content {
		padding: 35px 5px 40px;
	}
	.tt-category-featured .caption .cat-title > h4 a {
		font-size: 15px;
	}
}
@media (max-width: 1199px) {
	.tt-category-featured .caption .cat-title > h4 a {
		font-size: 16px;
	}
}
@media (max-width: 480px) {
	.tt-category-featured .customNavigation a.prev {
		left: 0;
		right: auto;
	}
	.tt-category-featured .customNavigation a.next {
		left: auto;
		right: 0;
	}
	.tt-category-featured .caption .cat-title > h4 a {
		font-size: 14px;
	}
	.tt-category-featured .ttfcat-items .item .content {
		padding: 15px 10px 20px;
	}
}