/* newsletter popup */
.b-close{
	display: block;
}
.b-close::before {
	content: "\e14c";
	height: 25px;
	left: -1px;
	position: absolute;
	right: auto;
	top: 3px;
	transition: all 0.5s ease-in-out 0ms;
	-webkit-transition: all 0.5s ease-in-out 0ms;
	-moz-transition: all 0.5s ease-in-out 0ms;
	-o-transition: all 0.5s ease-in-out 0ms;
	-ms-transition: all 0.5s ease-in-out 0ms;
	width: 25px;
	z-index: 1;
	font-family: 'Material Icons';
	font-size: 20px;
	color: #000;
	font-weight: 600;
}
#popup2:hover .b-close:before {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
.ttpopupclose {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	cursor: url("../images/pop.png"), pointer;
}
.newletter-popup #dialog {
	bottom: auto;
	left: 0;
	margin: auto;
	right: 0;
	top: 0;
	z-index: 100;
	position: absolute;
	height: 470px;
	max-width: 600px;
}
.b-close span { display:none; }
.newletter-popup {
	background: #fff;
	background-attachment: scroll;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	-webkit-background-position: center bottom;
	-moz-background-position: center bottom;
	-o-background-position: center bottom;
	-webkit-background-repeat: no-repeat;
	-moz-background-repeat: no-repeat;
	-o-background-repeat: no-repeat;
	background-repeat: no-repeat;
	top: 50% !important;
	margin-top: -235px;
	position: fixed !important;
	text-align: center;
	display: none;
	height: 470px;
	width: 600px;
	transition: opacity .15s linear;
	-webkit-transition: opacity .15s linear;
	-moz-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	-ms-transition: opacity .15s linear;
}
.newslatter-img {
	background: url("../images/newsletter.png");
	height: 470px;
	padding: 0;
}
.newletter-popup .box {
	float: right;
	padding: 60px 10px 0;
	text-align: center;
}
.newletter-popup #boxes .newletter-title h2 {
	color: #222;
	margin: 0;
	position: relative;
	text-transform: capitalize;
	font: 700 28px/34px Open Sans,sans-serif;
	padding: 0 0 15px;
	text-align: center;
}
.newletter-popup #boxes .newletter-title h2::after {
	background: #f3283d;
	content: "";
	bottom: -2px;
	top: auto;
	width: 50px;
	height: 3px;
	position: absolute;
	left: 0;
	right: 0;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	margin: 0 auto;
}
.newletter-popup .newletter-title {
  float: left;
  position: relative;
  width: 100%;
}
.newletter-popup .newleter-content {
  float: left;
  width: 100%;
}
#boxes .box-content label {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	cursor: pointer;
	color: #666666;
	letter-spacing: 1px;
}
#boxes .box-content label:hover {
	color: #000000;
}
#boxes  #frm_subscribe .required{
	color: #f00;
	padding-right: 5px;
}
#boxes #frm_subscribe #subscribe_pemail {
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	height: 45px;
	padding: 5px 15px;
	width: 90%;
	text-align: center;
	color: #666;
	margin: 20px 0 25px;
	letter-spacing: 1px;
}
#boxes .box-content .subscribe-bottom{
	margin-top: 20px;
}
#boxes .box-content .subscribe-bottom #newsletter_popup_dont_show_again{
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
.newslatterpopup-content > span {
	font-size: 14px;
	padding: 0 10px;
	float: left;
	width: 100%;
	line-height: 24px;
	margin: 0 0 5px;
}
#boxes  #frm_subscribe #notification{
	color: #c22312;
	float: left;
	font-size: 14px;
	text-align: center;
	width: 100%;
}
#subscribe_popup #notification > div {
  margin: 0;
}
#boxes  #frm_subscribe #notification .success{
	color: #4caf50;
}
#popup2 {
	cursor: pointer;
	height: 25px;
	line-height: 24px;
	padding: 0;
	position: absolute;
	right: 1px;
	text-align: center;
	top: 1px;
	width: 25px;
}
.popup-button {
  display: inline-block;
  float: none;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
/* newsllter */
#dialog-normal .newletter-title {
	float: left;
	padding: 0 0 0 50px;
	margin: 0 0 20px;
	text-align: left;
	width: 100%;
	position: relative;
}
#newletter-boxes {
	float: left;
	width: 100%;
}
#dialog-normal .newletter-title h2 {
	position: relative;
	border: medium none;
	color: #000;
	float: left;
	font: 600 20px/30px "Open Sans",Helvetica,sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	text-transform: capitalize;
	width: 100%;
}
#dialog-normal .newletter-title .tt-title::before {
	height: 50px;
	left: -48px;
	position: absolute;
	width: 40px;
	top: -1px;
	bottom: 0;
	margin: 0 auto;
	font-size: 38px;
	line-height: 48px;
	content: "\e151";
	font-family: Material Icons;
}
#dialog-normal .newleter-content {
	float: right;
	max-width: 700px;
	padding: 0;
	width: 100%;
}
#dialog-normal .newletter-desc {
	float: left;
	color: #666;
	font: 400 14px/24px Open Sans,sans-serif;
	text-transform: capitalize;
}
#form_subscribe{
	float: left;
	position: relative;
	text-align: center;
	width: 100%;
}
.newletter-subscribe {
	float: left;
	padding: 57px 10px 57px 80px;
}
.newletter-subscribe .box {
  float: left;
  width: 100%;
}
#subscribe_email {
	height: 42px;
	background: #ffffff none repeat scroll 0 0;
	border: none;
	color: #000;
	float: left;
	overflow: hidden;
	padding: 0 45px 0 15px;
	width: 100%;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.05);
	-ms-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.05);
	-o-box-shadow: 0 2px 3px 0px rgba(0,0,0,0.05);
	box-shadow: 0 2px 3px 0px rgba(0,0,0,0.05);
	letter-spacing: 1px;
}
#subscribe_email::-webkit-input-placeholder{
  color: #000;
}
#subscribe_email::-moz-placeholder{
  color: #000;
}
#subscribe_email:-ms-input-placeholder{
  color: #000;
}
#subscribe_email:-moz-placeholder {
  color: #000;
}
#subscribe .btn {
	font-size: 0;
	font-weight: 400;
	padding: 12px 0 10px 0;
	background: #000000 none repeat scroll 0 0;
	border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
	-khtml-border-radius: 0 8px 8px 0;
	color: #fff;
	height: 42px;
	letter-spacing: 1px;
	overflow: hidden;
	position: absolute;
	right: 0px;
	top: 0;
	bottom: 0;
	width: 43px;
}
#subscribe .btn:hover {
	background: #e13d1d;
	color: #fff;
	border: none;
}
#subscribe .btn::before {
    color: #fff;
    content: "\e5cc";
    font-family: "Material Icons";
    font-size: 24px;
    line-height: 18px;
    padding: 0 0 0 10px;
	-webkit-transition: 500ms ease-in-out;
	-moz-transition: 500ms ease-in-out;
	-ms-transition: 500ms ease-in-out;
	-o-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}
#subscribe .btn:hover::before {
	color: #fff;
}
#subscribe .btn::after {
	background: #fff none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.2;
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	-webkit-opacity: 0.2; 
	position: absolute;
	top: 0;
	width: 0;
	-webkit-border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	-khtml-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
	-webkit-transition: 500ms ease-in-out;
	-moz-transition: 500ms ease-in-out;
	-ms-transition: 500ms ease-in-out;
	-o-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}
#subscribe .btn:hover::after {
	width: 100%;
}
.newletter-subscribe .button i {
  display: none;
}
#notification-normal{
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px; 
	-khtml-border-radius: 8px;
	bottom: auto;
	float: left;
	overflow: hidden;
	position: absolute;
	top: 50px;
	width: 100%;
}
#notification-normal div{
	background: #dff0d8;
	color: #3c763d;
	font-size: 14px;
	padding: 10px 15px;
}
#notification-normal div.warning{
	background: #f2dede;
	color: #a94442;
}
@media(max-width:1501px){
	.newletter-subscribe {
		padding: 57px 10px 57px 50px;
	}
}
@media(max-width:1259px){
	.newletter-subscribe {
		padding: 57px 10px 57px 15px;
	}
}
@media(max-width:1199px){
	#dialog-normal .newletter-title h2 {
		font-size: 20px;
	}
}
@media(max-width:991px){
	#dialog-normal .newletter-title {
		display: inline-block;
		float: none;
		vertical-align: top;
		width: auto;
		text-align: center;
		padding: 0 0 0 55px;
	}
	#dialog-normal .newletter-title .tt-title::before {
		display: inline-block;
		float: none;
		vertical-align: top;
		left: -43px;
	}
	#dialog-normal .newleter-content {
		display: inline-block;
		float: none;
		padding: 0 0 5px;
		vertical-align: top;
		width: 500px;
	}
	.newletter-subscribe {
		padding: 15px 10px;
		float: left;
		width: 100%;
		text-align: center;
		display: inline-block;
		vertical-align: top;
	}
	#dialog-normal .newletter-title h2 {
		float: none;
		width: auto;
	}
	#notification-normal {
		position: static;
		margin: 10px 0 0;
	}
}
@media(max-width:767px){ 
	#dialog-normal .newleter-content {
		width: 460px;
	}
}
@media(max-width:600px){
	.newletter-popup {
		width: 300px;
		top: 2% !important;
		margin: 0;
		height: 100%;
		overflow-y: auto;
	}
	.newslatter-img {
		position: static;
		width: 100%;
	}
	.b-close::before {
		background-color: #fff;
	}
	#boxes #frm_subscribe #subscribe_pemail {
		margin: 25px 0;
	}
	.newletter-popup .box {
		width: 100%;
		margin: 0;
		padding: 20px 10px;
	}
	#boxes .box-content .subscribe-bottom {
		margin-top: 20px;
	}
	#dialog-normal .newleter-content {
		width: 400px;
	}
	#dialog-normal .newletter-title {
		margin: 0 0 15px;
	}
	.newletter-popup #dialog {
		height: 500px;
	}
}
@media(max-width:480px){
	.newletter-popup {
		width: 300px;
		margin: 0;
		top: 1% !important;
		height: 100%;
		overflow-y: auto;
	}
	.newslatter-img {
		width: 100%;
		height: 470px;
	}
	.newletter-popup .box {
		width: 100%;
	}
	.newletter-popup #boxes .newletter-title h2 {
		font-size: 22px;
		line-height: 24px;
	}
	#boxes #frm_subscribe #subscribe_pemail {
		width: 80%;
	}
	#dialog-normal .newletter-desc {
		width: 100%;
	}
	#dialog-normal .newletter-title h2 { 
		padding: 32px 0 0;
		float: none;
		width: auto;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}
	#dialog-normal .newletter-title .tt-title::before {
	  	left: 0;
	  	margin: 0 auto;
	  	position: absolute;
	  	right: 0;
	  	top: -10px;
	}
	#dialog-normal .newleter-content {
		width: 300px;
	}
	#dialog-normal .newletter-title {
		padding: 0 10px;
	}
	#subscribe .btn::before {
		padding: 0;
	}
	.newletter-subscribe {
		padding: 25px 0 15px;
	} 
	.newletter-subscribe .button > span {
		display: none;
	}
	#subscribe_email {
		padding: 0 50px 0 10px;
	}
}