/*---------------------------------------------------------- Blog Common css start ----------------------------------------------------*/
.blog-content .image_thumb {
	width: 100%;
}
#ttsmartblog-carousel.owl-carousel .owl-buttons div {
    display: none;
}
#ttsmartblog-carousel.owl-carousel {
    border: none;
	list-style: none;
}

#ttsmartblog-carousel .owl-item > li {
    float: left;
    width: 100%;
}
.comment-list {
	float: left;
	width: 100%;
    list-style: none;
	border: 1px solid #f0f0f0;
	padding: 20px 40px;
}
.comment-list .panel.panel-default {
    background: none;
    border: none;
}
.ttblogcomments {
    float: left;
    width: 100%;
}
.ttblogcomments > div {
    background: #ffffff;
    float: left;
    padding: 10px 0;
    width: 100%;
}
#add-comment .alert.alert-info {
    margin: 0;
}
#article_comments h3.title_block {
    float: left;
    width: 100%;
}
.comments-block {
    background: #fff;
    float: left;
    width: 100%;
}
#ttsmartblog-carousel .blog-content {
	float: left;
	width: 100%;
	text-align: center;
}
#ttsmartblog-carousel .comment {
    display: none;
}
.customNavigation a span {
	display: none;
}
#ttsmartblog-carousel .owl-nav {
	position: absolute;
	z-index: 1;
	float: none;
	top: -60px;
	bottom: auto;
	display: inline-block;
	vertical-align: top;
	width: auto;
	text-align: center;
	right: 10px;
	left: auto;
	margin: 0;
}
#ttsmartblog-carousel .owl-nav button {
	float: left;
	vertical-align: top;
	text-shadow: none;
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	height: 30px;
	width: 30px;
	margin: 0;
	padding: 0;
	font-size: 0;
	background: none;
	float: left;
	position: relative;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	top: 0;
	left: 0;
	right: 0;
}
#ttsmartblog-carousel .owl-nav button.owl-prev {
	border-right: 1px solid #e5e5e5;
}
#ttsmartblog-carousel .owl-nav button::after, #ttsmartblog-carousel .owl-nav button::before {
	position: absolute;
	font-size: 22px;
	line-height: 30px;
	font-family: "Material Icons";
	height: 30px;
	width: 30px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	color: #777;
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-ms-transition: 400ms ease-in-out;
	-o-transition: 400ms ease-in-out;
	transition: 400ms ease-in-out;
	font-weight: 400;
}
#ttsmartblog-carousel .owl-nav button.owl-prev::before {
	content: "\e314";
	left: 10px;
	right: auto;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	font-size: 22px;
	color: #000;
}
#ttsmartblog-carousel .owl-nav button.owl-next::before {
	content: "\e315";
	right: 10px;
	left: auto;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	font-size: 22px;
	color: #000;
}
#ttsmartblog-carousel .owl-nav button.owl-next:hover::before {
	right: 0;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
#ttsmartblog-carousel .owl-nav button.owl-prev:hover::before {
	left: 0;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
#ttsmartblog-carousel .owl-nav button::after, #ttsmartblog-carousel .owl-nav button::before {
	position: absolute;
	font-size: 22px;
	line-height: 30px;
	font-family: "Material Icons";
	height: 30px;
	width: 30px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	color: #777;
	-webkit-transition: 400ms ease-in-out;
	-moz-transition: 400ms ease-in-out;
	-ms-transition: 400ms ease-in-out;
	-o-transition: 400ms ease-in-out;
	transition: 400ms ease-in-out;
	font-weight: 400;
}
#ttsmartblog-carousel .owl-nav button.owl-next::after {
	content: "\e315";
}
#ttsmartblog-carousel .owl-nav button.owl-prev::after {
	content: "\e314";
}
#ttsmartblog-carousel .owl-nav button.owl-prev:hover::after, #ttsmartblog-carousel .owl-nav button.owl-next:hover::after {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
/*------------------------------------------------------------- Blog Common css End --------------------------------------------*/

/*---------------Start Home page css--------*/
#blog_latest_new_home {
	float: left;
	width: 100%;
	padding: 0;
	margin: 20px 0;
	position: relative;
}
#blog_latest_new_home .block_content {
    float: left;
	width: 100%;
}
#blog_latest_new_home .title_block .ttblock-heading {
  border: none;
  padding: 0;
}
#blog_latest_new_home:hover .box-heading > h3::after{
	width: 100%;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
}
#blog_latest_new_home .title_block .ttblock-heading::after {
	display: none;
}
#ttsmartblog-carousel .blog-content .post_title {
    margin:0 0 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li {
  padding: 0 15px;
  text-align: left;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog_image_holder {
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog_image_holder a > img {
	height: auto;
	max-width: 100%;
	width: 100%;
	transition: all 400ms ease-in-out;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content:hover .blog_image_holder a > img {
	transform: scale(1.1);
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog_image_holder a .blog-hover {
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  width: 100%;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog_image_holder .bloglinks {
  bottom: 0;
  height: 42px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog_image_holder .bloglinks a {
  border: 2px solid white;
  color: #ffffff;
  float: left;
   width: 40px;
  padding: 10px;
  height: 40px;
  opacity: 0;
  -moz-opacity: 0; 
	-khtml-opacity: 0; 
	-webkit-opacity: 0; 
    border-radius: 50%;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	-khtml-border-radius: 50%;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -khtml-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;

}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog_image_holder .bloglinks a i {
	float: left;
	font-size: 18px;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog_image_holder .bloglinks a:hover {
  background: #e13d1d;
  border-color: #e13d1d;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog_image_holder .bloglinks a:hover i {
  color: #fff;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog-sub-content {
	background: #ffffff;
	padding: 20px 0 0;
	text-align: center;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog-sub-content .blog-date {
	font-size: 14px;
	float: left;
	width: 40%;
	background: #fff;
	position: absolute;
	top: -38px;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-khtml-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	padding: 10px 5px;
}
#blog_latest_new_home .blog-caption .blog-date i {
	font-size: 14px;
	line-height: 22px;
	vertical-align: top;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog-sub-content .post_title a {
	color: #333333;
	font: 600 14px/20px "Open Sans", Helvetica, sans-serif;
	white-space: nowrap;
	text-transform: capitalize;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog-sub-content .post_title a:hover {
	color: #000000;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog-sub-content .post_title a:hover a i {
  color: #333333;
}
#blog_latest_new_home .blog-caption p {
	color: #777;
	float: left;
	font: 400 14px/22px Open Sans,sans-serif;
	width: 100%;
	margin: 0 0 6px;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog-sub-content .read-more {
	float: none;
	text-transform: capitalize;
	color: #e13d1d;
	width: auto;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	line-height: 21px;
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog-sub-content .read-more::after {
	vertical-align: top;
	padding: 0 5px 0 0;
	font-size: 12px;
	line-height: 24px;
	content: "\e5cc";
	font-family: "Material Icons";
}
#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog-sub-content .read-more:hover {
	color: #000;
}
@media (max-width: 991px) {
	#blog_latest_new_home {
		margin: 0 0 20px;
	}
	#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog_image_holder .bloglinks a {
	 opacity: 1;
	-moz-opacity: 1; 
	-khtml-opacity: 1; 
	-webkit-opacity: 1;
	  transform: scale(1);
	  -webkit-transform: scale(1);
	  -ms-transform: scale(1);
	  -o-transform: scale(1);
		transition: none;
	  -moz-transition: none;
	  -webkit-transition: none;
	  -khtml-transition: none;
	  -o-transition: none;
	}
	#blog_latest_new_home .block_content ul#ttsmartblog-carousel li .blog-content .blog_image_holder a .blog-hover{
		background: rgba(0,0,0,.4);
	}
}
@media (min-width: 768px) {
	#blog_latest_new_home .block_content ul#ttsmartblog-carousel li:hover .blog-content .blog_image_holder a .blog-hover {
 		 background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	}
	#blog_latest_new_home .block_content ul#ttsmartblog-carousel li:hover .blog-content .blog_image_holder .bloglinks a {
	  opacity: 1;
	-moz-opacity: 1; 
	-khtml-opacity: 1; 
	-webkit-opacity: 1;
	  transform: scale(1);
	  -webkit-transform: scale(1);
	  -ms-transform: scale(1);
	  -o-transform: scale(1);
	}
}
/*--------------------------------------------------- End Home page css ----------------------------------------------*/
/*------------------------------------------------ Start blog category css ------------------------------------------*/
#module-ttblog-category .blog-cat-title {
    display: none;
}
#module-ttblog-category {
    background: #ffffff;
    float: left;
    width: 100%;
}
#module-ttblog-details .blog-detail .blog_image_holder img {
    max-width: 100%;
    width: 100%;
}
#module-ttblog-category #blog_category {
  margin: 0 0 30px;
  border: 1px solid #f0f0f0;
}
#module-ttblog-category #blog_category > img {
  width: 100%;
}
#module-ttblog-category #blog_category .cat-blog-content {
  padding: 10px;
  text-align: left;
}
#module-ttblog-category #blog_category .cat-blog-content .blog-cat-title {
  font: 400 18px/20px "Open Sans", Helvetica, sans-serif;
  text-transform: capitalize;
}
#module-ttblog-category #blog_category .cat-blog-content .blog-cat-title a {
  color: #333333;
}
#module-ttblog-category #blog_category .cat-blog-content .ttblog-cat-desc {
  line-height: 24px;
}
#module-ttblog-category #ttblogcat .blog-item {
  width: 100%;
  padding: 0 0 30px;
}
#module-ttblog-category #ttblogcat .blog-item:last-child {
	padding: 0;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost {
  float: left;
  width: 100%;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .article-content {
  padding: 0;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .article-content img {
  height: auto;
  max-width: 100%;
  width: 100%;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .article-content .blog-hover {
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -khtml-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  width: 100%;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .article-content .bloglinks {
  bottom: 0;
  height: 42px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .article-content .bloglinks a {
  border: 2px solid white;
  border-radius: 50%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  -khtml-border-radius: 50%;
  color: #ffffff;
  float: left;
  height: 40px;
  opacity: 0;
  -moz-opacity: 0; 
  -khtml-opacity: 0; 
  -webkit-opacity: 0;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -khtml-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  width: 40px;
  padding: 11px 10px;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .article-content .bloglinks a i {
	float: left;
	font-size: 14px;
	font-weight: normal;
	line-height: 10px;
	padding: 2px 0;
	margin: 0;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .article-content .bloglinks a:hover {
  background: #e13d1d;
  border-color: #e13d1d;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .article-content .bloglinks a:hover i {
  color: #fff;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog {
  float: left;
  padding: 15px;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .article-header .blog-tool {
  margin: 0 0 10px;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .article-header .blog-tool > span {
  padding: 0 20px 0 0;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
  font-size: 12px;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .article-header .blog-tool > span .material-icons.mode-comment {
	font-size: 18px;
	line-height: 22px;
	display: inline-block;
	vertical-align: top;
	float: left;
	width: auto;
	margin: 0 5px 0 0;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .article-header .blog-tool > span:after {
  content: "/";
  position: absolute;
  right: 5px;
  top: 0;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .article-header .blog-tool > span:last-child:after {
  display: none;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .article-header .blog-title {
  margin: 0 0 15px;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .article-header .blog-title a {
  font: 600 18px/20px Open Sans,sans-serif;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #333333;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .sdsarticle-des {
  margin: 0 0 10px;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .sdsarticle-des .blog-desc {
  line-height: 24px;
  float: left;
  width: 100%;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .sdsreadMore {
  float: left;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .sdsreadMore .more a {
  float: left;
  text-transform: capitalize;
  color: #333;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .sdsreadMore .more a:hover {
  color: #000;
  text-decoration: underline;
}
#module-ttblog-category #ttblogcat .blog-item:hover .ttblogpost .article-content a .blog-hover {
  background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
}
#module-ttblog-category #ttblogcat .blog-item:hover .ttblogpost .article-content .bloglinks a {
  opacity: 1;
  -moz-opacity: 1; 
  -khtml-opacity: 1; 
  -webkit-opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
#module-ttblog-category #pagination_bottom {
  text-align: right;
}
@media (max-width: 767px) {
  #module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog {
    padding: 15px 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .sdsarticle-des {
    margin: 0 0 10px;
  }
    #module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .article-header .blog-title {
    margin: 0 0 10px;
  }
    #module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .article-header .blog-tool {
    margin: 0 0 10px;
  }
    #module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog {
    padding: 5px 15px;
  }
}
@media (max-width: 480px) {
  #module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .sdsarticle-des .blog-desc {
    line-height: 26px;
  }
  #module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .sdsarticle-des {
    margin: 0 0 10px;
  }
    #module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .article-header .blog-title {
    margin: 0 0 10px;
  }
  #module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .article-header .blog-tool > span {
    margin: 0 0 5px;
  }
    #module-ttblog-category #ttblogcat .blog-item .ttblogpost .out-content-blog .article-header .blog-tool {
    margin: 0 0 10px;
  }
  #module-ttblog-category #ttblogcat .blog-item .ttblogpost {
    padding: 0 0 30px;
  }
  #blog_latest_new_home {
	margin: 0 0 10px;
  }
}
/*---------------------------------------------End blog category css---------------------------------*/
/*------------------------------------------- Start blog details css -------------------------------*/
#module-ttblog-details #content .blog-post .blog_image_holder {
  padding: 0 0 20px;
  float: left;
  width: 100%;
}
#module-ttblog-details #content .blog-post .blog_image_holder a img {
  width: 100%;
}
#module-ttblog-details #content .blog-post .blog-detail-content {
  float: left;
  width: 100%;
}
#module-ttblog-details #content .blog-post .blog-detail-content .blog-tool {
  margin: 0 0 15px;
}
#module-ttblog-details #content .blog-post .blog-detail-content .blog-tool > span {
  padding: 0 20px 0 0;
  position: relative;
  text-transform: capitalize;
  display: inline-block;
}
#module-ttblog-details #content .blog-post .blog-detail-content .blog-tool > span:after {
  content: "/";
  position: absolute;
  right: 5px;
  top: 0;
}
#module-ttblog-details #content .blog-post .blog-detail-content .blog-tool > span:last-child:after {
  display: none;
}
#module-ttblog-details #content .blog-post .blog-detail-content .page-item-title {
  margin: 0 0 10px;
}
#module-ttblog-details #content .blog-post .blog-detail-content .page-item-title h1 {
  font: 400 18px/20px "Open Sans", Helvetica, sans-serif;
  letter-spacing: 0;
  text-transform: capitalize;
  color: #333333;
  margin: 0;
}
#module-ttblog-details #content .blog-post .blog-detail-content .article-desc {
  margin: 0 0 20px;
}
#module-ttblog-details #content .blog-post .blog-detail-content .article-desc p {
  line-height: 24px;
}
#module-ttblog-details .blog-extra {
  float: left;
  width: 100%;
}
#module-ttblog-details .blog-extra #article_comments {
  float: left;
  width: 100%;
}
#module-ttblog-details .blog-extra #article_comments .title_block {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 500;
}
#module-ttblog-details .blog-extra #article_comments #comments {
  float: left;
  width: 100%;
  border: 1px solid #f0f0f0;
  padding: 20px 40px;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list {
  float: left;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  margin: 0;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content {
  padding: 40px 0;
  position: relative;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool {
  display: inline-block;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .avatar {
  border-radius: 50%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  -khtml-border-radius: 50%;
  margin: 11px 30px 0 0;
  float: left;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .name {
  display: inline-block;
  font-size: 16px;
  padding: 0 20px 0 0;
  color: #333333;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .created {
  display: inline-block;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .created:before {
  background: #f12a43;
  border-radius: 50%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  -khtml-border-radius: 50%;
  color: #ff0000;
  content: "";
  display: inline-block;
  height: 4px;
  vertical-align: middle;
  width: 4px;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .created span {
  padding: 0 0 0 20px;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool > p {
  margin: 20px 0;
  color: #333333;
  padding: 0 0 0 84px;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .reply {
  display: inline-block;
  float: right;
  position: absolute;
  bottom: 10px;
  right: 0;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .reply a {
  text-transform: capitalize;
  color: #f12a43;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .reply a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li ul {
  border: none;
  padding: 0;
}
#module-ttblog-category #ttblogcat .blog-item .ttblogpost .article-content .bloglinks a i {
	float: left;
	font-size: 16px;
	font-weight: normal;
	line-height: 10px;
	padding: 2px 0;
	margin: 0;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list li ul li .comment-content {
  padding: 40px 0 40px 80px;
  border-top: 1px solid #f0f0f0;
}
#module-ttblog-details .blog-extra #article_comments #comments .comment-list:last-child {
  border: none;
}
#module-ttblog-details .blog-extra #respond {
  float: left;
  width: 100%;
  margin: 5px 0 40px;
}
#module-ttblog-details .blog-extra #respond #reply-title {
  color: #333333;
  font-size: 18px;
  font-weight: normal;
}
#module-ttblog-details .blog-extra #respond #commentInput #commentform td {
  padding: 10px 10px 10px 0;
}
#module-ttblog-details .blog-extra #respond #commentInput #commentform td strong {
  font: 400 13px/20px "Open Sans", Helvetica, sans-serif;
  color: #333333;
}
#module-ttblog-details .blog-extra #respond #commentInput #commentform td .required {
  color: #ff0000;
}
#module-ttblog-details .blog-extra #respond #commentInput #commentform td input {
  border-color: #f0f0f0;
}

#module-ttblog-details .blog-extra #respond .right {
  float: right;
}

#module-ttblog-details .blog-extra #respond .right .submit input {
  padding: 8px 20px;
}
@media (min-width: 480px) and (max-width: 767px) {
  #module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content {
    padding: 20px 0;
  }
    #module-ttblog-details .blog-extra #article_comments #comments {
    padding: 30px;
  }
    #module-ttblog-details .blog-extra #article_comments #comments .comment-list li ul li .comment-content {
    padding: 20px 0 20px 60px;
  }

}
@media (max-width: 480px) {
  #module-ttblog-details #content .blog-post .blog-detail-content .blog-tool > span {
    margin: 0 0 5px;
  }
    #module-ttblog-details #content .blog-post .blog-detail-content .blog-tool {
    margin: 0 0 10px;
  }
   #module-ttblog-details #content .blog-post .blog-detail-content .page-item-title {
    margin: 0 0 10px;
  }
    #module-ttblog-details #content .blog-post .blog-detail-content .page-item-title h1 {
    font-size: 20px;
  }
  #module-ttblog-details #content .blog-post .blog-detail-content .article-desc {
    margin: 0 0 10px;
  }
    #module-ttblog-details #content .blog-post .blog-detail-content .article-desc p {
    line-height: 26px;
  }
#module-ttblog-details .blog-extra #article_comments #comments {
    padding: 20px;
  }
    #module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content {
    padding: 10px 0;
  }
    #module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .avatar {
    float: none;
    margin: 0;
  }
  #module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .name {
    padding: 0 10px 0 0;
  }
    #module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool .created span {
    padding: 0 0 0 10px;
  }
  #module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .blog-tool > p {
    padding: 0;
  }

  #module-ttblog-details .blog-extra #article_comments #comments .comment-list li .comment-content .reply {
    width: 100%;
    text-align: right;
    margin: 0 0 10px;
  }
  #module-ttblog-details .blog-extra #article_comments #comments .comment-list li ul li .comment-content {
    padding: 10px 0 10px 20px;
  }
}

/*------------------------------------------------ End blog details css -------------------------------------------*/

/*--------------------------------------------- Start Left column Blog --------------------------------------------*/
#blog_latest_new_left .block_content .ttblog-content .blog-item {
  padding: 0 0 10px;
}
#blog_latest_new_left .block_content .ttblog-content .blog-item .blog-content .blog-title {
  margin: 5px 0;
}
/*-------------------------------------------- End Left column Blog -------------------------------------------------*/

#respond .success {
  font-weight: normal;
  background-color: #DDF9E1;
  border-color: #46A74E;
  text-shadow: none;
  color: #35B33F;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
}
#respond .success:before {
  font-family: "FontAwesome";
  content: "\f058";
  font-size: 20px;
  vertical-align: -2px;
  padding-right: 7px;
}
