.tt-special-countdown {
	padding: 40px 0 0;
	float: left;
	width: 100%;
	background-color: #f5f5f5;
	margin: 20px 0;
}
.ttcountdown-inner {
	float: left;
	width: 100%;
}
.tt-countdown-carousel .special-countdown .product-thumb .special-image {
  position: relative;
  border-radius: 8px;
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px; 
  -khtml-border-radius: 8px;
  text-align: center;
}
.tt-special-countdown .products-carousel.owl-carousel .owl-nav {
	position: absolute;
	text-align: center;
	z-index: 1;
	float: right;
	right: 0px;
	top: 10px;
	bottom: auto;
}
.tt-special-countdown .products-carousel.owl-carousel .additional-images-container .owl-nav button{
	height: 23px;
	width: 23px;
}
.tt-special-countdown .products-carousel.owl-carousel .additional-images-container .owl-nav button::after, .tt-special-countdown .products-carousel.owl-carousel .additional-images-container .owl-nav button::after {
	height: 22px;
	width: 22px;
	font-size: 8px;
	line-height: 22px;
	opacity: 1;
}
.tt-special-countdown .products-carousel.owl-carousel .additional-images-container .owl-nav button.owl-prev:hover::after, .tt-special-countdown .products-carousel.owl-carousel .additional-images-container .owl-nav button.owl-next:hover::after {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	color: #fff;
}
.tt-special-countdown .products-carousel.owl-carousel .additional-images-container .owl-nav button.owl-prev::before, .tt-special-countdown .products-carousel.owl-carousel .additional-images-container .owl-nav button.owl-next::before {
	font-size: 9px;
}
.tt-special-countdown .products-carousel.owl-carousel .additional-images-container .owl-nav button.owl-prev::after {
	content: "\f053";
}
.tt-special-countdown .products-carousel.owl-carousel .additional-images-container .owl-nav button.owl-next::after {
	content: "\f054";
}
.special-countdown .special-image img {
	max-width: 100%;
	width: 100%;
}
.product-description {
  float: left;
  width: 100%;
}
.special-countdown .product-layouts {
  border: medium none;
}
.special-countdown .product-thumb {
	border: none;
	padding: 0;
}
.tt-titletab .title_block {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: #777;
	font: 400 14px/20px "Open Sans",Helvetica,sans-serif;
	letter-spacing: 0.2px;
	margin: 0 auto auto;
	padding: 0 0 15px;
	position: relative;
	text-transform: uppercase;
}
.countdown-labele{
    float: left;
}
.special-countdown .product-thumb .price {
	font: 600 18px/20px Open Sans,Helvetica,sans-serif;
	color: #f3283d;
	transition: none;
	opacity: 1;
	transform: none;
	display: block;
	margin: 0 0 8px;
}
.special-countdown .product-thumb .price .price-new {
	font-size: 18px;
	line-height: 20px;
}
.special-countdown .product-thumb:hover .price {
	display: block;
}
.special-countdown .product-thumb .percent {
	height: 50px;
	width: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-khtml-border-radius: 50%;
	border-radius: 50%;
	z-index: 1;
	right: 10px;
	left: auto;
	line-height: 46px;
	font-size: 14px;
	top: -15px;
	background: #fed700;
	color: #000;
	position: absolute;
	text-align: center;
	font-weight: 600;
}
.special-countdown .product-thumb:hover .percent {
	top: 10px;
	left: auto;
}
.countdown-labele .expired {
    max-width: 70px;
}
.countdown-labele .hot {
	bottom: auto;
	color: #4d4d4d;
	display: block;
	font: 600 13px/18px "Open Sans", Helvetica, sans-serif;
	right: auto;
	letter-spacing: 1px;
	margin: 0 auto;
	position: absolute;
	top: 25px;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-ms-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
	left: 0;
	z-index: 1;
}
.special-countdown .product-thumb:hover .countdown-labele .hot {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	left: 15px;
}
.expired .hot{
    display: none;
}
.item-countdown {
	margin: 0 0 20px;
	border: none;
	display: inline-block;
	float: none;
	position: relative;
	vertical-align: top;
	width: auto;
	background: #f5f5f5;
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	padding: 2px 15px;
}
.tt-special-countdown .item-countdown {
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	-khtml-border-radius: 22px;
	border-radius: 22px;
	padding: 5px 15px;
}
.item-countdown div {
	color: #000;
	height: 30px;
	width: 35px;
	float: left;
	position: relative;
	background: #f5f5f5;
	bottom: 0;
	font: 600 14px/20px "Open Sans";
	padding: 5px 0;
	text-align: center;
	top: 0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	margin: 0 4px;
}
.item-countdown span {
	bottom: -25px;
	color: #000;
	font-size: 12px;
	font-weight: 600;
	left: 0;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: capitalize;
	top: auto;
	width: 100%;
	margin: 5px 0 0;
}
.item-countdown div > b {
	font: 600 14px/20px "Open Sans", Helvetica,sans-serif;
	color: #222;
}
.item-countdown div::after {
	color: #222;
	content: ":";
	font-size: 16px;
	position: absolute;
	right: -5px;
	top: 4px;
}
.item-countdown div:last-child::after {
	display: none;
} 
.item-countdown div:last-child {
	margin: 0;
	color: #ec2d48;
}
.expired>div{
    opacity: 1;
	-moz-opacity: 1; 
	-khtml-opacity: 1; 
	-webkit-opacity: 1;
}
.productcountdown.expired {
	display: inline-block;
	float: left;
	vertical-align: top;
	margin: 0 0 15px;
}
.products-carousel.owl-carousel .special-additional-images .owl-nav {
	position: static;
	opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	transition: all 400ms ease-in-out 0s;
	-webkit-transition: all 400ms ease-in-out 0s;
	-moz-transition: all 400ms ease-in-out 0s;
	-o-transition: all 400ms ease-in-out 0s;
	-ms-transition: all 400ms ease-in-out 0s;
}
.special-additional-images .image-additional {
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
.special-additional-images .image-additional img {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #e5e5e5;
}
.special-additional-images .image-additional > img.selected {
	border: 1px solid #d5d5d5;
}
.special-additional-images .image-additional img:hover {
	border-color: #d5d5d5;
}
.countdown-images {
	float: left;
	position: relative;
	width: 100%;
	text-align: center;
}
.tt-special-countdown .product-thumb .thumb-description {
	text-align: left;
	padding: 0 10px;
	float: left;
	width: 100%;
}
.tt-special-countdown .product-thumb .thumb-description .caption {
	border: none;
	padding: 0;
}
.bestseller-carousel.products-list .product-thumb .thumb-description .product-countdown {
	display: block;
	position: relative;
	align-items: flex-start;
	width: 100%;
	float: left;
}
.bestseller-carousel.products-list .product-thumb .item-countdown {
	padding: 2px 0;
	-webkit-transition: 300ms ease-in-out;
	-moz-transition: 300ms ease-in-out;
	-ms-transition: 300ms ease-in-out;
	-o-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	position: absolute;
	top: 0;
	right: auto;
	width: auto;
}
.bestseller-carousel.products-list .product-thumb:hover .item-countdown {
	opacity: 0;
	-moz-opacity: 0; 
	-khtml-opacity: 0; 
	-webkit-opacity: 0;
}
.tt-special-countdown .ttcountdown-inner .product-thumb h4 {
	border: none;
	color: #444;
	font: 400 14px/18px "Open Sans", Helvetica, sans-serif;
	padding: 0 0 10px;
	width: 100%;
	white-space: normal !important;
	margin: 0;
	position: static;
	float: left;
	transform: none;
	opacity: 1;
}
.tt-special-countdown .ttcountdown-inner .product-thumb h4 a {
	color: #444;
	float: left;
	width: 100%;
	border-bottom: 4px double #e5e5e5;
	padding: 0 0 10px;
	font: 600 16px/18px Open Sans,sans-serif;
}
.tt-special-countdown .ttcountdown-inner .product-thumb:hover h4 a {
	color: #000;
}
.special-countdown .product-thumb .rating {
	opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	position: static;
	text-align: left;
	margin: 0 0 5px;
	float: left;
}
.countdown-images .additional-images-container {
	display: inline-block;
	float: none;
	overflow: hidden;
	position: relative;
	width: 75%;
}
.special-countdown .additional-images-container .special-additional-images {
  float: left;
  padding: 0 25px;
  position: relative;
  width: 100%;
}
.special-additional-images.owl-carousel .owl-nav button {
	border: 1px solid #e5e5e5;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	cursor: pointer;
	font-size: 0;
	height: 22px;
	padding: 0 9px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	width: 22px;
}
.special-additional-images.owl-carousel .owl-nav .owl-next::after {
    content: "\f105";
    font-family: fontawesome;
    font-size: 10px;
	line-height: 22px;
	font-weight: 500;
	color:#999;
	padding: 0;
	border: none;
}
.special-additional-images.owl-carousel .owl-nav .owl-prev::after {
    content: "\f104";
    font-family: fontawesome;
    font-size: 10px;
	line-height: 22px;
	font-weight: 500;
	color:#999;
	padding: 0 4px 0 0;
	border: none;
}
.special-additional-images.owl-carousel .owl-nav .owl-next::before,
.special-additional-images.owl-carousel .owl-nav .owl-prev::before {
	display: none;
}
.special-additional-images.owl-carousel .owl-nav > button.owl-prev {
    left: 0;
	right: auto;
	padding: 0;
}
.special-additional-images.owl-carousel .owl-nav > button.owl-next {
    right: 0;
	left: auto;
}
.special-additional-images.owl-carousel .owl-nav .owl-prev:hover::before,
.special-additional-images.owl-carousel .owl-nav .owl-next:hover::before {
	color: #fff;
}
.special-additional-images.owl-carousel .owl-nav button:hover {
	background: #f3283d;
	border-color: #f3283d;
	color: #fff;
}
.tt-special-countdown .owl-carousel .owl-stage-outer {
	padding: 0 0 40px;
}
/*---------------button css--------------*/
.special-countdown .product-thumb .button-group {
	position: static;
	float: left;
	width: 100%;
	border: none;
	text-align: left;
	visibility: visible;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	padding: 5px 0 15px;
}
.special-countdown .product-thumb .button-group .btn-cart i{
	content: "\f067";
	line-height: 36px;
	font-weight: 400;
	font-size: 16px;
	width: auto;
	color: #fff;
	background: none;
}
.special-countdown .product-thumb .button-group .btn-cart:hover i{
	color: #000;
}
.special-countdown .product-thumb .button-group .btn-cart i::after {
	border: none;
}
.special-countdown .product-thumb .button-group button {
	width: 34px;
}
.special-countdown .product-thumb .button-group i {
	width: 34px;
}
.special-countdown .product-thumb .button-group .btn-cart {
	background: #e13d1d;
	border-color: #e13d1d;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	margin: 0;
	padding: 0 12px 0 10px;
	position: relative;
	width: auto;
	z-index: 1;
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
}
.special-countdown .product-thumb .button-group .btn-cart:hover {
	background: #fed700;
	border-color: #fed700;
}
.special-countdown .product-thumb .button-group i.fa-shopping-cart {
	background: none;
	width: 20px;
	height: 20px;
}
.special-countdown .product-thumb .button-group button.btn-cart i.fa-shopping-cart::before {
	content: "\f067";
	display: inline-block;
	vertical-align: top;
	line-height: 36px;
	font-weight: 400;
	font-size: 12px;
	color: #000;
	width: 20px;
}
.special-countdown .product-thumb .button-group button.btn-cart:hover i.fa-shopping-cart::before {
	color: #fff;
}
.special-countdown .button-group button.btn-cart span {
	color: #fff;
	display: inline-block !important;
	font: 600 13px/36px "Open Sans",Helvetica,sans-serif;
	letter-spacing: 0.4px;
	text-transform: capitalize;
	vertical-align: top;
}
.special-countdown .button-group button.btn-cart:hover span {
	color: #000;
}
.special-countdown .product-thumb .button-group .btn-cart::before{
	background: #fff none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.2;
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	-webkit-opacity: 0.2;
	position: absolute;
	top: 0;
	width: 0;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-khtml-border-radius: 25px;
	border-radius: 25px;
	-webkit-transition: 500ms ease-in-out;
	-moz-transition: 500ms ease-in-out;
	-ms-transition: 500ms ease-in-out;
	-o-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}
.special-countdown .product-thumb .button-group .btn-cart:hover::before {
	width: 100%;
}
.product-thumb .button-group button.btn-cart::after {
	display: none;
}
.special-countdown .product-thumb .button-group button {
	transition: all 400ms ease-in-out;
	-webkit-transition: all 400ms ease-in-out 0s;
	-moz-transition: all 400ms ease-in-out 0s;
	-o-transition: all 400ms ease-in-out 0s;
}
/*---------------column-right-left css--------------*/
#column-left .ttcountdown-inner,
#column-right .ttcountdown-inner {
  border: medium none;
  padding: 0;
}
#column-left .tt-titletab,
#column-right .tt-titletab {
	display: none;
}
#column-left .tt-countdown-carousel .box-heading,
#column-right .tt-countdown-carousel .box-heading {
  display: block;
}
#column-left .tt-countdown-carousel.list-products,
#column-right .tt-countdown-carousel.list-products {
  border: none;
  margin: 0;
}
#column-left .countdown-images,
#column-right .countdown-images {
  border: medium none;
  float: left;
  width: 100%;
}
#column-left .countdown-images .additional-images-container,
#column-right .countdown-images .additional-images-container {
  display: none;
}
#column-left .special-countdown .product-thumb .thumb-description,
#column-right .special-countdown .product-thumb .thumb-description {
  float: left;
  width: 100%;
}
#column-left .special-countdown .product-description,
#column-right .special-countdown .product-description {
  padding: 0;
}
#column-left .special-countdown .product-thumb .caption .description,
#column-right .special-countdown .product-thumb .caption .description {
	font-size: 13px;
	line-height: 16px;
}
#column-left .item-countdown, #column-right .item-countdown {
	margin: 0 0 25px;
}
#column-left .special-countdown .product-thumb .no-rating, 
#column-right .special-countdown .product-thumb .no-rating {
	display: block;
}
#column-left .item-countdown span, #column-right .item-countdown span {
	display: none;
}
#column-left .special-countdown .product-thumb .button-group .btn-cart,
#column-right .special-countdown .product-thumb .button-group .btn-cart {
  background: #111111;
  border-radius: 25px;
  -moz-border-radius: 25px; 
  -webkit-border-radius: 25px; 
  -khtml-border-radius: 25px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 15px;
  position: relative;
  width: auto;
}
#column-left .special-countdown .product-thumb .button-group .btn-cart:hover,
#column-right .special-countdown .product-thumb .button-group .btn-cart:hover {
	background: #ffe547;
}
#column-left .special-countdown .product-thumb .button-group .btn-cart span,
#column-right .special-countdown .product-thumb .button-group .btn-cart span {
  color: #ffffff;
  display: inline-block !important;
  font: 400 14px/20px "Poppins",Helvetica,sans-serif;
  vertical-align: top;
}
#column-left .special-countdown .product-thumb .button-group .btn-cart:hover span,
#column-right .special-countdown .product-thumb .button-group .btn-cart:hover span {
	color: #000000;
}
#column-left .tt-special-countdown .products-carousel.owl-carousel .owl-buttons,
#column-right .tt-special-countdown .products-carousel.owl-carousel .owl-buttons {	
	float: left;
	margin: 0 0 10px;
	position: static;
	text-align: center;
	width: 100%;
}
#column-left .tt-special-countdown .products-carousel.owl-carousel .owl-buttons div,
#column-right .tt-special-countdown .products-carousel.owl-carousel .owl-buttons div {
	float: none;
	display: inline-block;
	vertical-align: top;
}
.special-countdown .additional-images-container .special-additional-images .owl-wrapper-outer {
	padding: 0;
}
@media (max-width: 991px) {
	#column-left .special-countdown .product-description,
	#column-right .special-countdown .product-description {
	  padding: 0 15px;
	}
	.countdown-labele .hot {
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
		left: 15px;
	}
	.special-countdown .product-thumb .percent {
		top: 10px;
	}
	.tt-special-countdown .owl-carousel .owl-stage-outer {
		padding: 0 0 30px;
	}
}
@media (max-width: 767px) {
	.tt-special-countdown .owl-carousel .owl-stage-outer {
		padding: 0 0 10px;
	}
}
@media (max-width: 480px) {
	#column-left .special-countdown .product-description,
	#column-right .special-countdown .product-description {
	  padding: 0;
	}
}
/*---------------column-right-left css--------------*/
/*---------------timer css--------------*/
/* --qty progress bar --*/
.tt-special-countdown .ttqtyprogress, .special-carousel.products-list .ttqtyprogress .quantity {
	color: #000;
	float: left;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
}
.tt-special-countdown .ttqtyprogress, .special-carousel.products-list .ttqtyprogress {
	color: #000;
	float: left;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	padding: 0 0 15px;
	width: 100%;
}
.special-carousel.products-list .ttqtyprogress {
	margin: 15px 0 0;
}
.tt-special-countdown .ttqtyprogress .QuantityAvailable, .special-carousel.products-list .ttqtyprogress .QuantityAvailable {
	float: left;
	width: auto;
	text-transform: capitalize;
	color: #000;
	margin: 0 3px 0 0;
}
.tt-special-countdown .ttqtyprogress .quantity {
	display: inline-block;
	font-weight: 400;
	color: #000;
	vertical-align: top;
}
.tt-special-countdown .progress, .tt-special-countdown .alert, .special-carousel.products-list .progress, .special-carousel.products-list .alert {
	background: #f5f5f5;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-khtml-border-radius: 25px;
	float: left;
	height: 10px;
	margin: 5px 0 0 0;
	width: 100%;
}
.tt-special-countdown .progress-bar, .special-carousel.products-list .progress-bar  {
	background-color: #FED700;
	height: 10px;
	width: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
/* --qty progress bar --*/
@media (max-width: 991px) {
	.special-countdown .product-thumb .btn-wishlist, .special-countdown .product-thumb .btn-compare, .special-countdown .product-thumb .btn-quickview {
		opacity: 1;
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		transform: translate(0px);
		-webkit-transform: translate(0px);
		-moz-transform: translate(0px);
		-o-transform: translate(0px);
		-ms-transform: translate(0px);
		transition: transform 300ms ease-in-out 0s;
		-webkit-transition:transform 300ms ease-in-out 0s;
		-moz-transition: transform 300ms ease-in-out 0s;
		-o-transition: transform 300ms ease-in-out 0s;
		-ms-transition: transform 300ms ease-in-out 0s;
	}
	.products-carousel.owl-carousel .special-additional-images .owl-buttons {
		opacity: 1;
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
	}
}
@media (max-width: 1599px) {
.special-countdown .button-group i.fa-shopping-cart {
	background-position: -45px -91px;
	width: 20px;
}
.item-countdown {
	padding: 2px 12px;
}
}
@media (max-width: 1199px) {
	.special-countdown .product-thumb .button-group i.fa-shopping-cart {
		background-position: -42px -91px;
		width:15px;
	}
	.special-countdown .additional-images-container .special-additional-images {
		width: 100%;
	}
	.tt-special-countdown .product-thumb .thumb-description {
		padding: 0 10px;
		margin: 0;
	}
	.bestseller-carousel.products-list .product-thumb .item-countdown {
		padding: 2px 5px;
	}
}
@media (min-width: 768px) and (max-width: 1199px){
.special-countdown .product-thumb .button-group .btn-cart {
	padding: 0 15px;
}
}
@media (max-width: 991px) {
	.special-countdown .product-thumb .btn-wishlist, .special-countdown .product-thumb .btn-compare, .special-countdown .product-thumb .btn-quickview {
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		transition: none;
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		-ms-transition: none;
	}
	.special-countdown .product-thumb .button-group {
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}
	.bestseller-carousel.products-list .product-thumb:hover .item-countdown {
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
	}
	.bestseller-carousel.products-list .product-thumb .item-countdown {
		-webkit-opacity: 1;
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
		position: static;
		margin: 0 0 8px;
	}
	.ttproduct-main .product-thumb .item-countdown, .ttcat-main .product-thumb .item-countdown {
		top: auto;
		bottom: 25px;
	}
	.ttproduct-main .product-thumb:hover .item-countdown, .ttcat-main .product-thumb:hover .item-countdown {
		bottom: 25px;
		top: auto;
	}
}
@media (max-width: 767px) {
	.tt-special-countdown .ttcountdown-inner .product-thumb h4 {
		font-size: 18px;
		line-height: 20px;
	}
	.special-countdown .product-thumb .button-group .btn-wishlist,
	.special-countdown .product-thumb .button-group .btn-compare,
	.special-countdown .product-thumb .button-group .btn-quickview {
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
		opacity: 1;
		-moz-opacity: 1; 
		-khtml-opacity: 1; 
		-webkit-opacity: 1;
	}
}
@media (max-width: 543px) {
	.tt-special-countdown {
		width: 100%;
		margin: 0 0 10px 0;
		padding: 20px 0 0;
	}
	.tt-special-countdown .product-thumb .thumb-description {
		padding: 0 4px 0 10px;
	}
	.tt-special-countdown .owl-carousel .owl-stage-outer {
		padding: 0;
	}
}
@media (max-width: 480px) {
	.tt-special-countdown {
		width: 100%;
		float: left;
		margin: 0 0 15px;
		padding: 10px 0 0;
	}
	.countdown-images {
		width: 100%;
		border: none;
	}
	.tt-titletab .title_block {
		font-size: 18px;
	}
	.countdown-images .additional-images-container {
	    width: 190px;
	}
	.tt-special-countdown .product-thumb .thumb-description {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0 15px;
	}
	.item-countdown {
		float: none;
	}
	.special-countdown .product-thumb .button-group {
		text-align: left;
	}
	.special-countdown .product-thumb .price, 
	.special-countdown .product-thumb .price-new {
		font-size: 16px;
		line-height: 20px;
	}
	.bestseller-carousel.products-list .item-countdown div > b {
		font-size: 13px;
	}
	.product-countdown {
		display: none;
	}
	.bestseller-carousel.products-list .product-thumb .item-countdown {
		display: none;
	}
}