@font-face {
    font-display:block;
    font-family: 'RobotoMedium';
    src: url('fonts/RobotoMedium.ttf') format('ttf'),
         url('fonts/RobotoMedium.ttf') format('ttf');
}
@font-face {
    font-display:block;
    font-family: 'RobotoRegular';
    src: url('fonts/RobotoRegular.ttf') format('ttf'),
         url('fonts/RobotoRegular.ttf') format('ttf');
}
@font-face {
    font-display:block;
    font-family: 'RobotoBold';
    src: url('fonts/RobotoBold.ttf') format('ttf'),
         url('fonts/RobotoBold.ttf') format('ttf');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/RobotoLight.ttf') format('ttf'),
         url('fonts/RobotoLight.ttf') format('ttf');
}

