@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=vietnamese');
@font-face {
	font-family: Futura;
	font-weight: 400;
	font-style: normal;
	src: url("futura.woff2") format("woff2")
}
@font-face {
	font-family: 'FontAwesome';
	src: url('//theme.hstatic.net/1000197303/1000641267/14/fontawesome.eot?v=695');
	src: url('//theme.hstatic.net/1000197303/1000641267/14/fontawesome.eot?v=695') format('embedded-opentype'), url('//theme.hstatic.net/1000197303/1000641267/14/fontawesome.woff?v=695') format('woff'), url('//theme.hstatic.net/1000197303/1000641267/14/fontawesome.ttf?v=695') format('truetype'), url('//theme.hstatic.net/1000197303/1000641267/14/fontawesome.svg?v=695') format('svg');
	font-weight: normal;"
	font-style: normal;
} 
@font-face {
	font-family:'Glyphicons Halflings';
	src:url('//theme.hstatic.net/1000197303/1000641267/14/glyphicons-halflings-regular.eot?v=695');
	src:url('//theme.hstatic.net/1000197303/1000641267/14/glyphicons-halflings-regular.eot?#iefix?v=695') format('embedded-opentype'),url('//theme.hstatic.net/1000197303/1000641267/14/glyphicons-halflings-regular.woff?v=695') format('woff'),url(//theme.hstatic.net/1000197303/1000641267/14/glyphicons-halflings-regular.ttf?v=695) format('truetype'),url(//theme.hstatic.net/1000197303/1000641267/14/glyphicons-halflings-regular.svg#glyphicons_halflingsregular?v=695) format('svg')
}


.font-uppercase {
	text-transform: uppercase;
}
.uppercase {
	text-transform: uppercase;
}
.underlined{
	border-bottom: 1px solid rgb(255, 255, 255);
	padding: 0px;
}
.text-main{
	color: rgb(255, 255, 255);
	font-size: 16px;
	letter-spacing: 0.8px;
	line-height: 16px;
}
.center-text{
	margin: 0px 50px;
}
.absolute{
	position: absolute
}

.cursor-pointer{
	cursor: pointer;
}
.display-flex{
	display: flex;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	white-space: normal;
	padding: 0px;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	padding: 0px;
}
a:hover, a:focus {
	color: #000;
}
audio, canvas, progress, video{
	width: 100%
}
form {
	display: flex;
	flex-direction: column;
	width: 100%;
}
button {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	text-transform: uppercase;
	font-size: 0.65rem;
	background-color: rgb(65, 64, 66);
	color: rgb(209, 211, 212);
	position: relative;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
	padding: 10px 20px;
	margin: 0px 10px;
	outline: none;
}
.icon {
	width: 20px ;
	height: 20px ;
	font-style: normal;
	color: rgb(0, 0, 0);
	display: block;
	margin-right:5px
}
ul.list-row.list-social li .icon {
	width: 35px !important;
	height: 35px !important;
	font-style: normal;
	color: rgb(0, 0, 0);
	display: block;
	top: -15px;
	position: relative;
}
.mui-textfield > input, .mui-textfield > textarea {
	box-sizing: border-box;
	display: block;
	background-color: #fff;
	color: rgba(0, 0, 0, 0.87);
	border-top-width: initial;
	border-right-width: initial;
	border-left-width: initial;
	border-top-color: initial;
	border-right-color: initial;
	border-left-color: initial;
	width: 100%;
	box-shadow: none;
	font-size: 16px;
	font-family: inherit;
	line-height: inherit;
	background-image: none;
	border-style: none none solid;
	border-image: initial;
	border-bottom: 1px solid rgba(0, 0, 0, 0.26);
	outline: none;
	padding: 0px;
	border-radius: 0px;
}
#page-wrap {
	min-height: 65vh;
	padding: 0px;
}
.modal-backdrop.in{
	position: fixed;
	z-index: 9999;
}
/* ------------ Topbar --------------- */
.topbar-learmore{
	font-size: 10px;
	margin-top: 3px;
}
.icon-arrow-white-right{
	background: url(//theme.hstatic.net/1000197303/1000641267/14/arrow-right-white.svg?v=695) center center no-repeat;
	display: inline-block;
	width: 10px;
	height: 10px;
	line-height: 10px;
}
#topbar {
	height: 50px;
	display: flex;
	flex-direction: row;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	color: #fff;
}
.affix-mobile .menu-desktop{
	position: relative;
	justify-content: center;
}

.main-header.affix-mobile .wrap-logp-mb .logo_img{
	display: none
}
.main-header .wrap-logp-mb .logo_img_fixed{
	display: none
}
.main-header.affix-mobile .wrap-logp-mb .logo_img_fixed{
	display: block;
	height: 30px
}

.main-header{
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	height: 54px;
	position: relative;
	z-index: 2147483647;
	padding: 0px 15px;
	background: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(209, 211, 212);
	transition: all 0.5s ease 0s;
	position: relative;
	height: 100px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	box-shadow: none
}
.main-body.sidebar-move header#site-header {
	z-index: 1 !important;
}
.menu-desktop, .menu-desktop ul, .menu-desktop #nav, .menu-desktop .main-nav , .menu-desktop ul li, .menu-desktop ul li a{
	height: 100%;
	align-items: center;
}
.menu-desktop {
	position: absolute;
	display: flex;
	flex: 2 1 0%;
	justify-content: left;
	width: 100%;
}
.header-mid {
	position: absolute;
	flex: 1 1 0%;
	left: calc(50% - 65px);
}
.header-mid .wrap-logo img{
	width: 170px
}
.header-wrap-icon{
	-webkit-box-align: center;
	align-items: center;
	align-self: center;
	text-align: center;
	visibility: visible;
	opacity: 1;
	flex: 2 1 0%;
	transition: opacity 0.3s ease-out 0s;
	position: absolute;
	right: 0;
}
.main-header.affix-mobile{
	box-shadow: none;
	height: 50px;
	background: rgba(255, 255, 255, 0.96);
	padding: 0 15px;
	max-width: 88%;
	width: 88%;
}

@media (min-width: 992px){
	.container {
		margin: 0px auto;
		padding: 0;
	}
}
@media (min-width: 1200px){
	
	.container {
		width: 86%;
		max-width: 86%;
		z-index:10;
	}
	#nav .main-nav li:hover > .sub_menu {
		height: auto !important;
	}
	#nav > nav > ul > li:nth-child(5) > ul > li
	{
		max-width:25% !important; 
	}
}
@media (min-width: 1600px){
	#nav .main-nav li:hover > .sub_menu {
		height: auto !important;
	}
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#nav .main-nav ul {
	display: flex;
	list-style-type: none;
	margin: 0px;
	padding: 0px;

    
}
#nav .main-nav ul li {
	-webkit-box-align: center;
	align-items: center;
	flex: 1 1 auto;
	margin: 0px 10px 0px 0px;
}
#nav .main-nav .sub_menu {

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
#nav .main-nav .sub_menu li{
	-webkit-box-flex: 0;
	-ms-flex: 0 0 14%;
	flex: 0 0 14%;
	max-width: 14%;
}
#nav .main-nav .sub_menu li:not(:first-child) {
	border-top: 0;
}
#nav .main-nav > ul > li span{padding:5px;font-weight:bold}
#nav .main-nav > ul > li.active span, #nav .main-nav > ul > li:hover span{
	background:#333;
	color:#fff;
/*background: url('//theme.hstatic.net/1000197303/1000641267/14/splash.svg?v=695') center center / 100% no-repeat;*/
}
#nav nav.main-nav ul > li a{
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 12px;
	color: rgb(65, 64, 66);
	letter-spacing: 1px;
	text-decoration: none;
/*background: url('//theme.hstatic.net/1000197303/1000641267/14/splash.svg?v=695') center center / 0px no-repeat;*/
	transition: background 0.1s ease-out 0s;
	margin: 0;
}
#nav nav.main-nav ul li a:hover {
	color: #000;
}
#nav .main-nav > ul>li>a:before{
	display: none
}
#nav .main-nav li:hover > .sub_menu {
	position: absolute;
	z-index: 3;
	display: flex;
	left: 0px;
	right: 0px;
	top: 85%;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	padding: 15px 15px 0;
	background: rgb(255, 255, 255);
	border: 0;
	height: 320px;
	overflow-x: auto;
	
}
#nav .main-nav li:hover > .sub_menu::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}
		#nav .main-nav li:hover > .sub_menu::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3); 
			-webkit-border-radius: 10px;
			border-radius: 10px;
		}
		#nav .main-nav li:hover > .sub_menu::-webkit-scrollbar-thumb {
			-webkit-border-radius: 10px;
			border-radius: 10px;
			background: rgba(105,105,105,0.8); 
			-webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.5); 
		}
		#nav .main-nav li:hover > .sub_menu::-webkit-scrollbar-thumb:window-inactive {
			background: rgba(105,105,105,0.4); 
		}


.header-register {
	background: url('//theme.hstatic.net/1000197303/1000641267/14/signup-highlight.svg?v=695') center center / 100% no-repeat;
	background-position: center center;
	padding: 15px 0px;
	margin-left: 0
}
.header-account a{
	font-size: 12px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	color: rgb(65, 64, 66);
	letter-spacing: 0.8px;
	text-decoration: none;
	padding: 0px 0px 0px 15px;
	font-weight:bold;
}
.header-account a:first-child {
	margin-right: 12px;
}
.header-account .btn-modal-css{
	font-size: 12px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	color: rgb(65, 64, 66);
	letter-spacing: 0.8px;
	text-decoration: none;
	padding: 0px 0px 0px 15px;
	font-weight:bold;
}
.icon-search,.icon-cart,.icon-global{
	vertical-align: -8px;
}
.icon-cart svg, .icon-search svg, .icon-account svg, .icon-global svg{
	fill: #252a2b;
	width: 20px;
	height: 20px;
}
.affix-mobile .header-wrap-icon{
	right: 10px
}
.affix-mobile .header-wrap-icon > span{
	margin-bottom: 12px;
}
.affix-mobile .header-wrap-icon > span.hr{
	display: none
}

.site-nav.style--sidebar {
	left: 0;
	right: auto;
	-webkit-transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-ms-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

header .header-search-form {
	display: -webkit-inline-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	width: 0px;
	height: 0px;
	overflow: hidden;
	transition: opacity 0.3s ease-out 0s;
	background: #fff;
	z-index: 999;
}

header.with-search .header-search-form{
	visibility: visible;
	opacity: 1;
	width: 100%;
	height: 100%;
	position: relative;
}

header.with-search .menu-desktop{
	visibility: hidden;
	opacity: 0;
	width: 0px;
	height: 0px;
}
.search-form-container{
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
}

form.flex-form {
	display: flex;
	flex-direction: row;
	-webkit-box-align: center;
	align-items: center;
}

.search-form-container .icon{
	width: 24px;
	height: 24px;
}
.search-form-container .icon-magnifier{
	margin: 0px 15px 0px 0px;
}
.icon-magnifier {
	background: url('//theme.hstatic.net/1000197303/1000641267/14/magnifier.svg?v=695') center center no-repeat;
}

.mui-textfield.full-with {
	width: 100%;
}
.search-form-container ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-size: 21px;
}

.search-form-container :-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 21px;
}

.search-form-container ::-ms-input-placeholder { /* Microsoft Edge */
	font-size: 21px;
}
.mui-textfield.borderless {
	padding: 0px;
	margin: 0px;
}
form .mui-textfield {
	color: rgb(0, 0, 0);
}
.mui-textfield {
	display: block;
	padding-top: 15px;
	margin-bottom: 20px;
	position: relative;
}
.mui-textfield > input {
	height: 32px;
}
.mui-textfield.borderless input {
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
}
.mui-textfield.full-with input {
	width: 100%;
	font-size: 21px;
	line-height: 21px;
	margin: 5px 0px 0px;
}
.icon-close {
	background: url('//theme.hstatic.net/1000197303/1000641267/14/close-thin.svg?v=695') center center no-repeat;
}

@media only screen and (min-width: 768px){
	.usp-container{
		padding: 0px;
		border-top: 1px solid rgb(209, 211, 212);
	}
}
.usp-container-desktop{
	display: flex;
	margin: 0px;
	padding: 0px;
	overflow: visible;
	z-index: 999;
}
@media only screen and (min-width: 1200px){
	ul {
		-webkit-box-pack: start;
		justify-content: flex-start;
		font-size: 13px;
	}
}
.usp-container-desktop .mobile-slide-item {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	width: auto;
	padding: 15px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.usp-container-desktop .mobile-slide-item:hover{
	border-left: 1px solid rgb(229, 230, 231);
	border-right: 1px solid rgb(229, 230, 231);
}
.usp-container-desktop .mobile-slide-item:hover .usp-tooltip{
	display: block
}
.usp-container-desktop ul {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	-webkit-box-pack: justify;
	justify-content: space-between;
	list-style-type: none;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}
.usp-tooltip{
	position: absolute;
	top: 45px;
	z-index: 9;
	left: -1px;
	width: 101%;
	background-color: white;
	display: none;
	border-left: 1px solid rgb(229, 230, 231);
	border-right: 1px solid rgb(229, 230, 231);
	border-bottom: 1px solid rgb(229, 230, 231);
	padding: 15px 0px;
}

.usp-tooltip .usp-tooltip-content{
	display: flex;
	width: 100%;
	flex-direction: column;
	font-size: 14px;
	padding: 0px 15px;
}

.usp-container i {
	width: 30px;
	height: 25px;
	margin-right: 10px;
}
.icon-timer {
	background: url('//theme.hstatic.net/1000197303/1000641267/14/timer.svg?v=695') center center no-repeat;
}
.icon-truck {
	background: url('//theme.hstatic.net/1000197303/1000641267/14/truck.svg?v=695') center center no-repeat;
}
.icon-gift {
	background: url('//theme.hstatic.net/1000197303/1000641267/14/gift.png?v=695') no-repeat;
	    background-size: contain;
    display: inline-block;
  
}
.usp-container-desktop ul li:last-child {
	display: flex;
	margin-left: auto;
	margin-right: 0px;
}
@media only screen and (min-width: 1200px){
	.usp-container-desktop ul li{
		width: auto;
		height: auto;
	}
	.usp-container-desktop ul li:last-child {
		display: flex;
		align-items: center;
	}
}

@media (min-width: 992px){
	.slider-media-container {
		height: 49.7512vw;
	}
	.box_sidebar{
		position: relative;
		z-index: 2;
	}
	.sidebar-fix{
		position: fixed;
		width: 100px;
		padding-top: 175px;
		padding-left: 30px;
		min-width: 100px;
		height: auto;
		max-height: 100vh;
		z-index: 99999;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		display: inline-block;
		left: 0
	}
	.sidebar-nav-switcher {
		position: fixed;
		top: 25px;
		left: 0;
		-webkit-animation: fadeOut 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
		animation: fadeOut 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
	}
	.is-hidden-visually .sidebar-nav-switcher {
		opacity: 0;
		-webkit-animation: fadeIn 0.3s 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
		animation: fadeIn 0.3s 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
	}
	.is-hidden-visually.is-visible .sidebar-nav-switcher {
		display: none
	}
	.sidebar-nav-switcher>.icon {
		cursor: pointer;
		padding: 5px;
		margin-top: -5px;
		margin-left: -5px;
		position: absolute;
		top: 38px;
		left: 28px;
	}
	.sidebar-nav-switcher .line {
		background-color: #313131;
		height: 2px;
		transition: background-color ease-out .2s;
	}
	.sidebar-nav-switcher .line:not(:last-child) {
		margin-bottom: 3px;
	}
	.sidebar-nav-switcher .line:not(:nth-child(2)) {
		width: 16px;
	}
	.sidebar-nav-switcher .line:nth-child(2) {
		width: 10px;
		margin-left: 3px;
	}

	.sidebar-nav-protection{
		position: fixed;
		width: 270px;
		height: 100vh;
		top: 0;
		left: 0;
		right: auto;
		z-index: 1;
		pointer-events: none;
		opacity: 0;
		background-color: #ffffff;
		background-color: rgba(255, 255, 255, .95);
		-webkit-transform: scaleX(0);
		-ms-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		transform-origin: 0 0;
		transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),background-color 0.6s cubic-bezier(0.645, 0.045, 0.355, 1),-webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),background-color 0.6s cubic-bezier(0.645, 0.045, 0.355, 1),transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),background-color 0.6s cubic-bezier(0.645, 0.045, 0.355, 1),transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1),-webkit-transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.is-visible .sidebar-nav-protection{
		opacity: 1;
		-webkit-transform: scaleX(1);
		-ms-transform: scaleX(1);
		transform: scaleX(1);
	}
	.sidebar-fix.is-hidden-visually {
		padding-top: 30px;
		margin-top: 0;
		z-index: 0;
	}
	.sidebar-fix.is-hidden-visually.is-visible {
		z-index: 9999;
				width: 270px;
	}
	.sidebar-fix.is-hidden-visually .box_sidebar{
		-webkit-animation: fadeOut 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
		animation: fadeOut 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
		left: -120%;
	}
	.sidebar-fix.is-hidden-visually.is-visible .box_sidebar{
		-webkit-animation: fadeIn 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
		animation: fadeIn 0.4s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
		left: 0;
	}
}
.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	background-size: cover;
	background-position: center;
}

.animated-background, .slider-media-container .editorial-image-slide-container {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	height: 100%;
	position: relative;
	background: linear-gradient(to right, rgb(238, 238, 238) 8%, rgb(221, 221, 221) 18%, rgb(238, 238, 238) 33%) 0% 0% / 100%;
}
.slider-media-container .editorial-image-slide-container {
	position: relative;
	cursor: pointer;
	opacity: 1;
}
.slider-media-container .editorial-images-slide-image-background {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.slider-media-container .editorial-artifacts {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 2;
}
.editorial-image-artifacts {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.editorial-image-artifacts .title {
	text-transform: uppercase;
	top: 25%;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	font-size: 2.4rem;
	line-height: 2.4rem;
	color: white;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
	transition: all 0.2s linear 0s;

}

.editorial-image-artifacts .description {
	position: relative;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	text-align: center;
	width: 75%;
	color: rgb(100, 99, 101);
	font-size: 0.875rem;
	padding: 15px 0px;
	margin: 0px auto;
}
.editorial-image-artifacts .btn {
	position: relative;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	font-size: 0.75rem;
	width: fit-content;
	margin: 0px auto 45px;
	box-shadow: none;
}


.editorial-image-artifacts .btn button {
	font-size: 0.8125rem;
	opacity: 1;
	padding: 15px 39px;
	background: rgb(0, 0, 0);
}

.editorial-image-artifacts .artifact-tooltip {
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: space-around;
	-webkit-box-align: center;
	align-items: center;
	font-size: 0.8vw;
	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;
	z-index: 99999;
	cursor: pointer;
	padding: 13px 7px 7px 12px;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	transition: opacity 0.2s linear 0s;
}
.editorial-image-artifacts .artifact-tooltip-title {
	color: rgb(65, 64, 66);
	margin-right: 5px;
	text-transform: uppercase;
	line-height: 18px;
}
.editorial-image-artifacts .artifact-tooltip-price {
	color: rgb(65, 64, 66);
	margin-right: 5px;
	text-transform: uppercase;
	line-height: 18px;
}
.editorial-image-artifacts .icon-arrow-right {
	width: 15px;
	height: 15px;
	background-size: 15px 15px;
}
.icon-arrow-right {
	transform: rotate(-90deg);
}
.editorial-image-artifacts:hover .artifact-tooltip {
	visibility: visible;
	opacity: 1;
	display: flex;
}
.editorial-image-artifacts .artifact-tooltip::after {
	top: 100%;
	left: 50%;
	content: " ";
	height: 0px;
	width: 0px;
	position: absolute;
	pointer-events: none;
	border-width: initial;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
}
.editorial-image-artifacts .artifact-tooltip::after {
	margin-left: -15px;
	border-color: rgba(255, 255, 255, 0.6) rgba(136, 183, 213, 0) rgba(136, 183, 213, 0);
	border-width: 15px;
}
.icon-arrow, .icon-arrow-up, .icon-arrow-right, .icon-arrow-bottom, .icon-arrow-left {
	background: url('//theme.hstatic.net/1000197303/1000641267/14/arrow.svg?v=695') center center no-repeat;
}
.editorial-image-artifacts .centered {
	width: 100%;
	text-align: center;
	left: 0px !important;
}
.editorial-image-artifacts .title {
	text-transform: uppercase;
	top: 25%;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	width: 100%;
	font-size: 2.4rem;
	line-height: 2.4rem;
	color: white;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
	transition: all 0.2s linear 0s;
}
.editorial-image-artifacts span, .editorial-image-artifacts .btn {
	position: absolute;
}
.editorial-image-artifacts .leftcentered {
	width: 50%;
	text-align: center;
	left: 0px !important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDMwIDI2Ij4gICAgPHBhdGggZmlsbD0iIzIzMUYyMCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTQuNDIyIDBsMTIuMDk2IDEyLjAxM0gwdjEuOTE4aDI2LjQ2MkwxNC40MjIgMjZoMi42NjlMMzAgMTIuOTk2di0uMDAyTDE3LjA5MSAweiIvPjwvc3ZnPg==) !important;
	right: 10px;
	left: auto;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDMwIDI2Ij4gICAgPHBhdGggZmlsbD0iIzIzMUYyMCIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTIuOTE5IDBMMCAxMi45OTUgMTIuOTE5IDI2aDIuNzA2TDMuNDkyIDEzLjk4NkgzMFYxMi4wN0gzLjUzN0wxNS41ODggMHoiLz48L3N2Zz4=) !important;
	left: 10px;
	right: auto;
}

.swiper-button-next.white, .swiper-container-rtl .swiper-button-prev.white {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDMwIDI2Ij4gICAgPHBhdGggZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTQuNDIyIDBsMTIuMDk2IDEyLjAxM0gwdjEuOTE4aDI2LjQ2MkwxNC40MjIgMjZoMi42NjlMMzAgMTIuOTk2di0uMDAyTDE3LjA5MSAweiIvPjwvc3ZnPg0K);
}
.swiper-button-prev.white, .swiper-container-rtl .swiper-button-next.white {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIyNiIgdmlld0JveD0iMCAwIDMwIDI2Ij4NCiAgICA8cGF0aCBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMi45MTkgMEwwIDEyLjk5NSAxMi45MTkgMjZoMi43MDZMMy40OTIgMTMuOTg2SDMwVjEyLjA3SDMuNTM3TDE1LjU4OCAweiIvPjwvc3ZnPg0K);
}


.editorial-masonry-container .editorial-masonry-item-container {
	position: relative;
}

.editorial-masonry-container .editorial-masonry-image-container {
	position: relative;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.responsive-image {
	text-align: center;
	width: 100%;
}
.editorial-masonry-container img {
	width: 100%;
	height: 100%;
}
.editorial-masonry-container .title {
	position: absolute;
	text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	justify-content: center;
	font-size: 35px;
	text-transform: uppercase;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	-webkit-box-align: center;
	align-items: center;
	text-align: center;
}
.editorial-videos-container .video-js{
	width: 100%;
	padding-top: 56.25%;
}

.video-js .vjs-big-play-button {
	background-color: transparent !important;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
	margin-top: -2em;
	margin-left: -3em;
	width: 6em;
	height: 3em;
	top: 50%;
	left: 50%;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before{
	content: "";
	background: url('//theme.hstatic.net/1000197303/1000641267/14/play.svg?v=695') center center no-repeat;
}
.vjs-icon-placeholder,.vjs-play-progress.vjs-slider-bar{
	font-family: VideoJS !important;
}


.wrapper-heading-home {
	padding: 0;
	text-align: center;
	margin: 50px 0px 0px;
}
.pro-loop {
	margin-bottom: 20px;
	text-align: center
}
.pro-loop .product-img{
	max-height: initial
}
.pro-loop .product-detail {
	padding: 0;
}
p.pro-price {
	font-size: 16px;
	line-height: 16px;
	padding: 10px 0px 5px;
}
.pro-loop .product-detail h3 {
	margin: 10px 0 0;
	font-size: 16px;
}

.influencer-list-section{
	margin: 50px 0px 0px;
}

.influencer-list-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 20px 20px;
	flex-direction: column;
	border-top: 1px solid rgb(229, 230, 231);
	border-bottom: 1px solid rgb(229, 230, 231);
	padding: 50px 0px 0px;

}
.influencer-item{
	display: flex;
	flex-direction: column;
	color: rgb(65, 64, 66);
	grid-column: span 12 / auto;
	margin: 0px 0px 70px;
	text-decoration: none;
}
.influencer-list h3 {
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	justify-content: center;
	text-transform: uppercase;

}
/*
.influencer-list-wrap {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 20px 20px;
}*/
.influencer-item .influencer-image {
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	background-size: cover;
	height: 30vw;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.influencer-item legend {
	font-size: 13px;
	text-align: center;
	margin: 8px 0px 0px;

}
.influencer-item p {
	font-size: 13px;
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}


footer {
	display: flex;
	flex-direction: column;
	padding: 0px;
}
.top-footer {
	background: #ffffff;
}
footer .usp-container {
	display: flex;
	background-color: rgb(39, 36, 37);
	color: rgb(255, 255, 255);
	margin: 50px 0px;
}
.collection footer .usp-container{
	margin-top: 0px;
}
footer .usp-container ul{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	-webkit-box-pack: justify;
	justify-content: space-between;
	list-style-type: none;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}
footer .usp-container ul li {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	width: calc(50% - 51px);
	padding: 25px;
}
footer .usp-container ul li a{
	color: #fff
}
footer .usp-container ul li:nth-child(1) {
	border-right: 1px solid rgb(65, 64, 66);
	border-bottom: 1px solid rgb(65, 64, 66);
}
footer .usp-container ul li i {
	width: 33px;
	height: 33px;
	color: #fff
}
footer .usp-container ul li p {
	text-transform: uppercase;
	font-size: 13px;
	margin: 10px 0px 4px;

}
footer .usp-container ul li span {
	text-transform: uppercase;
	font-size: 11px;
	color: #fff
}
.icon-truck-inverse {
	background: url(//theme.hstatic.net/1000197303/1000641267/14/truck-inverse.svg?v=695) center center no-repeat;
}
.icon-timer-inverse {
	background: url(//theme.hstatic.net/1000197303/1000641267/14/timer-inverse.svg?v=695) center center no-repeat;
}
.icon-tag-inverse {
	background: url(//theme.hstatic.net/1000197303/1000641267/14/tag-inverse.svg?v=695) center center no-repeat;
}
.top-footer .fa-tshirt:before {
	content: '';
}
.fa-tshirt {
	background: url(//theme.hstatic.net/1000197303/1000641267/14/tshirt-solid.svg?v=695) center center no-repeat;
}

.main-footer{
	border: 0
}
.footer h4.footer-title{
	font-size: 16px;

	text-transform: uppercase;
	margin: 0px 0px 12px;
}
.footer-content ul li a {
	font-size: 14px;
	color: rgb(65, 64, 66);
}
.footer-note {
	font-size: 11px;
	padding-bottom: 15px;
	display: block;
}
.footer-app li {
	margin: 0px 0px 8px;
}
.footer-app img {
	width: 110px;
}

.bottom-footer p {
	font-size: 10px;
	color: rgb(65, 64, 66);
	text-decoration: none;
	text-align: left
}
.footer .list-social li a{
	width: 100%;
	height: 100%;
	color: rgb(65, 64, 66);
	text-decoration: none;
	display: inline
}
.icon-messenger {
	background: url(//theme.hstatic.net/1000197303/1000641267/14/messenger.svg?v=695) center center no-repeat;
}
.icon-facebook {
	background: url(//theme.hstatic.net/1000197303/1000641267/14/facebook.svg?v=695) center center no-repeat;
}
.icon-instagram {
	background: url(//theme.hstatic.net/1000197303/1000641267/14/instagram.svg?v=695) center center no-repeat;
}
.icon-line {
	background: url(//theme.hstatic.net/1000197303/1000641267/14/line.svg?v=695) center center no-repeat;
}
.icon-youtube {
	background: url(//theme.hstatic.net/1000197303/1000641267/14/youtube.svg?v=695) center center no-repeat;
}

.collection_left_box{
	display: flex;
	vertical-align: middle;
	font-size: 16px;
	font-style: italic;
	position: relative;
	z-index: 1;
}
.collection-view {
	display: flex;
	vertical-align: middle;
	font-size: 16px;
	font-style: italic;
}
.change-view {
	display: block;
	background: none;
	border: 0 none;
	float: left;
	padding: 10px 8px;
	color: #e1e1e1;
	line-height: 1;
}
.change-view--active {
	cursor: default;
	color: #141414;
}
.collection-view button {
	height: 35px;
	width: 35px;
	margin: 0
}
.collection-view button:first-child {
	border-right: 1px solid #e1e1e1;
}
.icon-fallback-text i {
	font-size: 14px;
}
.fallback-text {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.name-full {
	font-weight: bold;
	margin-top: 4px;
	padding: 0 5px;
}
.wrap-collection-title .heading-collection h1{
	//width: calc(100% - 435px);
	width: 100%;
	font-style: normal;
	font-size: 30px
}

.content-product-list.product-list.view-list > .pro-loop {
	width: 100%;
	text-align: left;
}
.content-product-list.product-list.view-list .product-block {
	display: flex;
	align-items: center;
}

.content-product-list.product-list.view-list .product-detail {
	padding-left: 50px;
}

.content-product-list.product-list.view-list .product-img img{
	width: 100%
}

.no-result {
	text-align: center;
	margin-top: 75px;
	min-height: 450px;
}
.no-results-content{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.wrap-filter .block .block_content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.wrap-filter .block .block_content::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.wrap-filter .block .block_content::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
.is-visible .wrap-filter .block .block_content{
	overflow-y: auto;
	overflow-x: auto;
	height: calc(100vh - 275px);
}

.is-hidden-visually.is-visible .wrap-filter .block .block_content{
	height: 650px;
	height: calc(100vh - 80px);
}

#pagination .page-node, #pagination .next, #pagination .prev{
	padding: 8px 10px;
	background-color: #fff;
	color: #000;
	border: 1px solid #1d1d1d;
	margin: 0;
	margin-left: 10px;
	font-size: 16px;
}
#pagination .prev, #pagination .next {
	display: none;
}
#pagination .page-node.current {
	background-color: #1d1d1d;
	color: white;
	border: 1px solid #1d1d1d;
	margin-left: 10px;
}
.pagination_wrap{
	margin-bottom: 1em;
	margin-top: 20px;
	display: block;
	border-top: 1px solid #e1e1e1;
	padding: 8px 10px;
}

.m-bottom-bar{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	z-index: 99999;
	min-width: 320px;
	transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	background-color: #313131;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
}
.box_sidebar .block_content.show{
	display: block;
	position: fixed;
	width: 100%;
	height: 100% !important;
	top: 0;
	left: 0;
	z-index: 99999999999;
	background: #fff;
	padding: 15px;
}
.c-button-close--filter{
	position: absolute;
	right: 30px;
	z-index: 999;
}

.m-view-result{
	background-color: #313131;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	margin: 0 -15px;
}

a.sizechart {
	display: block;
	padding: 18px;
	text-align: center;
	background: #e3e3e3;
	margin-bottom: 15px;
	font-size: 18px;
}
#size_chart_modal {
	z-index: 99999999999999999;
	position: fixed;
	top: 5% !important;
}
#size_chart_modal .modal-body {
	position: relative;
	padding: 15px;
	z-index: 9999999999999999;
}
#size_chart_modal button.close{
	background: #000 none repeat scroll 0 0;
	border-radius: 0;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 30px;
	line-height: 30px;
	margin: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 30px;
	opacity: 1;
	z-index: 1;
}
#size_chart_modal .modal-body{
	background-color: #f9f9f9;
}

#size_chart_modal button.close::before {
	color: #fff;
	content: "\f00d";
	font: 14px/30px Fontawesome;
}

.product-collection-other{
	margin-top: 10px;
	font-size: 16px
}

.description-variants li{
	font-size: 14px
}

.offline-container .offline-top-banner {
	text-transform: uppercase;
	font-size: 13px;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	color: rgb(255, 255, 255);
	padding: 15px;
	background: rgb(4, 46, 234);
}
.offline-container .offline-top-banner a {
	margin-left: 15px;
	color: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(255, 255, 255);
}

.offline-container .offline-banner {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 30px;
	cursor: pointer
}
.offline-container .offline-banner-pink {
	background: rgb(255, 216, 223);
}
.offline-container .offline-banner-copy-vertical {
	margin: 150px 0px 0px;
}
.offline-container .offline-banner-copy {
	display: flex;
	flex-direction: column;
}
.offline-container .offline-banner-copy strong {
	text-transform: uppercase;
	font-size: 15px;
}
.offline-container h2 {
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 0px;
	margin: 50px 0px;
}
.offline-container h2 span {
	width: 230px;
}
.offline-container .offline-banner {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 30px;
}
.offline-container .offline-banner-copy-centered strong {
	font-size: 18px;
}

.offline-container .offline-banner-copy .offline-banner-copy-section p {
	font-size: 18px;
}
.offline-container .offline-banner-cta .btn {
	cursor: pointer;
	width: 90%;
	font-size: 14px;
	color: rgb(65, 64, 66);
	padding: 15px 0px;
	margin: 0px;
}
.offline-container .desktop-break {
	display: none;
	max-width: 800px;
}
.btn-transparent-dark {
	background-color: transparent;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(39, 36, 37);
	border-image: initial;
}
.offline-container .offline-banner-copy p {
	margin: 10px 0px;
}
.offline-container .offline-slider {
	display: flex;
	position: relative;
}
.offline-container .offline-slider .swiper-container {
	height: 165vw;
	width: 100%;
	margin-top: 45px;
	box-sizing: border-box;
}
.offline-container .offline-slider .editorial-image-slide-container {
	position: relative;
}
.offline-container .offline-slider .editorial-images-slide-image-background {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
}
.store-select{
	text-align: center;
	padding: 20px 0;
	background: #efefef;
	margin: 20px 0;
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
}
.store-select .store-title {
	text-transform: uppercase;
	font-size: 24px;
	height: 30px;
	vertical-align: bottom;
}
.store-select-wrap{
	//background: #fff;
	padding: 5px;
	display: inline-block;
}
.store-select select{
	padding: 10px;
	width: 300px;
	margin: 0 5px;
}
#store_detail_modal{
	z-index: 99999999999;
	opacity: 0.99;
}
#store_detail_modal .modal-dialog{
	width: 100%;
	height: 100%;
	margin: 0;
}
#store_detail_modal .modal-content{
	height: 100%;
	border: 0;
	border-radius: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-shadow: none;
}
#store_detail_modal .close{
	font-size: 40px;
	opacity: 1;
	position: absolute;
	z-index: 999;
	right: 0;
}


.menu-blog ul li{
	border-bottom: 1px solid #f1eeee;
	padding: 10px 20px;
}

.menu-blog ul li:last-child{
	border: 0
}

.product_count_bag{
	color: #ddd
}

.social-login{
	margin-top: 100px;
}

.social-login button{
	font-size: 44px;
	padding: 0;
	background: none;
	margin: 0;
	border-radius: 0;
}
.social-login button img{
	width: 50px
}

.btsocialloginfb{
	color: #1412a7
}
.btsociallogingg{
	color: #ed0404
}

.page-about h4{
	font-size: 30px;
	font-weight: bold;
	margin: 20px 0;
	line-height: 36px;
	text-transform: uppercase
}

@media (min-width: 1920px){
	.button{
		font-size: 18px
	}
	.main-header.affix-mobile {
		max-width: 87%;
		width: 87%;
	}
	body{
		font-size: 20px;
		line-height: 24px
	}
	#nav nav.main-nav ul > li a,#nav .main-nav .sub_menu a, .header-account a,
	.usp-container-desktop ul,.usp-tooltip .usp-tooltip-content,#topbar, 
	footer .usp-container ul li p, .tree-menu > li > a{
		font-size: 20px
	}
	.text-main, .editorial-image-artifacts .artifact-tooltip, #pagination .page-node, #pagination .next, #pagination .prev{
		font-size: 25px;
	}
	.editorial-image-artifacts .description {
		font-size: 30px !important;
		line-height: 30px !important;
	}
	p.pro-price, .pro-loop .product-detail h3, .footer-content ul li a, .footer h4.footer-title {
		font-size: 24px;
		line-height: 24px;
	}
	footer .usp-container ul li i {
		width: 45px;
		height: 45px;
	}
	footer .usp-container ul li span, #pro_sku{
		font-size: 20px
	}
	.check-box-list li {
		line-height: 26px;
		font-size: 20px;
	}
	.pro-loop .product-detail h3 a{
		max-height: initial !important;
    line-height: initial;
	}
	.product-price span.pro-price, .swatch .header {
		font-size: 28px;
	}
	.swatch .swatch-element.color label, .swatch .swatch-element label{
		font-size: 24px;
		min-width: 50px;
		height: 50px;
		line-height: 50px;
	}
	button.btn-addtocart {
		font-size: 24px;
		padding: 24px 35px;
		line-height: 28px;
	}
	.product-description .title-bl h2, .product-description h2, .product-description h3, .description-variants li{
		font-size: 24px;
	}
	#size_chart_modal .modal-dialog {
		width: 1400px !important;
		margin-top: 65px !important;
	}
	#size_chart_modal {
		z-index: 999999999999;
	}
	.site-nav.style--sidebar{
		width: 560px;
	}
	.site-nav.style--sidebar .site-nav-container .title, .lb-header__desc{
		font-size: 24px;
	}
	.lb-content__btn{
		font-size: 20px;
	}
	.lookbooks-policy * {
		font-size: 24px;
		line-height: 40px;
	}
	.offline-container .offline-banner-copy-centered strong{
		font-size: 24px;
		line-height: 30px;
	}
	.offline-container .offline-banner-copy .offline-banner-copy-section p {
		font-size: 25px;
		line-height: 32px;
	}
	.offline-container .offline-banner-cta .btn, #store_detail_modal p, .offline-container .offline-banner-copy-vertical p {
		font-size: 24px !important;
	}
	.list-news-latest .item-article .post-content h3{
		font-size: 20px !important;
	}
	.blog-posts .blog-post .blog-post-title, .blog-post, .product_count_bag{
		font-size: 24px !important;
		line-height: 36px;
	
	}
.blog-posts .blog-post .blog-post-title{
	height: 100px !important;
}
	p.entry-content {
		height: 120px;
		line-height: initial;
		font-size: 23px;
	}
	.sidebar-page .page_menu_title h2, .article-pages *, .content-page * {
		font-size: 24px;
		line-height: 28px;
	}
	.layered-content .tree-menu li{
		clear: both;
	}
}
@media (min-width: 1024px){
	#size_chart_modal .modal-dialog{
		width: 950px
	}
}
@media (min-width: 992px){
	.influencer-list h3 {
		font-size: 48px;
	}
	.influencer-item{
		grid-column: span 3 / auto;
	}
	footer .usp-container ul li {
		width: calc(25%);
	}
	footer .usp-container ul li:nth-child(3) {
		border-right: 1px solid rgb(65, 64, 66);
		border-left: 1px solid rgb(65, 64, 66);
	}
	.offline-container .offline-banner-row {
		flex-direction: row;
		-webkit-box-pack: justify;
		justify-content: space-between;
		width: 65%;
		box-sizing: border-box;
		max-width: 800px;
		margin: 0px auto;
		padding: 50px 0px;
	}
}
@media (min-width: 768px){
	.usp-container-desktop .mobile-slide-item:first-child {
		padding: 15px;
	}
	.editorial-image-artifacts .description {
		position: absolute;
	}
	.editorial-image-artifacts .btn {
		flex-direction: row;
		position: absolute;
	}
	.editorial-masonry-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		cursor: pointer;
		margin: 55px 0px 0px;
	}
	.editorial-masonry-container .editorial-masonry-item-container {
		margin-bottom: 55px;
		grid-column: span 6 / auto;
	}
	.editorial-masonry-container .editorial-masonry-item-container:nth-child(2n+1) {
		margin-right: 27.5px;
	}
	.editorial-masonry-container .editorial-masonry-item-container:nth-child(2n) {
		margin-left: 27.5px;
	}

	.offline-container .offline-top-banner {
		-webkit-box-pack: center;
		justify-content: center;
	}
	.offline-container .offline-banner-pink img {
		width: 55%;
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		margin: 30px auto 0px;
	}
	.offline-container .offline-banner-copy-vertical {
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		text-align: center;
		max-width: 400px;
		margin: 50px auto 0px;
	}
	.offline-container .offline-banner-copy-vertical strong {
		font-size: 19px;
	}
	.offline-container .offline-banner-copy-vertical p {
		font-size: 16px;
		margin: 15px auto 0px;
	}
	.offline-container h2 span {
		width: 45%;
	}
	.offline-container .offline-banner-row {
		flex-direction: row;
		-webkit-box-pack: justify;
		justify-content: space-between;
		width: 100%;
		box-sizing: border-box;
		max-width: 800px;
		margin: 0px auto;
		padding: 50px 0px;
	}
	.offline-container .offline-banner-row img {
		width: 300px;
		height: 100%
	}
	.offline-container .offline-banner-row .offline-banner-copy {
		text-align: left;
		width: 50%;
		margin: 0px 0px 0px 30px;
	}
	.offline-container .offline-banner-row .offline-banner-copy-section {
		margin: 0px 0px 20px;
	}
	.offline-container .offline-banner-row .offline-banner-copy-section strong {
		font-size: 14px;
	}
	.offline-container .desktop-break {
		display: flex;
		width: 65%;
		background: none;
		border-top: 1px solid rgb(65, 64, 66);
		margin: 15px auto;
	}

	.offline-container .offline-slider {
		height: 49.7512vw;
	}
	.offline-container .offline-slider .swiper-container {
		margin-top: 0px;
		height: 100%;
		padding: 0px;
	}
}
@media (max-width: 767px) {
	.editorial-masonry-container .editorial-masonry-item-container {margin: 25px 0;}
}

.offline-container .offline-banner-copy .offline-banner-copy-section {
	margin: 0px 0px 30px;
}

.wrap-logo-ipad{
	display: none;
}
.wrap-logo-ipad img{
	width: 150px;
	margin: auto;
}
@media screen and (max-width: 1366px){
	#nav nav.main-nav ul > li a{
		font-size: 11px
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
	.header-mid .wrap-logo img{
		display: none
	}
	.wrap-logo-ipad{
		display: block
	}
	.header-wrap-icon{
		top: 3px;
	}
	.main-header.affix-mobile {
		max-width: 100%;
		width: 100%;
	}
	.affix-mobile .menu-desktop{
		justify-content: left;
	}
	#nav .main-nav ul {

	}
	.main-header{
		height: 60px
	}
	.header-wrap-icon > span{
		margin: 0px 5px 0 10px;
	}
	#nav nav.main-nav ul > li a{
		font-size: 11px;
	}
	.usp-container-desktop ul li:last-child{
		width: auto;
		padding: 15px;
	}
}
@media screen and (max-width: 1024px){
.wrap-collection-title .heading-collection h1{
font-size:20;
}
	.main-header.affix-mobile {
		max-width: 97%;
		width: 97%;
	}
	.header-wrap-icon > span{
		margin: 8px 3px 0 5px;
	}

	.slider-media-container, .slider-media-container .editorial-images-slide-image-background {
		min-height: 450px;
	}
}
@media screen and (max-width: 992px){
	.header-wrap-icon > span.header-account, .header-wrap-icon > span.hr{
		display: none
	}
}

@media screen and (max-width: 768px){
	.mb-inline{
		display: inline-block !important;
		margin-left: auto;
	}
	.usp-tooltip{
		display: none !important
	}
	.usp-container-desktop ul li:last-child{
		display: inline-block;
		padding: 18px 0
	}
	.text-main{
		font-size: 13px
	}
	.topbar-content span{
		display: block;
		line-height: 20px;
		margin: 0 10px;
	}
	.main-header{
		height: 55px;
		padding: 0
	}
	.header-mid{
		left: 50%;
		transform: translateX(-50%);
	}

	.header-wrap-icon{
		right: 5px
	}
	.header-mid .wrap-logo img {
		width: 100px;
	}
	header.with-search .header-search-form{
		padding: 0 13px;
	}

	.usp-container-desktop .mobile-slide-item{
		display: flex;
		padding: 8px 0;
	}
	.usp-container-desktop ul{
		flex-wrap: inherit;
		display: block;
	}
	.slider-media-container{ min-height: auto; }
	.slider-media-container .editorial-images-slide-image-background{
		min-height: 320px;
	}
	.slider-media-container .editorial-images-slide-image-background{
		display: none;
	}
	.slider-media-container .editorial-image-artifacts .btn{
		top: auto!important;
		bottom: 0;
		margin-bottom: 10px;
	}
	.editorial-image-artifacts:hover .artifact-tooltip{
		display: none
	}
	.editorial-image-artifacts .description{
		display: none
	}
	.editorial-image-artifacts .btn button{
		font-size: 11px !important;
		padding: 8px 0;
		margin-bottom: 10px;
		width: 46% !important;
		float: left !important;
		display: block !important;
	}
	.slider-media-container .editorial-image-artifacts .btn{
		flex-direction: initial !important;
		bottom: -20px !important;
	}
	.editorial-image-artifacts .leftcentered{
		width: 80%;
		left: 0px !important;
	}

	.editorial-videos-container .video-js{
		height: 100%
	}

	.wrapper-heading-home{
		margin: 20px 0px 10px;
	}

	.influencer-list-wrap{
		padding: 0;
		margin: 0;
	}
	.influencer-item .influencer-image{
		height: 270px
	}

	.pro-loop{
		padding-bottom: 0
	}

	.check-box-list li{
		width: 49%;
		display: inline-block;
	}

	footer .usp-container ul li{
		width: 50%
	}
	footer .usp-container ul li:nth-child(1) {
		border-right: 1px solid rgb(65, 64, 66);
		border-bottom: 1px solid rgb(65, 64, 66);
	}
	footer .usp-container ul li:nth-child(2) {
		border-bottom: 1px solid rgb(65, 64, 66);
	}
	footer .usp-container ul li:nth-child(3) {
		border-right: 1px solid rgb(65, 64, 66);
	}
	.main-footer {
		padding: 20px 0;
		text-align: left;
	}
	.invert-order{
		display: flex;
		width: 100%;
		-webkit-box-pack: justify;
		justify-content: space-between;
		flex-direction: column-reverse;
		-webkit-box-align: center;
		align-items: center;
	}
	.bottom-footer p {
		text-align: center
	}
	.offline-container .offline-slider .swiper-container {
		height: 50vw;
		margin-top: 10px;
	}
	.offline-container .offline-banner{
		text-align: center
	}
	.offline-container .offline-banner-copy {
		margin-top: 20px;
	}

	.offline-container .offline-banner{
		padding: 0;
		margin-bottom: 25px;
	}

	.collection_left_box{
		display: block
	}
	.collection-view, .name-full{
		width: 40%;
		display: inline-block;
	}
	.wrap-collection-title .heading-collection h1{
		width: 100%
	}

	#size_chart_modal .modal-content{
		top: 80px;
		position: relative;
		z-index:999999999999999999999999999;
	}
	#size_chart_modal {
		z-index: 9999;
		position: fixed;
		top: 5% !important;
	}
	.offline-container h2 span{
		width: auto
	}
	.product.modal-open {
		z-index: 10;
	}
	.store-select-wrap{
		display: block;
	}
	.store-select select {
		width: 46%;
	}
	.modal-backdrop.in {
		position: relative;
		z-index: 9999;
	}
}
@media screen and (max-width: 480px){
	body{
		overflow-x: hidden
	}
	.blog-posts .blog-loop {
		width: 100%;
	}
	.store-select .store-title {
		font-size: 20px;
	}
	#store_detail_modal .modal-content .modal-body, #store_detail_modal .modal-content iframe{
		width: 100% !important;
		text-align: center;
	}
	.main-body {
		overflow-x: hidden;
	}
	.main-header {
		height: 55px;
		padding: 0;
		padding-top: 10px !important;
	}
}
.footer .list-social li{

}
.list-social a .fa {
	font-size: 35px;
	padding: 5px;
}
.fa-zalo { 
	background: rgba(0,0,0,0) url(//theme.hstatic.net/1000197303/1000641267/14/logo-zalo-vector-black.png?v=695) no-repeat scroll 0 0 / cover;
	display: inline-block;
	height: 35px;
	width: 35px;
	margin-top: -20px;
	vertical-align: middle;
}

.arrow_bottom, .arrow_left, .arrow_right, .arrow_top {
	width: 1.6rem;
	height: 1.6rem;
	background-color: #fff;
	position: absolute;
	z-index: 9;
	transform: rotate(45deg);
}
.arrow_top {
	box-shadow: -1px -1px 2px rgba(34,34,34,.1);
	top: -7px;
	left: calc(50% - 8px);
}
.mask-overlay {
	position: absolute;
	background-color: #222;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 0;
	opacity: 0;
	transition: opacity .2s ease-in-out;
}

.blog-posts .blog-post .blog-post-thumbnail:hover .mask-overlay{
	transition: opacity .2s ease-in-out;
	height: 100%;
	opacity: .2;
	z-index: 1;
}

.content-page ul li{
	list-style-position: inside !important
}
.fas {
	font-family: Font Awesome\ 5 Pro !important;
}
.fab {
	font-family: Font Awesome\ 5 Brands !important;
	font-size: 36px;
}
.hrv-loyalty-popover-container {
	z-index:20 !important;
}