.close-popup {
	position: absolute;
	right: 0px;
	font-size: 30px;
	top: 0px;
	width: 30px;
	text-align: center;
	z-index: 100000;
	background: #e82b08;
	color: #FFF !important;
	cursor: pointer;
	}
	/* Popup Login */
	#login_overlay,#quick_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	}
	#login_modal, #quickview_modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 10000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	}
	#login_modal{
	display: none;
	}
	#quickview_modal{ max-width: 900px; width: 900px; }
	#login_modal.open,#quick_modal.open {
	visibility: visible;
	display: block;
	}
	.main-modal {
	color: #000;
	background: #fff;
	position: relative;
	border-radius: 3px;
	padding: 20px;
	margin: 0 auto;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	}
	#login_modal .main-modal img {
	max-height: 80px;
	}
	#login_modal.open .main-modal, #quickview_modal.open .main-modal {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	visibility: visible;
	}
	#login_overlay.open, #quick_overlay.open {
	opacity: 1;
	visibility: visible;
	}
	#login_modal .form_otp{ display: none; }
	#login_modal .main-modal h4 {
	padding-top: 0;
	padding-bottom: 7px;
	color: #e82b08;
	font-size: 18px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 24px;
	}
	#login_modal .modal-login {
	height: 40px;
	width: auto;
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	border-radius: 0;
	margin-left: 0px;
	background: #e82e09;
	}
	#login_modal .modal-login:before {
	display: none;
	}
	#login_modal .modal-left, #login_modal .modal-right {
	float: left;
	padding: 0 15px;
	}
	#login_modal .modal-left{ width: 50%; }
	#login_modal .main-modal input {
	color: #000;
	height: 40px;
	padding-left: 10px;
	}
	#modal_customer_login .errors, #customer_login .errors {
	color: #e82b08;
	font-weight: 500;
	}
	#login_modal .modal-left #email {
	width: 100%;
	}
	#login_modal .main-modal label {
	color: #000;
	line-height: 40px;
	font-weight: normal;
	margin-bottom: 0;
	}
	#login_modal .main-modal input#country_code {
	width: 50px;
	height: 40px;
	}
	#login_modal .main-modal #phone_number {	width: 100%; }
	#login_modal .main-modal button {
	background: #e82b08;
	color:#fff;
	font-weight:700;
	border: none;
	height: 40px;
	padding: 0 20px;
	font-size: 12px;
	}
	.text_seperate {
	margin: 10px 0 10px 10px;
	}
	a#login_pass { display: inline-block; margin-top: 15px; }
	#login_modal #modal_customer_login .modal-left {
	width: calc((100% - 80px)/2);
	padding: 0 15px 0 0;
	}
	#login_modal #modal_customer_login .modal-button{width: 61px;float: left;}
	#login_modal #modal_customer_login .modal-left #phone_login,
	#login_modal #modal_customer_login .modal-left #password {
	width: 100%;
	}
	#login_modal #modal_customer_login .modal-button input[type="submit"] {
	width: 100%;
	background: #e82b08;
	color: #fff;
	font-weight: 700;
	border: none;
	height: 40px;
	padding: 0;
	}
	#login_modal #modal_customer_login .modal-left:first-child {
	padding-left: 15px;
	}
	#login_modal.open .main-modal #modal_customer_login p{ margin-top: 15px; line-height: 26px; }
	#login_modal.open .main-modal #modal_customer_login a, #modal_back, .red { color: #ee1b00; }
	#modal_back { margin-left: 10px; }
	#login_modal .red { clear: left; padding: 10px 15px 0; display: block; margin-bottom: 0; display: none;}
	#login_modal .form_otp.step_1 .red{ padding: 0; }
	select#group_list {	width: 100%; height: 40px; }
	input#code_cus, input#group_list { display: block;	width: 100%; }
	input#group_list{ text-transform: uppercase; }
	#login_modal .form_otp > p { margin-top: 20px; }
	.index.prevent header#site-header {
	z-index: 1 !important;
	}
	.index.prevent .usp-container.usp-container-desktop.swiper-container {
	border: 0px;
	}