.modal-productApp{	background: rgba(3, 17, 27, 0.7);-webkit-transition: opacity .35s linear;-o-transition: opacity .35s linear;transition: opacity .35s linear;}
	.modal-productApp.fade .modal-dialog{-webkit-transform: translate(0,0);-ms-transform: translate(0,0);-o-transform: translate(0,0);transform: translate(0,0);}
	.modal-productApp .modal-dialog-centered {
	display: -webkit-box;display: -ms-flexbox; display: flex;
	-webkit-box-align: center; -ms-flex-align: center; align-items: center;
	}
	.modal-productApp .modal-dialog-centered .modal-content {width: 100%; }
	.modal-productApp .modal-dialog-centered{ margin: 1.75rem auto;min-height: calc(100% - (1.75rem * 2));}
	.modal-productApp.fade .modal-dialog-centered {
	opacity: 0;
	-webkit-transform: scale(0.8);-moz-transform: scale(0.8);-ms-transform: scale(0.8);transform: scale(0.8);
	-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;transition: all .2s;
	}
	.modal-productApp.fade.in .modal-dialog-centered {	opacity: 1;-webkit-transform: scale(1);-moz-transform: scale(1);	-ms-transform: scale(1);transform: scale(1);}
	.modal-productApp .modal-dialog-centered .modal-content{margin-bottom: 50px;}

	.modal-productApp .modal-footer {padding: 15px;text-align: center;}
	.modal-productApp .modal-footer .button{margin:0 5px;}
	.modal-productApp .modal-header{padding:15px 20px ;}
	.modal-productApp .modal-header .name-combo,
	.modal-productApp .modal-header .modal-title {margin: 0;font-weight: bold;font-size:22px;padding: 0px 30px 0px 0px;}
	.modal-productApp .modal-header .combo-title {margin:10px 0 0;font-size: 14px;	font-weight: bold;}
	.modal-productApp .modal-header .close-modal-app {display: inline-block;position: absolute;background-color: #ffffff;width: 30px;height: 30px;	border-radius: 50%;	border: 1px solid #333;	right: 13px;top: 9px;z-index: 9;	opacity: 1;margin: 0;}
	.modal-productApp .modal-header .close-modal-app svg {display: inline-block;fill: currentColor;position: relative;width: 12px;line-height: 30px;margin-top:-2px;}

	#combo-program {max-height:400px;    overflow: auto;}
	#combo-program .combo-title b {color: #ff0707;}
	#combo-program .combo-w {border: 0;margin-bottom:0px;padding:0px 10px 0px 40px;position: relative;}
	#combo-program .combo-w:after {content: '\2714\fe0e';font-size: 16px;position: absolute;top: calc(50% - 11px);left: 11px;color:#000000;opacity: 0;}
	#combo-program .combo-w:before {content: '';width: 20px;height: 20px;border: 1px solid #e1e1e1;border-radius: 3px;position: absolute;top: calc(50% - 10px);left: 7px;}
	#combo-program .combo-w.checked:after {opacity: 1;}
	#combo-program .combo-w.checked:before {border: 1px solid ;}
	#combo-program table tr {margin-bottom: 3px;}
	#combo-program table tr:first-child td { border-top:0; }
	#combo-program table label {font-weight: normal;font-size: 13px;display: block;border: none;padding: 2px 5px;cursor: pointer;}
	#combo-program table label:after {content: "";display: table;clear: both;}
	#combo-program table label img {display: inline-block;width:85px;	float: left;}
	#combo-program table label p {display: inline-block;width: calc(100% - 85px);float: left;margin-bottom: 0px;padding-left: 15px;}
	#combo-program table label .discount-promotion-price b {color: #fa0303;}
	#combo-program table label .discount-promotion-price del {margin-left: 5px;}
	#combo-program table input {display: none;}
	#combo-program table input:checked + label {color: #000;background: #fff8f8;}
	@media(max-width:767px){
	.modal-productApp .modal-dialog-centered{margin: 2.5rem 1.5rem;min-height: calc(100% - (2.5rem * 2));}
	.modal-productApp .modal-header{padding-left:15px;}
	.modal-productApp .modal-header .name-combo,
	.modal-productApp .modal-header .modal-title{ font-size: 18px;}
	.modal-productApp .modal-footer .button{width:100%;margin: 0;}
	.modal-productApp .modal-footer .button + .button.discount-promotion-btn{margin-top:15px;}
    }
    
    .item .titleCombo {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }
    a.href-combo {
        margin-top: 15px;
        display: block;
        font-size: 15px;
    }
    #provinceStore { width: 100%; padding: 10px; display: flex;}
    #multistock .modal-dialog{margin: calc(100vh/2 - 222px) auto;}
    .inventory-location-box {
        margin-top: 0px;
        margin-bottom: 0px;
        background: #fff;
        padding: 20px;
        border-radius: 5px;
    }
    .inventory-location-box h4 {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;
    }
    #inventory_popup .close {
        width: 30px;
        height: 30px;
    }
    #inventory_popup h4{
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 1.0px;
    }
    .inventory-location-box.data ul {
        padding-left: 0;
        margin:5px 0;
        max-height: 300px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .inventory-location-box.data ul::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 15px;
        background-color: #F5F5F5;
    }
    .inventory-location-box.data ul::-webkit-scrollbar{
        width: 8px;
        background-color: #F5F5F5;
    }
    .inventory-location-box.data ul::-webkit-scrollbar-thumb{
        border-radius: 15px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    .inventory-location-box.data ul li .bold-light {
        font-weight: bold;
        display: block;
        font-size: 15px;
        text-transform: uppercase;
    }
    .inventory-location-box.data ul li .desc {font-size: 14px;}
    .inventory-location-box.error {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #F06455;
        border: 1px dashed #f88d81;
    }
    .inventory-location-ajax ul li{
        color: #555555;
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
    .inventory-location-ajax ul li:first-child {margin-top: 10px;}
    .inventory-location-ajax ul li:last-child {margin-bottom: 0px;}
    .inventory-location-ajax ul li input[type=radio]{
        position: absolute;
        visibility: hidden;
    }
    .inventory-location-ajax ul li label{
        position: relative;
        font-weight:normal;
        font-size: 13px;
        padding: 0 0 0 25px;
        margin: 4px auto;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
    }
    .inventory-location-ajax ul li .check{
        display: block;
        position: absolute;
        border: 1px solid #AAAAAA;
        border-radius: 100%;
        height: 16px;
        width: 16px;
        top: 5px;
        left: 0;
        z-index: 5;
        transition: border .25s linear;
        -webkit-transition: border .25s linear;
        background: #fff
    }
    .inventory-location-ajax ul li .check::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 8px;
        width: 8px;
        top: 3px;
        left: 3px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
    }
    .inventory-location-ajax input[type=radio]:checked ~ .check::before {
        background: #488be5;
    }
    button.close {
        margin: 5px 10px;
    }
    button.close {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
    }
    .close {
        float: right;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
    }