<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="vi">
<!--<![endif]-->

<head>
	<meta name="google-site-verification" content="I7NMVK2ibmVJb8zeGq6gZH7EXSw4wElWtNwQrq2402k" />
	<!-- End Google Tag Manager -->
	<link rel="shortcut icon" href="./image/favicon.webp" type="image/png" />
	<meta charset="utf-8" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
	<!--[if lt IE 9]><script src="//hsta tic.net/0/0/global/design/theme-default/html5shiv.js"></script><![endif]-->
	<title> MARC Fashion - BRIGHTEN YOUR DAY </title>
	<meta name="description" content="【 MARC 】là thương hiệu thời trang cao cấp đẹp quyến rũ sang trọng & nổi tiếng ở Việt Nam. hiều ưu đãi lớn. Khuyến mại sale giá sốc. Mua ngay. Sản phẩm đa dạng. Thanh Toán Linh Hoạt. Cam kết chất lượng. Giao hàng toàn quốc." />
	<link rel="canonical" href="https://marc.com.vn/" />
	<meta name="robots" content="index,follow" />
	<meta name="revisit-after" content="1 day" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="HandheldFriendly" content="true">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=0' name='viewport' />
	<link rel="dns-prefetch" href="https://marc.com.vn">
	<link rel="dns-prefetch" href="//hstatic.net">
	<script type='text/javascript'>
	//<![CDATA[
	if((typeof Haravan) === 'undefined') {
		Haravan = {};
	}
	Haravan.culture = 'vi-VN';
	Haravan.shop = 'marc.myharavan.com';
	Haravan.theme = {
		"name": "Update 29/09",
		"id": 1000641267,
		"role": "main"
	};
	Haravan.domain = 'marc.com.vn';
	//]]>
	</script>
	<!-- Global site tag (gtag.js) - Google Ads: 765857136 -->
	<script async src="./js/js.js"></script>
	<script src="./js/js5.js"></script>
	<meta name="google-site-verification" content="MTZHm3xcUmYOFUAXo4cuF0lYmNRAvndw1glC9wanNhM" />
    <meta name="google-site-verification" content="MTZHm3xcUmYOFUAXo4cuF0lYmNRAvndw1glC9wanNhM" />
	<style>
	.grecaptcha-badge {
		visibility: hidden;
	}
	</style>
	<script src="./js/js6.js"></script>
	<!--+++++++++++++++++++++++++  CSS ++++++++++++++++++++++++-->
	<link rel="preload" href="./css/css.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="stylesheet" href="./css/style1.css">
	<link rel="preload" href="./css/swiper.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link href="./css/video-js.css" rel="stylesheet">
	<link rel='stylesheet' href="./css/styles.css" as="style">
	<link rel="preload" href="./css/doke.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="./css/v5-css-all.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<!--+++++++++++++++++++++++++  JS ++++++++++++++++++++++++-->
	<script src='./js/jquery.min.1.11.0.js' type='text/javascript'></script>
	<script>
	var formatMoney = '{{amount}}₫';
	var shop_template = "index";
	jQuery.themeAssets = {
		arrowDown: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 8" style="enable-background:new 0 0 12 8; width: 12px; height: 8px;" xml:space="preserve"><polyline points="0,2 2,0 6,4 10,0 12,2 6,8 0,2 "/></svg>',
		arrowRight: '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31 10" style="enable-background:new 0 0 31 10; width: 31px; height: 10px;" xml:space="preserve"><polygon points="31,5 25,0 25,4 0,4 0,6 25,6 25,10 "/></svg>',
	};
	jQuery.themeCartSettings = 'overlay';
	</script>
	<meta property="og:type" content="website" />
	<meta property="og:title" content="MARC Fashion - BRIGHTEN YOUR DAY" />
	<meta property="og:image" content="http://theme.hstatic.net/1000197303/1000641267/14/share_fb_home.png?v=682" />
	<meta property="og:image:secure_url" content="https://theme.hstatic.net/1000197303/1000641267/14/share_fb_home.png?v=682" />
	<meta property="og:description" content="【 MARC 】là thương hiệu thời trang cao cấp đẹp quyến rũ sang trọng & nổi tiếng ở Việt Nam. hiều ưu đãi lớn. Khuyến mại sale giá sốc. Mua ngay. Sản phẩm đa dạng. Thanh Toán Linh Hoạt. Cam kết chất lượng. Giao hàng toàn quốc." />
	<meta property="og:url" content="https://marc.com.vn/" />
	<meta property="og:site_name" content="MARC" />
	<script>
	//ga('send', 'pageview');
	/*	setTimeout(function(){
$.ajax({
            url:'https://marc.com.vn?view=header'

        }).done(function ( repos ) {

$('head').append(repos);



        });
			},6000)*/
	</script>
	<script src='./js/eco_tracking_all_order.js' type='text/javascript'></script>
	<script>
	if(typeof(_sokShops) === "undefined") {
		_sokShops = {};
	}
	_sokShops.getNumber = function(val) {
		val = val.replace(/,/g, "");
		var reg = /\d+(\.\d{1,2})?/;
		if(val.length && val.match(reg).length) {
			return parseFloat(val.match(reg)[0]);
		} else {
			return 0;
		}
	};
	_sokShops.cart = {
		product_imageurl: ["https://product.hstatic.net/1000197303/product/pro_da_3_3f775bbced404fd397ad003f6f04f5ff_master.jpg", ],
		sku_id: ["1066573587", ],
		product_names: ["", ],
		sku_url: ["/products/ao-kieu-nhan-co-smocking-tay-con", ],
		product_prices: [_sokShops.getNumber("425,000₫"), ],
		product_quantities: [2, ],
		cart_amount: _sokShops.getNumber("850,000₫"),
		currency: "VND"
	};
	</script>
</head>

<body id="lama-theme" class="index">
	<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
		<symbol id="icon-add-cart">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512">
				<g>
					<g>
						<polygon points="447.992,336 181.555,336 69.539,80 0.008,80 0.008,48 90.477,48 202.492,304 447.992,304 		" /> </g>
					<path d="M287.992,416c0,26.5-21.5,48-48,48s-48-21.5-48-48s21.5-48,48-48S287.992,389.5,287.992,416z" />
					<path d="M447.992,416c0,26.5-21.5,48-48,48s-48-21.5-48-48s21.5-48,48-48S447.992,389.5,447.992,416z" />
					<g>
						<polygon points="499.18,144 511.992,112 160.008,112 172.805,144 		" />
						<polygon points="211.195,240 223.992,272 447.992,272 460.805,240 		" />
						<polygon points="486.398,176 185.602,176 198.398,208 473.586,208 		" /> </g>
				</g>
			</svg>
		</symbol>
		<symbol id="icon-list-switch">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 194.828 194.828" style="enable-background:new 0 0 194.828 194.828;" xml:space="preserve">
				<g>
					<g>
						<g>
							<path d="M190.931,17.534H3.897C1.745,17.534,0,19.279,0,21.431v19.483c0,2.152,1.745,3.897,3.897,3.897h187.034
										 c2.152,0,3.897-1.745,3.897-3.897V21.431C194.828,19.279,193.083,17.534,190.931,17.534z M187.034,37.017H7.793v-11.69h179.241
										 V37.017z" />
							<path d="M190.931,64.293H3.897C1.745,64.293,0,66.038,0,68.19v31.172c0,2.152,1.745,3.897,3.897,3.897h187.034
										 c2.152,0,3.897-1.745,3.897-3.897V68.19C194.828,66.038,193.083,64.293,190.931,64.293z M187.034,95.466H7.793v-23.38h179.241
										 V95.466z" />
							<path d="M190.931,122.741H3.897c-2.152,0-3.897,1.745-3.897,3.897v46.759c0,2.152,1.745,3.897,3.897,3.897h187.034
										 c2.152,0,3.897-1.745,3.897-3.897v-46.759C194.828,124.486,193.083,122.741,190.931,122.741z M187.034,169.5H7.793v-38.966
										 h179.241V169.5z" /> </g>
					</g>
				</g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
			</svg>
		</symbol>
		<symbol id="icon-sort-by">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">
				<g>
					<polygon points="85.877,154.014 85.877,428.309 131.706,428.309 131.706,154.014 180.497,221.213 217.584,194.27 108.792,44.46 
												 0,194.27 37.087,221.213 	" />
					<polygon points="404.13,335.988 404.13,61.691 358.301,61.691 358.301,335.99 309.503,268.787 272.416,295.73 381.216,445.54 
												 490,295.715 452.913,268.802 	" /> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
				<g> </g>
			</svg>
		</symbol>
		<symbol id="icon-search_white" viewBox="0 0 1024 1024">
			<path class="path1" d="M1014.176 968.256l-264.32-260.128c69.184-75.264 111.68-174.688 111.68-284.128 0-234.080-192.8-423.872-430.688-423.872s-430.72 189.792-430.72 423.872c0 234.112 192.864 423.872 430.72 423.872 102.752 0 197.088-35.552 271.072-94.688l265.376 261.12c12.928 12.736 33.952 12.736 46.88 0 12.96-12.672 12.96-33.376 0-46.048zM430.848 782.688c-201.312 0-364.48-160.64-364.48-358.688 0-198.080 163.168-358.656 364.48-358.656 201.28 0 364.448 160.576 364.448 358.656 0.032 198.048-163.168 358.688-364.448 358.688z"></path>
		</symbol>
		<symbol id="icon-user" viewBox="0 0 1024 1024">
			<title>user</title>
			<path class="path1" d="M622.826 702.736c-22.11-3.518-22.614-64.314-22.614-64.314s64.968-64.316 79.128-150.802c38.090 0 61.618-91.946 23.522-124.296 1.59-34.054 48.96-267.324-190.862-267.324s-192.45 233.27-190.864 267.324c-38.094 32.35-14.57 124.296 23.522 124.296 14.158 86.486 79.128 150.802 79.128 150.802s-0.504 60.796-22.614 64.314c-71.22 11.332-337.172 128.634-337.172 257.264h896c0-128.63-265.952-245.932-337.174-257.264z"></path>
		</symbol>
	</svg>
	<div class="main-body">
		<div id="topbar">
			<div class="container-fluid">
				<div class="topbar-content text-center"> <span class="font-bold font-uppercase text-main cursor-default">BỘ SƯU TẬP MỚI NHẤT</span> <span class="hidden font-uppercase topbar-learmore">Learn More <i class="icon icon-arrow-white-right">&nbsp;</i></span> <span class="hidden-xs1 font-medium underlined center-text z-index-5 cursor-pointer font-uppercase mb-inline" onclick="window.location.href='https://marc.com.vn/collections/the-party-1'">MUA NGAY</span> <span class="hidden-xs1 font-medium underlined z-index-5 cursor-pointer font-uppercase mb-inline" onclick="window.location.href='https://marc.com.vn/pages/lookbooks-3?utm_source=website&utm_medium=trangchu_dautrang_2&utm_campaign=bst_040820'">XEM TOÀN BỘ BST MỚI</span> </div>
			</div>
		</div>
		<div class="wrap-logo-ipad">
			<a href="https://marc.com.vn"> <img src="//theme.hstatic.net/1000197303/1000641267/14/logo.png?v=682" alt="MARC" class="img-responsive logoimg" /> </a>
		</div>
		<header id="site-header" class="main-header container">
			<div class="menu-desktop hidden-sm hidden-xs">
				<div class="wrap-logo wrap-logp-mb">
					<a href="https://marc.com.vn"> <img src="//theme.hstatic.net/1000197303/1000641267/14/logo.png?v=682" alt="MARC" class="img-responsive logoimg logo_img" /> <img src="//theme.hstatic.net/1000197303/1000641267/14/logo_fixed.png?v=682" alt="MARC" class="img-responsive logo_img_fixed" /> </a>
				</div>
				<div id="nav">
					<nav class="main-nav text-center">
						<ul class="clearfix">
							<li class="">
								<a href="/pages/about-us" title="Giới thiệu"> <span>Giới thiệu</span> </a>
							</li>
							<li class="">
								<a href="/collections/all?sort_by=created-descending" title="Sản phẩm "> <span>Sản phẩm</span> <i class="fa fa-chevron-down" aria-hidden="true"></i> </a>
								<ul class="sub_menu">
									<li class="">
										<a href="/collections/ao-kieu" title="Áo kiểu  "> <img src="//file.hstatic.net/1000197303/collection/pro_tim_5_c4de761f8e5a4fbaba0c6b8d21c0bd13_large.jpg" />
											<p class="text-center" style="margin-top: 5px;"> Áo kiểu <em>(46)</em> </p>
										</a>
									</li>
									<li class="">
										<a href="/collections/ao-thun-nu" title="Áo thun  "> <img src="//file.hstatic.net/1000197303/collection/pro_hong_3_0a0377ef4504437691f87629c740e048_large.jpg" />
											<p class="text-center" style="margin-top: 5px;"> Áo thun <em>(15)</em> </p>
										</a>
									</li>
									<li class="">
										<a href="/collections/dam" title="Đầm  "> <img src="//file.hstatic.net/1000197303/collection/pro_den_3_8be31de97ce44d078e0b415c2c3ac772_large.jpg" />
											<p class="text-center" style="margin-top: 5px;"> Đầm <em>(58)</em> </p>
										</a>
									</li>
									<li class="">
										<a href="/collections/quan" title="Quần  "> <img src="//file.hstatic.net/1000197303/collection/pro_da_3_df5ab98297764199831abe401249c1c2_large.jpg" />
											<p class="text-center" style="margin-top: 5px;"> Quần <em>(14)</em> </p>
										</a>
									</li>
									<li class="">
										<a href="/collections/vay" title="Váy  "> <img src="//file.hstatic.net/1000197303/collection/pro_trang_2_3349d7c0a39340fbb0ffa788fd044932_large.jpg" />
											<p class="text-center" style="margin-top: 5px;"> Váy <em>(23)</em> </p>
										</a>
									</li>
									<li class="">
										<a href="/collections/phu-kien" title="PHỤ KIỆN  "> <img src="//file.hstatic.net/1000197303/collection/cataloguemarc217_22a1ac685bc74832ac51bef104396132_large.jpg" />
											<p class="text-center" style="margin-top: 5px;"> PHỤ KIỆN <em>(4)</em> </p>
										</a>
									</li>
									<li class="">
										<a href="/collections/do-boi" title="Đồ bơi / Đồ lót  "> <img src="//file.hstatic.net/1000197303/collection/pro_trang_1_8a515aa2660249c3aa924705bf37a8fa_large.jpg" />
											<p class="text-center" style="margin-top: 5px;"> Đồ bơi / Đồ lót <em>(2)</em> </p>
										</a>
									</li>
								</ul>
							</li>
							<li class="">
								<a href="/pages/danh-sach-cua-hang" title="Cửa hàng"> <span>Cửa hàng</span> </a>
							</li>
							<li class="">
								<a href="/collections/san-pham-moi" title="Hàng mới"> <span>Hàng mới</span> </a>
							</li>
							<li class="">
								<a href="#" title="Tin tức "> <span>Tin tức</span> <i class="fa fa-chevron-down" aria-hidden="true"></i> </a>
								<ul class="sub_menu">
									<li class=""> <a href="/blogs/tin-tuc" title="Tin Tức MARC  ">
							
							Tin Tức MARC
							
						</a> </li>
									<li class=""> <a href="/blogs/mac-dep" title="Tư vấn mặc đẹp  ">
							
							Tư vấn mặc đẹp
							
						</a> </li>
									<li class=""> <a href="/blogs/lookbook" title="Bộ sưu tập  ">
							
							Bộ sưu tập
							
						</a> </li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
				<style>
				#nav .main-nav .sub_menu a {
					font-weight: bold;
					font-size: 12px;
				}
				
				#nav > nav > ul > li:nth-child(5) {
					position: relative;
				}
				
				#nav > nav > ul > li:nth-child(5):hover > .sub_menu {
					width: 238px;
					display: block;
				}
				
				#nav > nav > ul > li:nth-child(5):hover > .sub_menu li {
					width: 100%;
					display: block;
				}
				</style>
			</div>
			<div class="visible-sm visible-xs absolute" style="left: 10px"> <span id="site-menu-handle" class="hamburger-menu" aria-hidden="true"><span class="bar"></span></span>
			</div>
			<div class="header-mid wrap-flex-align">
				<div class="visible-lg visible-md col-header-mid"></div>
				<div class="wrap-logo">
					<a href="https://marc.com.vn"> <img src="//theme.hstatic.net/1000197303/1000641267/14/logo.png?v=682" alt="MARC" class="img-responsive logoimg" /> </a>
				</div>
			</div>
			<div class="header-wrap-icon"> <span class="header-account header-login hidden-xs" title="">
			<a href="/account/login">
				Đăng nhập
			</a>
		</span> <span class="header-account header-register hidden-xs" title="">
			<button type="button" class="btn-modal-css" data-toggle="modal" data-target="#loginModal">Đăng ký</button>
		</span> <span class="hr hidden-xs">|</span> <span class="icon-search">
			<a href="/search">
				<span class="search-menu" aria-hidden="true">
					<svg viewBox="0 0 23.38 23.38" xmlns="http://www.w3.org/2000/svg"><g fill="#231f20"><path d="m9.78 19.57a9.78 9.78 0 1 1 9.78-9.78 9.79 9.79 0 0 1 -9.78 9.78zm0-17.57a7.78 7.78 0 1 0 7.78 7.78 7.79 7.79 0 0 0 -7.78-7.78z"/><path d="m19.51 17.44h2v6.13h-2z" transform="matrix(.70710678 -.70710678 .70710678 .70710678 -8.49 20.51)"/></g></svg>
				</span> </a>
				</span> <span id="site-cart-handle" class="icon-cart" aria-label="Open cart" title="Giỏ hàng">
			<a href="/cart">
				<span class="cart-menu" aria-hidden="true">
					<svg viewBox="0 0 21.32 23.04" xmlns="http://www.w3.org/2000/svg"><g fill="#231f20"><path d="m10.67 13.92c-3.43 0-5.56-2.63-5.56-6.86h2c0 1.81.46 4.86 3.56 4.86s3.54-3 3.54-4.86h2c0 4.23-2.12 6.86-5.54 6.86z"/><path d="m19.85 3.45h-1.67v-3.45h-15v3.45h-1.71l-1.47 19.55h21.32zm-14.71-1.45h11v1.45h-11zm-3 19 1.19-15.55h14.67l1.17 15.55z"/></g></svg>
				</span> </a>
				</span>
			</div>
			<div class="header-search-form">
				<div class="search-form-container">
					<form class="mui-form flex-form" action="/search" method="GET">
						<input type="hidden" name="type" value="product"> <i class="icon icon-magnifier">&nbsp;</i>
						<div class="mui-textfield borderless full-with">
							<input name="q" class="mui--is-untouched mui--is-pristine mui--is-empty" placeholder="Bạn muốn tìm kiếm sản phẩm nào hôm nay?..." id="header-search-form-input" autofocus=""> </div> <i class="icon icon-close">&nbsp;</i> </form>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="usp-container usp-container-desktop swiper-container">
				<ul class="swiper-wrapper">
					<li class="relative mobile-slide-item swiper-slide"> <i class="icon icon-timer">&nbsp;</i> <span class="">
					 Miễn phí đổi hàng 
				</span>
						<div class="usp-tooltip">
							<div class="usp-tooltip-content"> Mua sắm trực tuyến thả ga không ngại rủi ro với 7 ngày đổi hàng hoàn toàn miễn phí ( không áp dụng với các sản phẩm sale) </div>
						</div>
					</li>
					<li class="relative mobile-slide-item swiper-slide"> <i class="icon icon-truck">&nbsp;</i> <span class="">
					Ship COD toàn quốc
				</span>
						<div class="usp-tooltip">
							<div class="usp-tooltip-content">
								<p class="">Miễn phí vận chuyển cho đơn hàng trên 300.000 VND. </p>
							</div>
						</div>
					</li>
					<li class="swiper-slide "> <span class="uppercase corner-usp">BRIGHTEN YOUR DAY - CHO NGÀY THÊM RỰC RỠ</span> </li>
				</ul>
			</div>
		</div>
        <main class="">
            <div id="blog">
                <div class="container">
                    <div class="row wrapper-row pd-page">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="heading-page clearfix text-center">
                                <h1>MARC 2020</h1> </div>
                            <div class="blog-content">
                                <div class="list-article-content blog-posts">
                                    <!-- Begin: Nội dung blog -->
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/chuong-trinh-khach-hang-than-thiet" class="blog-post-thumbnail" title="Chương trình Khách Hàng Thân Thiết 2021" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/crm_cover3_567102e8988b4f338256179ceb3a7418_grande.jpg" alt="Chương trình Khách Hàng Thân Thiết 2021"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/chuong-trinh-khach-hang-than-thiet" title="Chương trình Khách Hàng Thân Thiết 2021">Chương trình Khách Hàng Thân Thiết 2021</a>
                                            </h3>
                                                <p class="entry-content">Để cảm ơn sự ủng hộ và yêu thích của bạn đối với MARC Fashion và chào đón năm 2021 đầy hứng khởi, MARC...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/doi-diem-nhan-qua-tha-ga-mua-marc" class="blog-post-thumbnail" title="ĐỔI ĐIỂM NHẬN QUÀ - THẢ GA MUA MARC" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/crm_doidiem_fbads_f9f15c83d29a41ea958c4f64ed47f666_8200f065e7fa4308879e9f9d2888bb9d_grande.jpg" alt="ĐỔI ĐIỂM NHẬN QUÀ - THẢ GA MUA MARC"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/doi-diem-nhan-qua-tha-ga-mua-marc" title="ĐỔI ĐIỂM NHẬN QUÀ - THẢ GA MUA MARC">ĐỔI ĐIỂM NHẬN QUÀ - THẢ GA MUA MARC</a>
                                            </h3>
                                                <p class="entry-content">Khách yêu ơi nhanh tay đổi điểm tích luỹ thành 𝐕𝐎𝐔𝐂𝐇𝐄𝐑 xịn thả ga sắm đồ nè 𝐁𝐔̛𝐎̛́𝐂 𝟏: Truy cập https://marc.com.vn/, bấm...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/tung-bung-khai-truong-tai-sc-vivocity" class="blog-post-thumbnail" title="TƯNG BỪNG KHAI TRƯƠNG TẠI SC VIVOCITY" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/must_have_3_1x1_04c44e77964849c58d93ae1d26c667ff_69a150c8e7244f9d8fe21839dff57fa5_grande.jpg" alt="TƯNG BỪNG KHAI TRƯƠNG TẠI SC VIVOCITY"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/tung-bung-khai-truong-tai-sc-vivocity" title="TƯNG BỪNG KHAI TRƯƠNG TẠI SC VIVOCITY">TƯNG BỪNG KHAI TRƯƠNG TẠI SC VIVOCITY</a>
                                            </h3>
                                                <p class="entry-content">Các nàng ơi vậy là MARC đã chính thức có mặt tại SC VivoCity 😍 Hy vọng đây sẽ là một địa điểm mua...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/deal-dong-gia-shopping-tha-ga-dam-295k" class="blog-post-thumbnail" title="DEAL ĐỒNG GIÁ SHOPPING THẢ GA - Đầm 295K" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/dam295_fb_cover_900x900__2__633174ed95ca4097b3433101bdd788c2_grande.jpg" alt="DEAL ĐỒNG GIÁ SHOPPING THẢ GA - Đầm 295K"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/deal-dong-gia-shopping-tha-ga-dam-295k" title="DEAL ĐỒNG GIÁ SHOPPING THẢ GA - Đầm 295K">DEAL ĐỒNG GIÁ SHOPPING THẢ GA - Đầm 295K</a>
                                            </h3>
                                                <p class="entry-content">Từ 4/5 đến hết ngày 10/5/2020, MARC tặng nàng một deal hot hơn cả mùa hè: rất nhiều mẫu đầm của MARC...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/covid-19-cap-nhat-thoi-gian-hoat-dong-cua-cua-hang" class="blog-post-thumbnail" title="Covid-19 - Cập nhật thời gian đóng cửa tạm thời cửa hàng" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/thongbao1_ef943086a094449ea110fd9e82a3d249_079b7603c9094103acc1466ca9399b7c_grande.jpg" alt="Covid-19 - Cập nhật thời gian đóng cửa tạm thời cửa hàng"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/covid-19-cap-nhat-thoi-gian-hoat-dong-cua-cua-hang" title="Covid-19 - Cập nhật thời gian đóng cửa tạm thời cửa hàng">Covid-19 - Cập nhật thời gian đóng cửa tạm thời cửa hàng</a>
                                            </h3>
                                                <p class="entry-content">Xin chào các cô nàng của MARC,Chúng ta đều cập nhật tình hình dịch mỗi ngày, ở một số tuyến đường và...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/thoai-mai-shopping-khong-lo-phi-ship" class="blog-post-thumbnail" title="THOẢI MÁI SHOPPING – KHÔNG LO PHÍ SHIP" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/post_a441021b766c41c79cd818f9e78fa2c8_ff52d9451d43496d8b8e682cfb76830b_grande.jpg" alt="THOẢI MÁI SHOPPING – KHÔNG LO PHÍ SHIP"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/thoai-mai-shopping-khong-lo-phi-ship" title="THOẢI MÁI SHOPPING – KHÔNG LO PHÍ SHIP">THOẢI MÁI SHOPPING – KHÔNG LO PHÍ SHIP</a>
                                            </h3>
                                                <p class="entry-content">Trong thời điểm nóng bỏng thế này mọi người muốn mua sắm nhưng ngại ra đường vì lo lắng về dịch bệnh....</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/boc-tham-100-trung-thuong-danh-cho-khach-hang-platinum" class="blog-post-thumbnail" title="BỐC THĂM 100% TRÚNG THƯỞNG DÀNH CHO KHÁCH HÀNG PLATINUM" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/cover_841025c7b7464633a6d643fff6f51924_37d13ad77ffa43b4a093b28c64d69404_grande.png" alt="BỐC THĂM 100% TRÚNG THƯỞNG DÀNH CHO KHÁCH HÀNG PLATINUM"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/boc-tham-100-trung-thuong-danh-cho-khach-hang-platinum" title="BỐC THĂM 100% TRÚNG THƯỞNG DÀNH CHO KHÁCH HÀNG PLATINUM">BỐC THĂM 100% TRÚNG THƯỞNG DÀNH CHO KHÁCH HÀNG PLATINUM</a>
                                            </h3>
                                                <p class="entry-content">Bắt đầu từ ngày 19/12/2019 MARC sẽ dành tặng món quà đặc biệt cho các nàng Platinum trong dịp Christmas này. "ting...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/giai-dap-cau-hoi-thuong-gap-chuong-trinh-khach-hang-than-thiet-3-0" class="blog-post-thumbnail" title="GIẢI ĐÁP CÂU HỎI THƯỜNG GẶP CHƯƠNG TRÌNH KHÁCH HÀNG THÂN THIẾT 3.0" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/banner_-01_533f0432332e4bb6945bab7400318947_9488039b9e4a400fbf0a4d05e58a9c26_grande.png" alt="GIẢI ĐÁP CÂU HỎI THƯỜNG GẶP CHƯƠNG TRÌNH KHÁCH HÀNG THÂN THIẾT 3.0"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/giai-dap-cau-hoi-thuong-gap-chuong-trinh-khach-hang-than-thiet-3-0" title="GIẢI ĐÁP CÂU HỎI THƯỜNG GẶP CHƯƠNG TRÌNH KHÁCH HÀNG THÂN THIẾT 3.0">GIẢI ĐÁP CÂU HỎI THƯỜNG GẶP CHƯƠNG TRÌNH KHÁCH HÀNG THÂN THIẾT 3.0</a>
                                            </h3>
                                                <p class="entry-content">1. Điểm khác biệt giữa Chương trình khách hàng thân thiết 3.0 và Chương trình khách hàng thân thiết 8/2019?- Chương trình...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/marc-fashion-13-nam-hanh-trinh-cung-cac-co-gai-tim-phong-cach-cua-chinh-minh" class="blog-post-thumbnail" title="MARC Fashion 13 năm - hành trình cùng các cô gái tìm phong cách của chính mình" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/banner-1_3c0a0bad710b449a8aa2d3c9635112d8_grande.jpg" alt="MARC Fashion 13 năm - hành trình cùng các cô gái tìm phong cách của chính mình"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/marc-fashion-13-nam-hanh-trinh-cung-cac-co-gai-tim-phong-cach-cua-chinh-minh" title="MARC Fashion 13 năm - hành trình cùng các cô gái tìm phong cách của chính mình">MARC Fashion 13 năm - hành trình cùng các cô gái tìm phong cách của chính mình</a>
                                            </h3>
                                                <p class="entry-content">13 năm không phải là khoảng thời gian quá dài nhưng cũng đủ để một thương hiệu thời trang trải qua nhiều...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/mac-dep-cung-marc-thang-9-back-to-school" class="blog-post-thumbnail" title="Mặc đẹp cùng MARC tháng 9 - Back to school" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/thumnail_900x900-01_8a5dd0841da84b48ad93cc4b741e8cb6_ce1de2883dab4def85c949c576fbc040_grande.png" alt="Mặc đẹp cùng MARC tháng 9 - Back to school"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/mac-dep-cung-marc-thang-9-back-to-school" title="Mặc đẹp cùng MARC tháng 9 - Back to school">Mặc đẹp cùng MARC tháng 9 - Back to school</a>
                                            </h3>
                                                <p class="entry-content">Với những nàng còn là sinh viên, việc chọn trang phục đến lớp mỗi ngày sao cho cá tính nhưng phù hợp...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/the-love-of-my-life-is-giving" class="blog-post-thumbnail" title="The love of my life is GIVING" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/tu-thien_7cd19c7fa0e74d3c847b1503b7676345_c492ae6dffa644bba7bc37f483aaa1fb_grande.jpg" alt="The love of my life is GIVING"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/the-love-of-my-life-is-giving" title="The love of my life is GIVING">The love of my life is GIVING</a>
                                            </h3>
                                                <p class="entry-content">Chiến dịch gây quỹ từ thiện 1 T-SHIRT = 1000 SMILES mùa Trung Thu 2019Ý tưởng chiến dịch 1 T-SHIRT = 1000...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/trai-nghiem-he-cuc-chat-cung-5000-qua-tang-sieu-hot" class="blog-post-thumbnail" title="TRẢI NGHIỆM HÈ CỰC CHẤT CÙNG 5000 QUÀ TẶNG SIÊU HOT" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/carousel_1x1_7c56746360b84339a924daac60f5cf8f_grande.jpg" alt="TRẢI NGHIỆM HÈ CỰC CHẤT CÙNG 5000 QUÀ TẶNG SIÊU HOT"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/trai-nghiem-he-cuc-chat-cung-5000-qua-tang-sieu-hot" title="TRẢI NGHIỆM HÈ CỰC CHẤT CÙNG 5000 QUÀ TẶNG SIÊU HOT">TRẢI NGHIỆM HÈ CỰC CHẤT CÙNG 5000 QUÀ TẶNG SIÊU HOT</a>
                                            </h3>
                                                <p class="entry-content">Mùa hè của bạn thế nào rồi bạn ơi? Đã rực rỡ và đầy sắc màu chưa?Vào đây khám phá ngay chương...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/we-go-we-share-chia-se-trai-nghiem-trung-chuyen-du-lich-mien-phi" class="blog-post-thumbnail" title="WE GO. WE SHARE - CHIA SẺ TRẢI NGHIỆM, TRÚNG CHUYẾN DU LỊCH MIỄN PHÍ" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/blog-1_7cac46ffed794543a1c4be5f8d60cb44_grande.jpg" alt="WE GO. WE SHARE - CHIA SẺ TRẢI NGHIỆM, TRÚNG CHUYẾN DU LỊCH MIỄN PHÍ"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/we-go-we-share-chia-se-trai-nghiem-trung-chuyen-du-lich-mien-phi" title="WE GO. WE SHARE - CHIA SẺ TRẢI NGHIỆM, TRÚNG CHUYẾN DU LỊCH MIỄN PHÍ">WE GO. WE SHARE - CHIA SẺ TRẢI NGHIỆM, TRÚNG CHUYẾN DU LỊCH MIỄN PHÍ</a>
                                            </h3>
                                                <p class="entry-content">Every summer has a storyStory of love, strory of friendshipStory of living to the fullestStory to remember, to tell and to be...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/goout-livealive-check-in-tai-marc-giam-ngay-20" class="blog-post-thumbnail" title="GOOUT_LIVEALIVE CHECK-IN TẠI MARC, GIẢM NGAY 20%" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/blog-2_9dacde0e49964a47b2d6b3eb67241694_grande.jpg" alt="GOOUT_LIVEALIVE CHECK-IN TẠI MARC, GIẢM NGAY 20%"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/goout-livealive-check-in-tai-marc-giam-ngay-20" title="GOOUT_LIVEALIVE CHECK-IN TẠI MARC, GIẢM NGAY 20%">GOOUT_LIVEALIVE CHECK-IN TẠI MARC, GIẢM NGAY 20%</a>
                                            </h3>
                                                <p class="entry-content">HÈ RỰC RỠ LÀ THẾ - SAO BẠN PHẢI Ở NHÀ?Hãy cùng MARC #GoOutside_LiveAlive - bước ra ngoài sống trọn những ngày ngập nắng,...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/happy-mother-s-day-marc-cung-ban-gui-ngan-yeu-thuong-den-me" class="blog-post-thumbnail" title="HAPPY MOTHER'S DAY - MARC cùng bạn gửi ngàn yêu thương đến Mẹ!" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/qc_505d1753c7d3439c9632fd0e88eaf9e5_grande.jpg" alt="HAPPY MOTHER'S DAY - MARC cùng bạn gửi ngàn yêu thương đến Mẹ!"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/happy-mother-s-day-marc-cung-ban-gui-ngan-yeu-thuong-den-me" title="HAPPY MOTHER'S DAY - MARC cùng bạn gửi ngàn yêu thương đến Mẹ!">HAPPY MOTHER'S DAY - MARC cùng bạn gửi ngàn yêu thương đến Mẹ!</a>
                                            </h3>
                                                <p class="entry-content">-Lời nói yêu thương thường khó giãi bày, đặc biệt là với đấng sinh thành. Hãy để MARC đồng hành cùng bạn...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/faq-cac-thac-mac-thuong-gap-voi-chuong-trinh-khach-hang-than-thiet-moi" class="blog-post-thumbnail" title="THẮC MẮC THƯỜNG GẶP VỚI CHƯƠNG  TRÌNH KHÁCH HÀNG THÂN THIẾT MỚI" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/hinh_blog_giai_dap_thac_mac_db70c1c89b3b4e9a94d1ddead1f6062d_grande.jpg" alt="THẮC MẮC THƯỜNG GẶP VỚI CHƯƠNG  TRÌNH KHÁCH HÀNG THÂN THIẾT MỚI"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/faq-cac-thac-mac-thuong-gap-voi-chuong-trinh-khach-hang-than-thiet-moi" title="THẮC MẮC THƯỜNG GẶP VỚI CHƯƠNG  TRÌNH KHÁCH HÀNG THÂN THIẾT MỚI">THẮC MẮC THƯỜNG GẶP VỚI CHƯƠNG  TRÌNH KHÁCH HÀNG THÂN THIẾT MỚI</a>
                                            </h3>
                                                <p class="entry-content">1. Điểm khác biệt giữa Chương trình khách hàng thân thiết mới và Chương trình khách hàng thân thiết cũ?- Chương trình khách...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/chuong-trinh-khach-hang-than-thiet-moi-08-2018" class="blog-post-thumbnail" title="CHƯƠNG TRÌNH KHÁCH HÀNG THÂN THIẾT MỚI 08/2018" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/hinh_blog_fa160496b27c47f7ad3e331f9d67effd_grande.jpg" alt="CHƯƠNG TRÌNH KHÁCH HÀNG THÂN THIẾT MỚI 08/2018"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/chuong-trinh-khach-hang-than-thiet-moi-08-2018" title="CHƯƠNG TRÌNH KHÁCH HÀNG THÂN THIẾT MỚI 08/2018">CHƯƠNG TRÌNH KHÁCH HÀNG THÂN THIẾT MỚI 08/2018</a>
                                            </h3>
                                                <p class="entry-content">Với mong muốn chăm sóc khách hàng tốt hơn và ngày càng hoàn thiện trong dịch vụ chăm sóc khách hàng, nhân...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/cua-hang-moi-nhat-duoc-ra-mat-tai-trung-tam-go-vap" class="blog-post-thumbnail" title="CỬA HÀNG MỚI NHẤT ĐƯỢC RA MẮT TẠI TRUNG TÂM GÒ VẤP" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/hinh_blog_a269ab572fb7465c98c872d2f96a1a41_grande.jpg" alt="CỬA HÀNG MỚI NHẤT ĐƯỢC RA MẮT TẠI TRUNG TÂM GÒ VẤP"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/cua-hang-moi-nhat-duoc-ra-mat-tai-trung-tam-go-vap" title="CỬA HÀNG MỚI NHẤT ĐƯỢC RA MẮT TẠI TRUNG TÂM GÒ VẤP">CỬA HÀNG MỚI NHẤT ĐƯỢC RA MẮT TẠI TRUNG TÂM GÒ VẤP</a>
                                            </h3>
                                                <p class="entry-content">Ngày 28.07.2018 ngay tại trung tâm sầm uất nhất ở quận Gò Vấp MARC đã mở một cửa hàng mới mẻ ngập...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/marc-khai-truong-cua-hang-tai-gia-lai" class="blog-post-thumbnail" title="MARC KHAI TRƯƠNG CỬA HÀNG TẠI GIA LAI" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/hinh_blog_06f5d64495ee40488f11650dbfdd6128_grande.jpg" alt="MARC KHAI TRƯƠNG CỬA HÀNG TẠI GIA LAI"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/marc-khai-truong-cua-hang-tai-gia-lai" title="MARC KHAI TRƯƠNG CỬA HÀNG TẠI GIA LAI">MARC KHAI TRƯƠNG CỬA HÀNG TẠI GIA LAI</a>
                                            </h3>
                                                <p class="entry-content">Ngày 19.05.2018 vừa rồi MARC đã khai trương cửa hàng mới tại Thành phố Gia Lai.MARC đã về đến Thành phố Gia...</p>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="blog-loop">
                                        <div class="blog-post">
                                            <div class="" style="position: relative">
                                                <a href="/blogs/tin-tuc/marc-su-khai-truong-cua-hang-tai-su-van-hanh" class="blog-post-thumbnail" title="MARC KHAI TRƯƠNG CỬA HÀNG TẠI SỰ VẠN HẠNH" rel="nofollow">
                                                    <div class="mask-overlay"></div> <img src="//file.hstatic.net/1000197303/article/1_f6a71733817c4258ad4e7b8ccf9674b0_grande.jpg" alt="MARC KHAI TRƯƠNG CỬA HÀNG TẠI SỰ VẠN HẠNH"> </a>
                                            </div>
                                            <div class="" style="padding: 10px;position: relative">
                                                <div class="arrow_top"></div>
                                                <h3 class="blog-post-title">
                                                <a href="/blogs/tin-tuc/marc-su-khai-truong-cua-hang-tai-su-van-hanh" title="MARC KHAI TRƯƠNG CỬA HÀNG TẠI SỰ VẠN HẠNH">MARC KHAI TRƯƠNG CỬA HÀNG TẠI SỰ VẠN HẠNH</a>
                                            </h3>
                                                <p class="entry-content">Ngày 25.01.2018 vừa rồi MARC đã khai trương cửa hàng thứ 28 tại một trong những trung tâm thương mại mới và...</p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div id="pagination" class="clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="pagination_wrap"> <span class="page-node current">1</span> <a class="page-node" href="/blogs/tin-tuc?page=2">2</a>
                                        <a class="next" href="/blogs/tin-tuc?page=2">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31 10" style="enable-background:new 0 0 31 10; width: 31px; height: 10px;" xml:space="preserve">
                                                <polygon points="31,5 25,0 25,4 0,4 0,6 25,6 25,10 "></polygon>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                $('.blog-post img').each(function() {
                    if($(this).height() < 350) {
                        $(this).attr('style', 'transform: scale(1.3);')
                    }
                })
                </script>
            </div>
        </main>
		<footer class="footer  ">
			<div class="top-footer">
				<div class="usp-container">
					<ul class="">
						<li class=""><i class="icon icon-truck-inverse">&nbsp;</i>
							<p class="">GIAO HÀNG MIỄN PHÍ</p><span class="">đơn hàng từ 300.000 vnđ</span> </li>
						<li class=""><img src="//file.hstatic.net/1000197303/file/phone-icon.png" width=33 height=33/>
							<p class="">chăm sóc khách hàng và gọi mua hàng </p><span class="">1900636940 (9h00 - 21h00, T2 - CN)</span> </li>
						<li class=""><img src="//file.hstatic.net/1000197303/file/aa_41d2ad59dfdb40ada5b2ed01671a223d.png" width=33 height=33/>
							<p class="">góp ý và khiếu nại</p><span class="">1900636942 (9h00 - 21h00, T2 - CN)</span> </li>
						<li class=""><i class="icon icon-tag-inverse">&nbsp;</i>
							<p class="">THANH TOÁN</p><span class="">Khi nhận hàng</span> </li>
					</ul>
				</div>
			</div>
			<div class="main-footer container" id="fter-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg">
							<div class="footer-col footer-content1">
								<h4 class="footer-title">
							MARC 
						</h4>
								<div class="footer-content">
									<p>MARC BRIGHTEN YOUR DAY - Tự hào là thương hiệu thời trang Việt Nam mang lại những trải nghiệm mua sắm tốt nhất, giúp bạn thêm hứng khởi, tự tin và yêu bản thân hơn qua mỗi ngày khi được thể hiện cá tính của mình.</br>
									</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg">
							<div class="footer-col footer-block">
								<h4 class="footer-title">
							THÔNG TIN
						</h4>
								<div class="footer-content toggle-footer">
									<ul>
										<li class="item"> <a href="/pages/about-us" title="Giới thiệu">Giới thiệu</a> </li>
										<li class="item"> <a href="/pages/lien-he" title="Liên hệ">Liên hệ</a> </li>
										<li class="item"> <a href="https://marc.com.vn/account/login" title="Tài khoản">Tài khoản</a> </li>
										<li class="item"> <a href="https://marc.com.vn/pages/danh-sach-cua-hang" title="Cửa hàng">Cửa hàng</a> </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg">
							<div class="footer-col footer-block">
								<h4 class="footer-title">
							CHÍNH SÁCH
						</h4>
								<div class="footer-content toggle-footer">
									<ul>
										<li class="item"> <a href="/pages/cac-buoc-mua-hang-tren-marc" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a> </li>
										<li class="item"> <a href="/pages/quy-dinh-doi-tra" title="Quy định đổi hàng">Quy định đổi hàng</a> </li>
										<li class="item"> <a href="/blogs/tuyen-dung" title="Tuyển dụng">Tuyển dụng</a> </li>
										<li class="item"> <a href="/pages/hop-tac-kinh-doanh" title="Hợp tác kinh doanh">Hợp tác kinh doanh</a> </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg">
							<div class="footer-col">
								<h4 class="footer-title">
							KẾT NỐI VỚI MARC
						</h4>
								<div class="footer-content footer-app"> <span class="footer-note"></span>
									<div class="footer-last-row">
										<ul class="list-row list-social">
											<li><a href="https://www.facebook.com/marcfashion/" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a></li>
											<li><a href="https://www.instagram.com/marcfashionvn/?hl=vi" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a></li>
											<li><a href="https://www.youtube.com/channel/UCobmMqxtY3fBvpSxX68q8_Q" target="_blank" rel="nofollow"><i class="fa fa-youtube"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<a href="http://online.gov.vn/Home/WebDetails/66846" target="_blank"><img src="//theme.hstatic.net/1000197303/1000641267/14/logo_bct_img.png?v=682" class="logo-bct" alt="Da thong bao bo Cong Thuong"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-footer text-center">
				<div class="container">
					<div class="row invert-order"> </div>
				</div>
			</div>
		</footer>
		<div class="back-to-top hidden">
			<a href="javascript:void(0);">
				<div class="btt-back"> <span class="btt-label-back">back to top</span> <span class="btt-icon-back"><i class="fa fa-long-arrow-up"></i></span> </div>
			</a>
		</div>
	</div>
	<div id="site-nav--mobile" class="site-nav style--sidebar">
		<div id="site-navigation" class="site-nav-container">
			<div class="site-nav-container-last">
				<p class="title">Menu</p>
				<div class="main-navbar">
					<nav class="primary-menu">
						<ul class="menu-collection">
							<li class="navi1"><a href="/pages/about-us"><span>Giới thiệu</span></a></li>
							<li class="navi1 has-sub level0"> <a href="/collections/all?sort_by=created-descending">Sản phẩm</a> <span class="icon-subnav"><i class="fa fa-angle-down"></i></span>
								<ul class=" submenu subnav-children">
									<li class="navi2"><a href="/collections/ao-kieu">Áo kiểu</a></li>
									<li class="navi2"><a href="/collections/ao-thun-nu">Áo thun</a></li>
									<li class="navi2"><a href="/collections/dam">Đầm</a></li>
									<li class="navi2"><a href="/collections/quan">Quần</a></li>
									<li class="navi2"><a href="/collections/vay">Váy</a></li>
									<li class="navi2"><a href="/collections/phu-kien">PHỤ KIỆN</a></li>
									<li class="navi2"><a href="/collections/do-boi">Đồ bơi / Đồ lót</a></li>
								</ul>
							</li>
							<li class="navi1"><a href="/pages/danh-sach-cua-hang"><span>Cửa hàng</span></a></li>
							<li class="navi1"><a href="/collections/san-pham-moi"><span>Hàng mới</span></a></li>
							<li class="navi1 has-sub level0"> <a href="#">Tin tức</a> <span class="icon-subnav"><i class="fa fa-angle-down"></i></span>
								<ul class=" submenu subnav-children">
									<li class="navi2"><a href="/blogs/tin-tuc">Tin Tức MARC</a></li>
									<li class="navi2"><a href="/blogs/mac-dep">Tư vấn mặc đẹp</a></li>
									<li class="navi2"><a href="/blogs/lookbook">Bộ sưu tập</a></li>
								</ul>
							</li>
						</ul>
						<ul class="menu-about">
							<li><a href="/pages/cac-buoc-mua-hang-tren-marc"><span>Hướng dẫn mua hàng</span></a></li>
							<li><a href="/pages/quy-dinh-doi-tra"><span>Quy định đổi hàng</span></a></li>
							<li><a href="/blogs/tuyen-dung"><span>Tuyển dụng</span></a></li>
							<li><a href="/pages/hop-tac-kinh-doanh"><span>Hợp tác kinh doanh</span></a></li>
							<li class="login">
								<a href="/account/login"> <span>
							<svg class="svg-account" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="510px" height="510px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
								<g><g id="account-circle">
									<path d="M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M255,76.5
													 c43.35,0,76.5,33.15,76.5,76.5s-33.15,76.5-76.5,76.5c-43.35,0-76.5-33.15-76.5-76.5S211.65,76.5,255,76.5z M255,438.6
													 c-63.75,0-119.85-33.149-153-81.6c0-51,102-79.05,153-79.05S408,306,408,357C374.85,405.45,318.75,438.6,255,438.6z"></path>
									</g></g>
							</svg>
						</span> <span>Đăng nhập</span> </a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="to-bottom-content">
					<div class="site-copyright">
						<p class="copy">Copyright &copy; 2021 <a href="https://marc.com.vn">MARC</a></p>
						<p class="powered"><a target='_blank' href='https://www.haravan.com'>Powered by Haravan</a></p>
					</div>
				</div>
			</div>
		</div>
		<div id="site-cart" class="site-nav-container" tabindex="-1">
			<div class="site-nav-container-last">
				<p class="title">Giỏ hàng</p>
				<div class="cart-view clearfix">
					<table id="clone-item-cart" class="table-clone-cart">
						<tr class="item_2 hidden">
							<td class="img">
								<a href="" title=""><img src="" alt="" /></a>
							</td>
							<td>
								<a class="pro-title-view" href="" title=""></a> <span class="variant"></span> <span class="pro-quantity-view"></span> <span class="pro-price-view"></span> <span class="remove_link remove-cart">					
					</span> </td>
						</tr>
					</table>
					<table id="cart-view">
						<tr>
							<td class="img">
								<a href="/products/ao-kieu-nhan-co-smocking-tay-con"> <img src=" //product.hstatic.net/1000197303/product/pro_da_3_3f775bbced404fd397ad003f6f04f5ff_small.jpg " alt="Áo kiểu nhấn cổ smocking tay con" /> </a>
							</td>
							<td> <a class="pro-title-view" href="/products/ao-kieu-nhan-co-smocking-tay-con" title="Áo kiểu nhấn cổ smocking tay con">Áo kiểu nhấn cổ smocking tay con</a> <span class="variant">
						
						Da / S / 0I
								
					</span> <span class="pro-quantity-view">2</span> <span class="pro-price-view">425,000₫</span> <span class="remove_link remove-cart">
						<a href='javascript:void(0);' onclick='deleteCart(1)' ><i class='fa fa-times'></i></a>
					</span> </td>
						</tr>
					</table> <span class="line"></span>
					<table class="table-total">
						<tr>
							<td class="text-left">TỔNG TIỀN:</td>
							<td class="text-right" id="total-view-cart">850,000₫</td>
						</tr>
						<tr>
							<td colspan="2"><a href="/cart" class="linktocart button dark">Xem giỏ hàng</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div id="site-search" class="site-nav-container" tabindex="-1">
			<div class="site-nav-container-last">
				<p class="title">Tìm kiếm</p>
				<div class="search-box wpo-wrapper-search">
					<form action="/search" class="searchform searchform-categoris ultimate-search navbar-form">
						<div class="wpo-search-inner">
							<input type="hidden" name="type" value="product" />
							<input required id="inputSearchAuto" name="q" maxlength="40" autocomplete="off" class="searchinput input-search search-input" type="text" size="20" placeholder="Tìm kiếm sản phẩm..."> </div>
						<button type="submit" class="btn-search btn" id="search-header-btn">
							<svg version="1.1" class="svg search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27;" xml:space="preserve">
								<path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z"></path>
								<rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" height="8"></rect>
							</svg>
						</button>
					</form>
					<div id="ajaxSearchResults" class="smart-search-wrapper ajaxSearchResults" style="display: none">
						<div class="resultsContent"></div>
					</div>
				</div>
			</div>
		</div>
		<button id="site-close-handle" class="site-close-handle" aria-label="Đóng" title="Đóng"> <span class="hamburger-menu active" aria-hidden="true"><span class="bar animate"></span></span>
		</button>
	</div>
	<div id="site-overlay" class="site-overlay"></div>
	<script src='./js/plugins.js' type='text/javascript'></script>
	<script src='./js/swiper.min.js' type='text/javascript'></script>
	<script src='./js/scripts.js' type='text/javascript'></script>
	<script src="./js/js2.js"></script>
	<div id="login_modal">
		<div class="main-modal">
			<div class="close-popup mobile">x</div>
			<h4>Chào mừng bạn đến website</h4>
			<p>Bạn vui lòng đăng nhập để có khuyến mãi tốt nhất</p>
			<form accept-charset="UTF-8" action="/account/login" id="modal_customer_login" method="post">
				<input name="form_type" type="hidden" value="customer_login">
				<input name="utf8" type="hidden" value="✓">
				<div class="errors"> </div>
				<div class="row">
					<div class="modal-left">
						<input requried name="phone" placeholder="Số điện thoại" value="" id="phone_login" />
						<input type="hidden" name="customer[email]" id="email" /> </div>
					<div class="modal-left">
						<input requried type="password" name="customer[password]" placeholder="Mật khẩu" value="" id="password" /> </div>
					<div class="modal-button">
						<input type="submit" name="process-login" value="Gửi" /> </div>
				</div>
				<p>Nếu bạn chưa có tài khoản hoặc quên mật khẩu vui lòng <a href="javascript:void(0);" id="toggle_otp">chứng thực bằng otp tại đây.</a></p>
			</form>
			<div class="form_otp step_2"> ThemeSyntaxError </div>
		</div>
	</div>
	<div id="login_overlay"></div>
	<script src="./js/js3.js"></script>
	<link rel="stylesheet" href="./css/modal.css">
	<link rel="stylesheet" href="./css/v5-css-all1.css" as="style">
<script src="./js/js4.js"></script>
	<script src='./js/app-combo.js' type='text/javascript'></script>
	<div id="fb-root"></div>
	<style>
	.fb_iframe_widget span {
		overflow: hidden;
	}
	</style>
	<!-- Modal -->
	<div id="loginModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<a href="/" itemprop="url"> <img itemprop="logo" src="//theme.hstatic.net/1000197303/1000641267/14/logo.png?v=682" alt="MARC" class="img-responsive logoimg"> </a>
					<div class="title-login pull-right"> Đăng ký </div>
				</div>
				<div class="modal-body"> <a href="/account/register#login-phone">Số điện thoại</a> <a href="/account/register">Email</a> </div>
			</div>
		</div>
	</div>
</body>

</html>