@font-face {
    font-display:block;
    font-family: 'RobotoMedium';
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-display:block;
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-display:block;
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light.ttf');
}

