.wrap {
    text-align: center;
    line-height: 10px;
    padding: 0
}

.auto {
    display: inline-block
}

ul.pagination {
    text-align: center;
    color: #3c8dbc;
    list-style: none
}

ul.pagination li {
    display: inline;
    padding: 0 3px;
    float: left
}

ul.pagination a {
    color: #3c8dbc;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #cde0dc;
    text-decoration: none
}

ul.pagination a.current,
ul.pagination a:hover {
    background: #3c8dbc;
    color: #fff
}

.page_info {
    margin-top: 13px
}

.item {
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px
}
