/* @charset "UTF-8"; */
/*reset*/

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'RobotoRegular', 'Arial', 'Helvetica', 'sans-serif';
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    line-height: 1.5;
}

/*=======================================*/
a:focus,
a:hover {
    text-decoration: none;
    color: #8c4c1c;
}

.clear {
    display: block;
    clear: both;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin: 0;
    line-height: normal;
    font-weight: normal;
}

ol,
ul,
p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/*=======================================*/
#full {
    margin: 0px auto;
    background: #fff;
}

/*commont*/
.text {
    text-align: justify;
    line-height: 2em;
}

.text img, .text video {
    max-width: 100%;
    height: auto!important;
}

.w100 {
    width: 100%;
}

.mw100 {
    max-width: 100%;
    vertical-align: middle;
}

.grecaptcha-badge {
    display: none !important;
}

.contain_map_lienhe iframe {
    width: 100%;
}

/*TOP*/
#top {
    color: #FFF;
    font-weight: 500;
    text-align: center;
    position: fixed;
    bottom: 4px;
    right: 10px;
    display: none;
    cursor: pointer;
    z-index: 100;
}

/*inner*/
.inner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*header*/
#header {
    position: relative;
    width: 100%;
    margin: 0px auto;
    padding: 5px 0px;
    background: url(../images/bg_header.png) center right no-repeat;
}

.banner-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-right: 0;
    padding: 10px 0;
    padding-left: 200px;
}

.header-hotline {
    background: url(../images/bg_header_hotline.png) center no-repeat;
    width: 232px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px 0 110px;
    text-align: center;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

#languages {
    position: absolute;
    top: 40px;
    right: 0px;
}

/*banner*/
#banner {
    height: auto;
}

#banner h1, #banner h2, #banner h3 {
    width: 0px;
    height: 0px;
    text-indent: -9999px;
    position: absolute;
}

#language {
    position: absolute;
    top: 10px;
    right: 0px;
}

.logo {
    position: absolute;
    left: 5px;
}

.company {
    width: 100%;
    max-width: 500px;
    float: left;
    margin-left: 2%;
}

.cart {
    margin-top: 23px;
    position: relative;
    background: url(../<?=CDN?>/themes/nhadatnhanhien/images/icon_cart.png) left center no-repeat;
    float: left;
    margin-left: 5%;
    height: 30px;
    padding-left: 40px;
    box-sizing: border-box;
}

.cart a {
    text-transform: uppercase;
    color: #000;
    font-family: 'RobotoCondensedRegular';
    font-size: 13px;
    line-height: 30px;
}

#numcart {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    background: #f36f36;
    left: 17px;
    top: -13px;
    text-align: center;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
}

.user {
    position: absolute;
    right: 15px;
    top: 0px;
}

/*menu top*/
.fixed {
    position: fixed !important;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 9999;
    width: 100%;
    margin: auto;
}

#menu {
    height: 45px;
    position: relative;
}

#menu ul {
    list-style: none;
}

#menu .menu-container {
    width: calc(100% - 350px);
    float: right;

    background-color: #8c4c1c;
}

#menu ul.menu {
    margin-left: -30px;
}

#menu ul.menu li {
    float: left;
    position: relative;
}

#menu ul.menu li a {
    line-height: 45px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 30px;
    color: #fff;
    display: block;
    font-family: 'Oswald';
    z-index: 1;
    position: relative;
}

#menu ul.menu li.menu_active > a:before,
#menu ul.menu li a:hover:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #733f17;
    z-index: -1;
}

#menu ul.menu > li.menu_active > a:before,
#menu ul.menu > li > a:hover:before {
    transform: skewX(-25deg);

}

#menu ul.menu > li:first-child >a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #733f17;
    z-index: -1;
    transform: skewX(-25deg);
}

#menu ul.menu li ul {
    width: 230px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 9999;
}

#menu ul.menu li ul li {
    background: #1d8b1f;
    display: block !important;
    float: none;
    border-bottom: 1px solid #959392;
    text-align: left;
}

#menu ul.menu li ul li:last-child {
    border-bottom: none;
}

#menu ul.menu li ul li a {
    background: none !important;
    color: #fff !important;
    line-height: normal !important;
    padding: 10px 20px;
}

#menu ul.menu li ul li a:hover {
    color: #ff0 !important;
}

#menu ul.menu li ul li ul {
    top: 0;
    left: 100%;
}

#menu ul.menu li .fa {
    line-height: 45px;
    font-size: 18px;
}

#btn_menu_bootstrap {
    z-index: 999;
    position: absolute;
    left: 10px;
    top: 10px;
    height: 24px;
    width: 30px;
    display: none;
}

#btn_menu_bootstrap span {
    background: #fff;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -1px;
}

#btn_menu_bootstrap:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    top: 0;
    left: 0;
}

#btn_menu_bootstrap:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: 0;
    left: 0;
}

#btn_menu_bootstrap:before,
#btn_menu_bootstrap:after {
    transform-origin: left 1px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.move_btn_bootstrap:before {
    transform: rotate(45deg);
}

.move_btn_bootstrap:after {
    transform: rotate(-45deg);
}

.move_btn_bootstrap span {
    left: -200% !important;
    opacity: 0 !important
}

/*search*/
#timkiem {
    width: 230px;
    height: 30px;
    position: absolute;
    right: 0px;
    top: 7px;
    background: #fff;
}

#timkiem input[type="text"] {
    outline: none;
    background: none;
    border: none;
    height: 30px;
    width: 80%;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'RobotoRegular';
}

#timkiem #btn {
    height: 30px;
    width: 20%;
    cursor: pointer;
    float: right;
    background: none;
    outline: none;
    border: none;
}

/*slider*/
#slider {
    margin: auto;
    position: relative;
    box-shadow: none;
}

#slider .owl-nav button.owl-next,
#slider .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    width: 1.5em;
    text-align: center;
    color: #fff;
}

#slider .owl-nav button.owl-next {
    right: 0;
}

#slider .owl-nav button.owl-prev {
    left: 0;
}

/*left*/
#left {
    float: left;
    width: 25%;
    padding-left: 20px;
    box-sizing: border-box;
}


.sub_left {
    margin-bottom: 20px;
}

.title_left {
    height: 45px;
    background: #da1919;
    position: relative;
}

.title_left i {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    position: absolute;
}

.title_left span {
    font-size: 15px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 45px;
    display: block;
    font-family: 'RobotoBold';
}

.content_left {
    padding: 15px;
    background-color: #f2f2f2;
}

.content_left .vert, .content_left .vert .simply-scroll-clip {
    width: 100%;
    float: none;
    height: 600px;
}

.left-ul {
    list-style-position: inside;
}

.left-ul li {
    display: block;
}

.left-ul li a {
    font-family: 'RobotoRegular';
    font-size: 14px;
    color: #333333;
    padding: 10px;
    border-bottom: 1px dotted #c2c2c2;
    display: block;
    position: relative;
}

.left-ul li ul {
    display: none;
    padding-left: 10px;
}

.left-ul li a i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 0;
    padding-left: 10px
}

.left-ul li a:hover {
    color: #da1919
}

/*main*/
#container.inner {
    margin-top: 30px;
}

#main {
    width: 75%;
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}

.sub_main {
    margin-bottom: 20px;
}

.title_main {
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
    font-size: 15px;
}

.title_main span {
    color: #8c4c1c;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: 600;
    position: relative;
}

.index-box {
    padding: 40px 0;
    position: relative;
}

.hover-img {
    display: block;
    overflow: hidden;
}

.hover-img img {
    width: 100%;
    transition: ease 0.3s;
    display: block;
}

.hover-img:hover img {
    transform: scale(1.1);
    /* animation: pulse 1s; */
}

.hover-glass {
    overflow: hidden;
    display: block;
    position: relative;
}

.hover-glass::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.hover-glass:hover:before {
	-webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


.hover-glass img {
    width: 100%;
    transition: ease 0.3s;
    display: block;
}

.product-grid {
    display: grid;
    grid-gap: 25px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr)
}

.product-item {
    border: 1px solid #cacaca;
    padding-bottom: 5px

}

.product-item-img {
    display: block;
    border-bottom: 1px solid #cacaca
}

.product-item-ten {
    display: block;
    font-family: 'RobotoBold';
    font-size: 15px;
    color: #222222;
    padding: 0 10px;
    margin: 5px 0;
}

.product-item-price .price-now {
    font-family: 'RobotoBold';
    font-size: 18px;
    color: #cd0000;
    display: inline-block;
    width: 49%
}

.product-item-price {
    padding: 0 5px;
}

.product-item-price .price-old {
    width: 49%;
    font-family: 'RobotoRegular';
    display: inline-block;
    font-size: 15px;
    color: #7c7c7c;
    text-decoration: line-through;
}

[data-notify="message"] {
    display: block;
}

.about-box {
    background: url(../images/bg_about.png);
}

.about-content {
    float: left;
    width: 48%;
    font-size: 15px;
    color: #5c5c5c;
}

.about-title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.about-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    border-bottom: 2px solid #e32823
}

.about-title__slogan {
    font-size: 18px;
    font-family: 'RobotoBold';
    color: #333333;
    text-transform: capitalize;
}

.about-title__name {
    font-weight: 'Oswald';
    font-weight: 600;
    font-size: 30px;
    color: #e32823;
    text-transform: uppercase;
}

.about-seemore {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 30px;
    border-radius: 999px;
    overflow: hidden;
    background-color: #e32823;
    display: inline-block;
    margin-top: 20px;
}

.about-seemore:hover {
    color: #fff;
    background-color: #8c4c1c;
}

.about-img {
    float: right;
    width: 48%;
}

.dodac-box {
    background: #f7f7f7;
}

.measure-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.measure-item {
    position: relative;
}

.measure-item:first-child {
    grid-row: span 2;
}

.measure-item__name {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 10px;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-family: 'Oswald';
    font-weight: 500;
    text-transform: uppercase;
}

.service-item {
    position: relative;
}

.service-item__name {
    padding: 10px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    background-color: #8c4c1c;
    color: #fff;
    font-family: 'Oswald';
    font-weight: 500;
    text-transform: uppercase;
}

.service-item__name:hover {
    color: #fff;
    background-color: #733f17;
}

.news-box {
    float: left;
    width: 48%;
}

.news-box .vert,
.news-box .vert .simply-scroll-clip {
    width: 100%;
    height: 460px;
}

.news-item {
    color: #5c5c5c;
    font-size: 14px;
    padding: 10px 0;
}

.news-item__img {
    float: left;
    margin-right: 10px;
}

.news-item__date {
    font-size: 13px;
    color: #666666;
    padding-bottom: 10px;
    border-bottom: 1px dashed #cccccc;
}

.news-item__date i {
    font-size: 16px;
    display: inline-block;
}

.news-item__name {
    display: block;
    margin: 5px 0;
    font-family: 'RobotoBold';
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}


.video-box {
    float: right;
    width: 48%;
}

/*home*/
.img_list {
    margin-bottom: 30px;
}

#register_email {
    padding: 47px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inner_email {
    max-width: 600px;
    margin: auto;
    position: relative;
}

.left_email {
    width: 80%;
    float: left;
}

#frmDK input.form-control {
    height: 38px;
}

#frmDK input.form-control:nth-child(1) {
    width: 55%;
    float: left;
    margin-bottom: 5px;
}

#frmDK input.form-control:nth-child(2) {
    width: 44%;
    float: right;
    margin-bottom: 5px;
}

.title_mail {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'RobotoBold';
    margin-top: -10px;
    margin-bottom: 5px;
    color: #3c3c3c;
}

.inner_email p {
    margin-bottom: 4px;
    text-align: center;
    font-size: 14px;
    font-family: 'RobotoRegular'
}

.inner_email>span {
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: 'RobotoRegular';
    margin-bottom: 10px;
}

.btnGui {
    display: block;
    width: 19%;
    float: right;
    height: 80px;
    background: #c90000;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'RobotoBold';
    border: none;
    border-radius: 5px;
}

#map iframe {
    height: 330px;
}

.bannerControls {
    display: none;
}

#info_consult {
    background: #fff;
    padding: 35px 0px;
}

.box_news_owl {
    position: relative;
}

.info_news_owl {
    padding: 10px 20px;
    box-sizing: border-box;
    width: 90%;
    margin: 0px auto;
    position: relative;
    top: -50px;
    left: 0px;
    right: 0px;
    background: #f6f6f6;
}

.info_news_owl h3 a {
    font-size: 18px;
    font-weight: normal;
    font-family: 'RobotoRegular';
    text-transform: uppercase;
    color: #000;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_news_owl h3 a:hover {
    color: #ff0000;
}

.info_news_owl p {
    font-size: 13px;
    line-height: 23px;
    text-align: center;
}

.view_news_owl {
    color: #f00;
    display: block;
    text-align: center;
    margin: 10px 0px;
    font-size: 13px;
    font-family: 'RobotoRegular'
}

.date_news_owl {
    height: 70px;
    width: 70px;
    background: #f6f6f6;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
    padding-top: 6px;
    box-sizing: border-box;
}

.date_news_owl span {
    display: block;
    text-align: center;
    font-size: 13px;
    font-family: 'RobotoRegular';
    text-transform: uppercase;
}

/*product*/

.flex-template-detail {
    display: flex;
    flex-wrap: wrap;
}

.row_product {
    margin-right: -15px;
    margin-left: -15px;
}

.col_product {
    padding-left: 15px;
    padding-right: 15px;
}

.box_product {
    margin-bottom: 30px;
    background: #fff;
}

.img_product {
    text-align: center;
    overflow: hidden;
    display: block;
    position: relative;
}

.name_product {
    font-size: 15px;
    margin-top: 15px;
    font-weight: normal;
    line-height: 23px;
}

.name_product a {
    color: #000;
    font-family: 'RobotoRegular';
    font-weight: normal;
}

.price_product {
    margin-top: 10px;
    font-family: 'RobotoRegular';
    position: relative;
}

.price_product p {
    margin-bottom: 0px;
}

.price_product .price_old {
    text-decoration: line-through;
    font-size: 13px;
}

.price_product .price_now {
    color: #f00;
    font-size: 17px;
    font-family: 'TahomaBold'
}

.price_product span {
    cursor: pointer;
    display: block;
    width: 82px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-family: 'RobotoRegular';
    font-size: 13px;
    position: absolute;
    right: 0px;
    top: 10px;
    background: #3c3c3c
}



.list_sub_img_detail {
    position: relative;
}

.prev_sub_detail,
.next_sub_detail {
    position: absolute;
    width: 28px;
    height: 28px;
    background: url(../images/icon_next_prev_common_owl.png);
    z-index: 10;
    top: 50%;
    margin-top: -14px;
}

.prev_sub_detail {
    background-position: 0px -28px;
    left: 0px;
}

.prev_sub_detail:hover {
    background-position: 0px 0px;
}

.next_sub_detail {
    background-position: -28px -28px;
    right: 0px;
}

.next_sub_detail:hover {
    background-position: -28px 0px;
}

#sub_img_detail {
    margin-top: 5px;
}

.item_owl_sub {
    padding: 0px 2px;
}

/*product detail*/
.item_detail {
    padding: 10px 0px;
    border-bottom: 1px dashed #cdcdcd;
}

.bottom_detail {
    margin-top: 20px;
}

.info_detail {
    box-sizing: border-box;
}

.item_info_detail {
    font-size: 13px;
    line-height: 20px;
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

.item_info_detail.name_detail h1 {
    font-size: 25px;
    font-weight: 600;
    color: #333;
    line-height: 25px;
}

.item_info_detail span.price_now {
    font-size: 24px;
    color: #f00;
    display: block;
    font-family: 'RobotoBold';
    float: left;
}

.item_info_detail .price_old {
    font-size: 15px;
    color: #000;
    text-decoration: line-through;
    display: block;
    float: left;
    padding: 0px 10px;
}

.item_tab {
    text-decoration: none;
    float: left;
    color: #000;
    background: #fff;
    padding: 8px 20px;
    margin-right: 3px;
    cursor: pointer;
    border: 1px solid #EEEEEE;
    border-bottom: none;
    font-weight: bold;
    font-size: 13px;
}

.item_tab:hover,
.item_tab.active {
    display: inline-block;
    background: #0E70BB;
    color: #fff;
}

.contain_content_tab {
    border: 1px solid #e0e0e0;
    padding: 10px;
    background: #fff;
}

.content_tab {
    display: none;
}

.content_tab.active {
    display: block;
}

.amount_cart button {
    float: left;
    width: 35px;
    height: 30px;
    border: 1px solid #eee;
    background: #fff;
    outline: none;
    color: #6d6d6d;
}

.amount {
    height: 30px;
    width: 50px;
    float: left;
    border: 1px solid #eee;
    text-align: center;
    margin: 0px 3px;
    outline: none
}

.item_info_detail .btn {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'RobotoBold'
}

.amount {
    height: 30px;
    width: 50px;
    float: left;
    border: 1px solid #eee;
    text-align: center;
    margin: 0px 3px;
    outline: none;
}

.btn_Cart_Detail {
    width: 255px;
    color: #fff;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
    font-family: 'RobotoRegular';
    font-size: 15px;
    margin-right: 5px;
    border-radius: 3px;
}

.buy-now {
    background: #ffb916;
}

.buy-now:hover {
    background: #e59b11;
    color: #fff;
}

.buy-to-cart {
    background: #f57224;
}

.buy-to-cart:hover {
    background: #d0611e;
    color: #fff;
}

/*news*/
.tieude {
    font-size: 18px;
    font-family: 'RobotoBold';
    font-weight: normal;
    margin-bottom: 10px
}

.box_news {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding: 5px;
    box-sizing: border-box;
}

.box_news_img {
    position: relative;
    display: block;
}

.box_news_img a {
    display: block;
    position: relative;
}

.box_news_name a {
    color: #000;
    font-weight: normal;
    font-family: 'RobotoBold';
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

.box_news_name a:hover {
    color: #f00;
}

.box_news_mota {
    text-align: justify;
    line-height: 22px;
    margin-top: 5px;
    font-size: 13px;
    font-family: 'RobotoRegular';
}

.box_news_readmore {
    text-align: right;
    float: right;
}

.box_news_readmore a:hover {
    color: #000;
}

.box_news_readmore a {
    display: inline-block;
    color: #f00;
    font-weight: bold;
    font-style: italic;
}

/*news other*/
.title_news_other {
    font-size: 20px;
    color: #222;
    margin-bottom: 15px;
}

.item_news_other {
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.name_news_other {
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    color: #000;
}

.name_news_other:hover {
    color: #f00;
}

.img_news_other {
    width: 40%;
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}

.right_news_other {
    width: 60%;
    float: right;
}

/*footer*/
#footer {
    width: 100%;
    margin: 0px auto;
    background: url(../images/bg_footer.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
}

.content_footer_full {
    padding: 35px 0px;
}

.name_company {
    font-family: 'RobotoCondensedRegular';
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
}

.footer-letter {
    margin-top: 10px;
}

.footer-letter__title-name {
    font-size: 18px;
    font-family: 'Oswald';
    text-transform: uppercase;
}

.footer-letter__frm {
    display: flex;
    line-height: 36px;
    border-radius: 999px;
    color: #000000;
    background-color: #fff;
    margin-top: 10px;
    overflow: hidden;
}

.footer-letter__input {
    border: none;
    padding: 0 20px;
    width: calc(100% - 65px);
}

.footer-letter__btn {
    width: 65px;
    font-size: 15px;
    border: none;
    background-color: #fed500;
    font-family: 'RobotoBold';
    text-transform: uppercase;
}

.title_footer {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-family: 'Oswald';
    margin-bottom: 20px;
    position: relative;
}

.title_footer::after {
    width: 50px;
    height: 2px;
    background: #fff;
    position: absolute;
    content: '';
    left: 0px;
    bottom: -6px;
}


.item_footer ul li h3 a {
    font-weight: normal;
    color: #fff;
    display: inline-block;
    padding: 5px 0px;
    font-size: 15px;
    font-family: 'RobotoRegular';
}

.item_footer ul li h3 a:hover {
    text-decoration: underline;
}

.item_footer ul li h3 {
    display: inline-block;
}

.item_footer ul {
    margin-bottom: 15px;
}

.footer-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-ul li {
    width: 49%;
}

.title_email {
    font-size: 14px;
    font-family: 'OpenSansRegular';
}

.frmEmail {
    margin: 20px 0px;
    height: 55px;
    border: 1px solid #959392;
    padding: 2px;
    box-sizing: border-box;
}

.frmEmail input {
    color: #fff;
    font-size: 14px;
    width: 85%;
    float: left;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    padding-left: 15px;
    box-sizing: border-box;
}

.frmEmail button {
    width: 15%;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-family: 'UTMAvo';
    float: left;
    height: 100%;
    border: none;
    outline: none;
    background: #ff0000;
}

.social {
    margin-top: 15px
}

.social span {
    float: left;
    line-height: 27px;
    color: #fff;
    padding-right: 7px;
}

.social img {
    margin-right: 5px;
}

.content_footer {
    color: #fff;
    margin-top: 15px;
}

.register_mail {
    max-width: 765px;
    margin: auto;
    padding: 30px 0px;
}

.title_email {
    font-size: 30px;
    font-family: 'UTMAvo';
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.slogan_mail {
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: 'UTMAvo';
    display: block;
}

#bottom {
    padding: 15px 0px;
    color: #fff;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,.3);
    font-family: 'RobotoBold'
}

.footer-map iframe {
    display: block;
    width: 100%;
    height: 400px;
}

.copyright {
    float: left;
}

.counter {
    float: right;
}

.counter span {
    padding-left: 30px;
}


#btn-zalo {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 25px;
    bottom: 160px;
    z-index: 99999999999;
}

#btn-zalo i {
    display: flex;
    display: -ms-flex;
    align-items: center;
    -ms-flex-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #1182FC;
    position: relative;
    z-index: 9999;
}

#btn-zalo i img {
    vertical-align: middle;
}

.kenit-alo-circle-fill {
    width: 60px;
    height: 60px;
    top: -10px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: rgba(17, 130, 252, 0.45);
    opacity: .75;
    right: -10px;
}

.kenit-alo-circle {
    width: 50px;
    height: 50px;
    top: -5px;
    right: -5px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(17, 130, 252, .8);
    opacity: .1;
    border-color: #1182FC;
    opacity: .5;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.owl-animated-out {
    z-index: 1
}

.owl-animated-in {
    z-index: 0
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    50% {
        opacity: 1;
    }
}


@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* fix flex col sản phẩm và bài viết trên IOS */
@supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    .col_product, .col_news {
        margin-left: -0.3px;
        margin-right: -0.3px;
    }
}

/* fix flex col sản phẩm và bài viết trên safari */
@supports (-webkit-hyphens:none) {
    .col_product,
    .col_news {
        margin-left: -0.3px;
        margin-right: -0.3px;
    }
}
/* fix theme mmenu */

.mm-navbar {
    --mm-color-background: #8c4c1c;
    --mm-color-text-dimmed: #fff;
    --mm-color-button: #fff;
}
/* .mm-panel {
    --mm-color-background: #e0f2fc;
    --mm-color-text: rgb(146, 144, 144);
    --mm-color-button: #8c4c1c;
    --mm-color-border: #fff
} */


.mm-menu {
    --mm-color-background: #8c4c1c;
    --mm-color-text: #fff;
    --mm-color-button: #fff;
    --mm-color-border: #fff
}
/* end fix theme mmenu */
.fotorama__wrap {
    margin: auto;
}


/* no response */
.no-response#full {
    min-width: 1210px;
}

.no-response .fixed {
    min-width: 1210px;
}
.no-response .col_product {
    width: 25%;
}

.no-response .col_news {
    width: 25%;
}

.no-response .img_detail {
    width: 41.67%;
}

.no-response .info_detail {
    width: 58.33%;
}

.no-response .contact-info, .no-response .contact-frm {
    width: 50%;
}

/* END no response */

.js-facebook-messenger-container.closed,.js-facebook-messenger-tooltip.closed{display:none!important}.js-facebook-messenger-tooltip{bottom:97px;right:97px}.js-facebook-messenger-tooltip{color:#404040;background:#fff}.js-facebook-messenger-box,.js-facebook-messenger-button,.js-facebook-messenger-tooltip{z-index:999}.js-facebook-messenger-tooltip{display:none;position:fixed;text-align:center;border-radius:10px;overflow:hidden;font-size:12px;line-height:1;padding:10px;border:1px solid rgba(0,0,0,0.1);box-shadow:rgba(0,0,0,0.15) 0 2pt 10pt;z-index:9999}.js-facebook-messenger-close-tooltip{width:10px;height:10px;display:inline-block;cursor:pointer;margin-left:10px}.js-facebook-messenger-box.rubberBand{-webkit-animation-name:rubberBand;animation-name:rubberBand}.js-facebook-messenger-box.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.js-facebook-messenger-box{bottom:70px;right:15px}.js-facebook-messenger-box{background:#1182fc}.js-facebook-messenger-box,.js-facebook-messenger-button,.js-facebook-messenger-tooltip{z-index:999}.js-facebook-messenger-box{width:60px;height:60px;display:block;position:fixed;cursor:pointer;text-align:center;line-height:60px;background:#1182FC;border-radius:100%;overflow:hidden;-webkit-box-shadow:1px 1px 4px 0 rgba(0,0,0,0.3);-moz-box-shadow:1px 1px 4px 0 rgba(0,0,0,0.3);box-shadow:1px 1px 4px 0 rgba(0,0,0,0.3)}.js-facebook-messenger-box.rotate svg#fb-msng-icon{transform:rotate(0deg)}.js-facebook-messenger-box svg#fb-msng-icon{width:30px;height:30px;position:absolute;top:15px;left:15px;opacity:1;overflow:hidden;-webkit-transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;-moz-transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;-o-transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;transition:opacity 160ms ease-in-out,transform 160ms ease-in-out}.js-facebook-messenger-box.rotate svg#close-icon{transform:rotate(-45deg)}.js-facebook-messenger-box svg#close-icon{opacity:0;width:20px;height:20px;position:absolute;top:20px;left:20px;-webkit-transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;-moz-transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;-o-transition:opacity 160ms ease-in-out,transform 160ms ease-in-out;transition:opacity 160ms ease-in-out,transform 160ms ease-in-out}.js-facebook-messenger-container{transform:translateY(50px);bottom:110px;right:35px}.js-facebook-messenger-container,.js-facebook-messenger-container-button{z-index:1000}.js-facebook-messenger-container{position:fixed;opacity:0;border-radius:10px;pointer-events:none;box-shadow:0 1px 6px rgba(0,0,0,0.06),0 2px 32px rgba(0,0,0,0.16);-webkit-transition:transform 160ms ease-in-out,opacity 160ms ease-in-out;-moz-transition:transform 160ms ease-in-out,opacity 160ms ease-in-out;-o-transition:transform 160ms ease-in-out,opacity 160ms ease-in-out;transition:transform 160ms ease-in-out,opacity 160ms ease-in-out}.js-facebook-messenger-top-header{width:300px}.js-facebook-messenger-top-header{color:#fff;background:#1182fc}.js-facebook-messenger-top-header{display:block;position:relative;width:300px;background:#1182FC;color:#fff;text-align:center;line-height:1;padding:10px;font-size:14px;border-top-left-radius:10px;border-top-right-radius:10px}.js-facebook-messenger-container iframe,.js-facebook-messenger-container-button iframe{border-bottom-left-radius:10px;border-bottom-right-radius:10px}.js-facebook-messenger-box,.js-facebook-messenger-button,.js-facebook-messenger-tooltip{z-index:999}.js-facebook-messenger-container,.js-facebook-messenger-container-button{z-index:1000}.js-facebook-messenger-top-header{color:#fff;background:#1182fc}.js-facebook-messenger-box{background:#1182fc}.js-facebook-messenger-top-header{width:300px}.js-facebook-messenger-tooltip{color:#404040;background:#fff}.js-facebook-messenger-box{bottom:70px;right:15px}.js-facebook-messenger-container{transform:translateY(50px);bottom:135px;right:35px}.js-facebook-messenger-container.open{transform:translateY(0px);opacity:1;pointer-events:all}.js-facebook-messenger-tooltip{bottom:97px;right:97px}.js-facebook-messenger-box.open svg#fb-msng-icon{opacity:0}.js-facebook-messenger-box.rotate.open svg#close-icon{transform:rotate(0deg)}.js-facebook-messenger-box.open svg#close-icon{opacity:1}


@media screen and (max-width: 1300px) {
    #menu .menu-container {
        width: calc(100% - 200px);
    }
}
@media screen and (min-width: 1301px) {
    #slider .owl-stage {
        display: flex;
    }

    #slider .owl-item img {
        width: 100%;
        height: 75%;
    }
    #slider .owl-nav button.owl-next, #slider .owl-nav button.owl-prev {
        top: 38%;
    }
    #container {
        margin-top: -12%;
    }
}

@media screen and (max-width: 1170px) {
    #btn_menu_bootstrap {
        display: block !important;
    }

    #menu {
        background: #8c4c1c;
    }

    .logo {
        position: static;
    }

    .banner-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

@media screen and (max-width: 960px) {
    .inner {
        padding: 0 5px;
    }

    .banner-flex {
        padding-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .header-hotline {
        display: none;
    }

    .index-box {
        padding: 20px 0;
    }

    .about-content,
    .about-img,
    .news-box,
    .video-box {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }

    .fanpage-box {
        overflow: hidden;
    }
}


@media screen and (max-width: 480px) {
    .about-title__name {
        font-size: 24px;
    }
    .header-hotline {
        display: none;
    }

    .measure-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .measure-item__name {
        font-size: 16px;
    }

    .title_main span {
        font-size: 24px;
    }

}
#swal2-content {
    font-size: 18px;
}
